<div>
  <div style="display:flex; align-items:center;">


    <input ng-if="$ctrl.singleLine" class="input" type="text" ng-model="$ctrl.text">
    <textarea wrap="hard" style="min-height: 180px;" ng-if="!$ctrl.singleLine" class="input"  type="text" ng-model="$ctrl.text"></textarea>

    <!--
    <div ng-if="$ctrl.singleLine" id="content" content-editable single-line="true" is-editing="$ctrl.isEdit" ng-model="$ctrl.text"
       style="flex:1;" ng-blur="$ctrl.onBlur()"></div>
    <div ng-if="!$ctrl.singleLine" id="content" ng-blur="$ctrl.onBlur()" content-editable single-line="false" is-editing="$ctrl.isEdit" ng-model="$ctrl.text"
      style="flex:1;"></div>


    <databus-icon ng-if="!$ctrl.readonly" shape="'edit'" size="24" class="no-icon-padding"
      style="padding: 3px 10px;"
      on-click="$ctrl.edit()"></databus-icon>
-->
  </div>
</div>
