<div>


  <div class="field" style="display: flex;">
    <div class="control has-icons-left " style="flex:1;">

      <input class="input" type="text" ng-model="$ctrl.searchInput" ng-change="$ctrl.search()"
        ng-attr-placeholder="{{ $ctrl.placeholder }}">
      <span class="icon is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>


    <div class="field" style="display:flex; align-items: center; line-height: 1;" ng-if="$ctrl.numFilters != 1">

      <div ng-repeat="resourceType in $ctrl.availableResourceTypes" ng-if="$ctrl.filterVisible[resourceType]"
        ng-click="$ctrl.toggleFilter(resourceType);" style="margin-left:4px;" class="is-clickable">
        <type-tag width="36" height="36" ng-class="{ 'grey-out' : !$ctrl.filterActive[resourceType] }" type="resourceType">
        </type-tag>
      </div>

    </div>
  </div>

  <div ng-if="$ctrl.searchInput.length > 0">
    <div ng-if="$ctrl.isSearching" style="display: flex; justify-content: center; margin-top: 2em;">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div ng-if="!$ctrl.isSearching" style="margin-top: 1em;">
      <div ng-if="$ctrl.results.length == 0" style="color: rgb(150, 147, 147);"><i>Your search did not match any
          resource.</i></div>
      <div class="dataset-name" ng-repeat="result in $ctrl.results" style="margin-bottom: 1em;">

        <entity-card label="result.label[0]" type="result.typeName[0]" uri="result.id[0]"
          desc="result.comment[0]">
        </entity-card>


      </div>
    </div>
  </div>
</div>