_site
.sass-cache
.jekyll-metadata
node_modules
dependencies
package-lock.json
data
lookup-app/local-files
mongodb.log
search/index
server/keypair/
test/data
redeploy-remote.sh
redeploy.sh
start_azure.sh
examples/example-metadata.jsonld
model-docu/myold_files
.idea/
dav/
server/manifest.ttl
server/sqlite/
server/index/