_site
.sass-cache
.jekyll-metadata
node_modules
package-lock.json
data
lookup-app/local-files
mongodb.log
search/index
server/keypair/private-key.pem
server/keypair/public-key.pem
server/users/namespaces.csv
test/data
redeploy-remote.sh
redeploy.sh
start_azure.sh
examples/example-metadata.jsonld
model-docu/context.json
model-docu/*.example.jsonld
model-docu/*.shacl
model-docu/model.md
