version: "1.0"
indexPath: ./index
exactMatchBoost: 10
prefixMatchBoost: 5
fuzzyMatchBoost: 2
fuzzyEditDistance: 2
fuzzyPrefixLength: 2
maxResults: 100
format: JSON
minRelevanceScore: 0.1
queryFields:
  - fieldName: label
    weight: 10
    tokenize: true
    queryByDefault: true
  - fieldName: part
    weight: 10
    tokenize: true
    queryByDefault: true
  - fieldName: publisher
    weight: 0
    tokenize: true
    queryByDefault: false
    exact: true
    allowPartialMatch: true
    required: true
    highlight: false
  - fieldName: group
    weight: 0
    tokenize: true
    queryByDefault: false
    exact: true
    allowPartialMatch: true
    required: true
    highlight: false
  - fieldName: typeName
    allowPartialMatch: true
    weight: 1.0
    highlight: false
    required: true
    exact: true
    tokenize: true