<div ng-if="$ctrl.isVisible">
  <style>
    .databus-alert {
      display: flex;
      align-items: center;
      background-color: rgb(233 244 231);
      border-radius: 24px;
      padding: 0.5em 1.5em;
      padding-left: 10px;
      pointer-events: none;
      position: fixed;
      bottom: 6em;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 10000;
    }

    .databus-alert.is-success {
      border: 1px solid rgba(105, 144, 105, 0.5);
    }

    .databus-alert.is-error {
      border: 1px solid #d27c7c;
      background-color: #ffbfbf;
    }
  </style>

  <div ng-if="$ctrl.isSuccess" class="databus-alert is-success">
    <svg class="dashing" width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 130.2 130.2">
      <circle class="path circle" fill="none" stroke="rgb(105, 144, 105)" stroke-width="5" stroke-miterlimit="10"
        cx="65.1" cy="65.1" r="62.1" />
      <polyline class="path check" fill="none" stroke="rgb(105, 144, 105)" stroke-width="5" stroke-linecap="round"
        stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
    </svg>
    <div class="field" style="margin-left:1em; color: rgb(105, 144, 105);">
      <div>{{ $ctrl.message }}</div>
    </div>
  </div>

  <div ng-if="!$ctrl.isSuccess" class="databus-alert is-error">
    <svg class="dashing" width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 130.2 130.2">
      <circle class="path circle" fill="none" stroke="#b86363" stroke-width="5" stroke-miterlimit="10"
        cx="65.1" cy="65.1" r="62.1" />
      <line class="path line" fill="none" stroke="#b86363" stroke-width="5" stroke-linecap="round"
        stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
      <line class="path line" fill="none" stroke="#b86363" stroke-width="5" stroke-linecap="round"
        stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
    </svg>
    <div class="field" style="margin-left:1em; color: #b86363">
      <div>{{ $ctrl.message }}</div>
    </div>
  </div>
</div>