// COLOR PALETTE
$link: #3867d6;

$highlight: #f5f5f5;
$background: #f5f5f5;
$white: #fff;
$icon-color: #b5b5b5;

$yasqe-disabled-background: $background;
$yasqe-disabled-border: #e6e6e6;

$navbar-background: #24292e;

$topic-header: #7a7a7a;
$grey-light: #dbdbdb;
$grey-bg: #919191;

$hierarchy-lines: #dbdbdb;
$icon-light: #dedede;
$icon: #b5b5b5;

$icon-circle-hover: #e6e6e6;
$icon-circle-active: #dedede;

// Entities

$primary: #65bdb2;

$entity-artifact: #66a0c9;
$entity-artifact-bg: #7BA0BB;
    
$entity-consumer: #737381;
$entity-consumer-bg: #7e7e8a;

$entity-group: #6e7699;
$entity-group-bg: #7B89AB;

$entity-version: #76bfb6;
$entity-version-bg: #89BDB7;

$entity-collection: #81b180;
$entity-collection-bg: #94bd93;