// COLOR PALETTE

// Navbar
$nav-background-dark: #353e47;
$nav-background-medium: #3d4853;
$nav-search-border: #fff;
$nav-links: #c4c4c4;
$nav-search-background: $nav-background-medium;

// Action Banner
$banner-background: #e6e7ec;
$banner-box-frame: #fff;
$banner-box-background:  #366281;
$banner-box-background-hover: rgb(255 255 255 / 13%);

// Backgrounds
$background-white: #fff;
$background-light: #fff;


$link: #3867d6;

$highlight: #f5f5f5;
$background: #f5f5f5;
$white: #fff;
$icon-color: #b5b5b5;

$yasqe-disabled-background: $background;
$yasqe-disabled-border: #e6e6e6;


$topic-header: #7a7a7a;
$grey-light: #dbdbdb;
$grey-bg: #919191;

$hierarchy-lines: #dbdbdb;
$icon-light: #dedede;
$icon: #b5b5b5;

$icon-circle-hover: #e6e6e6;
$icon-circle-active: #dedede;

// Entities

$primary: #65bdb2;

$entity-artifact: #66a0c9;
$entity-artifact-bg: #7BA0BB;
    
$entity-consumer: #29acbf;
$entity-consumer-bg: #28b0c5;

$entity-group: #6e7699;
$entity-group-bg: #7B89AB;

$entity-version: #47b49f;
$entity-version-bg: #89BDB7;

$entity-collection: #81b180;
$entity-collection-bg: #94bd93;