@font-face {
    font-family: 'PT Sans';
    src: url('./../fonts/PTSans-Regular.ttf');
  }
  
  @font-face {
    font-family: "PT Sans";
    src: url("./../fonts/PTSans-Bold.ttf");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "PT Sans";
    src: url("./../fonts/PTSans-Italic.ttf");
    font-style: italic;
  }
  
  @font-face {
    font-family: "PT Sans";
    src: url("./../fonts/PTSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto-Bold.ttf');
    font-weight: bold;
  }

  @font-face {
    font-family: 'Inter';
    src: url('./../fonts/Inter-Regular.ttf');
  }



  @font-face {
    font-family: 'Inter';
    src: url('./../fonts/Inter-SemiBold.ttf');
    font-weight: 600;
  }