.databus-navbar {
    height: 78px;
}

.databus-navbar-container {
    z-index: 8000;
    height: 78px;
    align-items: center;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.databus-navbar-content {
    display: flex;
    height: inherit;
    justify-content: stretch;
    align-items: center;
    width: 100%;
}



@media screen and (min-width: 1500px),
print {
    .databus-navbar-content {
        max-width: 1500px;
        margin: auto;
    }
}

.navbar-dropdown {
    min-width: 200px;
    font-size: 1em;
}



.databus-home-icon {
    display: flex;
    align-items: center;
}

.databus-home-icon .org-icon {
    max-width: 200px;
    max-height: 36px;
    min-height: 1.5em;
}

.databus-home-icon .org-separator {
    width: 2px;
    height: 20px;
    background-color: white;
    margin: 0em 1em;
}


.databus-home-icon .org-subtitle {
    font-size: 1.2em;
    color: white;
    margin-right: 2em;
    letter-spacing: 1px;
}

.databus-navbar .nav-search {
    flex: 1;
}


.databus-navbar .databus-navbar-item.fill {
    flex-grow: 1;
}

.databus-navbar-brand {
    display: flex;
    margin-left: 1.5em;
}

.databus-navbar-menu {
    display: flex !important;
    height: inherit;
    position: relative;
    flex: 1;
}

.databus-navbar-item {
    display: flex;
    align-items: center;
    position: relative;
}

.databus-navbar-item.is-light:hover {
    opacity: 1;
}

a.databus-navbar-item {
    color: white;
    margin-right: 1em;
}

.databus-navbar-item.is-light {
    opacity: 0.7;
}

.databus-navbar-group {
    display: flex;
    align-items: stretch;
    flex: 1;
    flex-grow: 10;
}

.databus-navbar-end {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    margin: 0em 1em;
    align-items: stretch;
}

.databus-navbar-item.account-name {
    padding-right: 1em;
    padding-left: 1em;
    margin-right: .5em;
    justify-content: stretch;
    display: flex;
}

.databus-navbar-item.account-name:hover {
    opacity: 0.8;
}

.databus-navbar-item.has-dropdown {
    position: relative;
    cursor: pointer;
    align-items: stretch;
}

.databus-navbar-item.has-dropdown .databus-navbar-dropdown {
    display: none;
}

.databus-navbar-item.has-dropdown.is-active .databus-navbar-dropdown {
    display: block;
}

.databus-navbar-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #404751;
    border-top: 2px solid white;
    padding-bottom: 8px;
    min-width: 250px;
}

.databus-navbar-dropdown-arrow {
    margin-left: 8px;
}

.databus-navbar-item.has-dropdown:hover .databus-navbar-dropdown-arrow {
    opacity: 0.7;
}

@media screen and (max-width: 1024px),
print {
    .databus-navbar-group.is-hidden-for-mobile {
        display: none;
    }
}