@charset "utf-8";

@import 'fonts';
@import 'colors';


@import 'collections';
@import '../node_modules/bulma/bulma.sass';


@import '../node_modules/codemirror/lib/codemirror.css'; 
@import '../node_modules/@triply/yasqe/src/scss/yasqe.scss';
@import '../node_modules/@triply/yasqe/src/scss/buttons.scss'; 
@import '../node_modules/@triply/yasqe/src/scss/codemirrorMods.scss'; 
@import '../node_modules/@triply/yasr/src/main.scss';
@import 'override-checkbox';
@import 'checkmarks';
@import 'yasqe';
@import 'components';
@import 'slick';
@import 'entities';
@import 'markdown';
@import 'normalize';
@import 'nav';
@import 'frontpage';
@import 'sparql';

* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  font-family: 'PT Sans', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5em;
  background: #fff;
}

.table {
  background-color: transparent;
}

body.has-navbar-fixed-top {
  padding-top: 5.3rem;
}

.message {
  max-width: 960px;
}

.input {
  // border-radius: 0px;
  box-shadow: none;
}

.is-divider {
  border-top: 1px solid $hierarchy-lines !important;
}


@media screen and (max-width: 412px), print {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px), print {
  .title.is-2 {
    font-size: 1.8rem;
  }

  .CodeMirror {
    font-size: 12px !important ;
  }

  .description-markdown h1 {
    font-size: 1.6em !important;
  }


  .description-markdown h2 {
    font-size: 1.3em !important;
  }

  .description-markdown h3 {
    font-size: 1.1em !important;
  }
}

@media screen and (min-width: 769px), print {
  .column.main {
    padding-left: 3em;
    border-left: 1px solid #dbdbdb;
  }

  .column.side {
    padding-right: 3em;
  }
}

@media screen and (min-width: 769px), print {
  .column.stats {
    min-width: 400px;
  }
}

.CodeMirror {
  font-size: 14px !important ;
}


.is-clickable {
  cursor: pointer;
}




.uploads-label {
  margin-bottom: 2em;
}

.box {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.button .icon {
  fill: white;
}

.icon {
  margin: 0em 0.25em;
}

.is-large.fab {
  font-size: 7em;
}

.is-large.fas {
  font-size: 5em;
  margin-left: 0.2em;
}

.media-content {overflow: hidden;}

.menu-list li a:hover {
  background: #d9d9d9;
}

.hyphens {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
   overflow-wrap: break-word;
}

.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}
.footer {background-color: white;}

.artifact-card {
  margin-bottom: 1em;
}

.artifact-card .title {
  margin-bottom: 0.2em;
}

.activity-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.activity-bar {
  background-color: red;
  flex-grow: 1;
  flex-basis: 0;
}

.CodeMirror {
  /* height: auto !important; */
}

.yasqe .CodeMirror-scroll {
  //padding-bottom: 0 !important;
}

.yasr_header div {
  display: flex !important;
}

.yasr_header .switch {
  display: none;
}

.yasr_header .tableFilter {
  margin-right: 8px;
}

.yasqe .CodeMirror-sizer {
  border-right-width: 0 !important;
  padding-right: 15px;
  margin-bottom: -20px;
}

.CodeMirror-line {
  max-width: 100%;
}

.dropdown.is-fullwidth {
  display: flex;
}

.dropdown.is-fullwidth .dropdown-trigger,
.dropdown.is-fullwidth .dropdown-menu,
.dropdown.is-fullwidth .button {
  width: 100%;
}

.filter-area {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5em;
}

.filter-item {
    flex-grow: 1;
    flex-basis: 0;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

.filter-item .button.is-static {
  min-width: 8em;
}

.filter-item.is-fullwidth {
  width: 100%;
}

.version-card {
    max-height: 90px;
    overflow: hidden;
}

.version-card.is-expanded {
  max-height: initial;
}

.element-btn {
  fill: black;
}

.element-btn.inactive {
  fill: rgba(200, 200, 200, 1);
}


.editable-collection-element {
  margin: 0 !important;
}

.help {
  display: block;
  font-size: 0.85rem;
  margin-top: 0.15rem;
}

.editable-collection-element .element-content {
  overflow: hidden;
  position: relative;
  -webkit-transition: min-height .5s, max-height .5s; /* Safari */
  transition: min-height .5, max-height .5s;
}

.editable-collection-element .element-view {
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity .5s; /* Safari */
  transition: opacity .5s;
  position: relative;
}

.element-buttons {
  position: absolute;
  top:0;
  right:0;
}

.button-area {
  padding: 5px !important;
  display: flex;
  z-index: 10;
}


.button-area div {
  padding: 8px;
}

.editable-collection-element .element-view.hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
}


.editable-collection-element .element-view.ui-view .table {
  width: 100%;
  border: 1px solid #d1d1d1;
  margin: 0;
}

.editable-collection-element .element-view.ui-view .element-show-all {
  background-color: white;
  border-bottom: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  height: 24px;
  text-align: center;
}

.cart-label {
  position: absolute;
  bottom: 1px;
  right: 10px;
  color: black;
  font-weight: 600;
}

.upload-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.3em 1em;

}


.upload-info h1 {
  font-size: 1em;
  margin-bottom: 0.3em;
  color: #b5b5b5;
}

.upload-info p {
  font-size: 2em;
  font-weight: 300;
}

.section-label {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #999;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#cart-icon {
    position: absolute;
    transform: translate(-50%, -50%);
}

.is-disable{
  pointer-events: none;
  fill: rgba(0, 0, 0, 0.4);
  opacity: .4;
}

.pulseit{
	-webkit-animation: pulse linear .6s infinite;
	animation: pulse linear .6s infinite;
}
@-webkit-keyframes pulse {
	0% { width:36px; height:36px; }
	50% { width:56px; height:56px; }
	100% { width:36px; height:36px; }
}
@keyframes pulse {
  0% { width:36px; height:36px; }
	50% { width:56px; height:56px; }
	100% { width:36px; height:36px; }
}

#collections-alert {
  opacity: 0;
  -webkit-transition: opacity .4s; /* Safari */
  transition: opacity .4s;
}

#collections-alert.show {
  opacity: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.button-margin-left {
  margin-left: .5em;
}

.button-margin {
  margin: .5em;
}


.navbar-item.is-active, .navbar-item,
a.navbar-item.is-active, a.navbar-item {
  color: rgb(74, 74, 74);
}


.publisher-page-group {
  border-left: 1px solid #dbdbdb;
  margin-left: 1em;
  padding-left: 2em;
  margin-bottom: 2.5em;
  margin-top: 2em;

}

.description-markdown h1 {
  font-size: 2em;
  font-weight: 600;
}


.description-markdown h2 {
  font-size: 1.4em;
  font-weight: 500;
}

.description-markdown h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: .5em;
    width:100%;
}

.disabled-yasqe .CodeMirror-lines {
  background-color: whitesmoke;
}

.dataset-header {
  position: relative;
  display: flex;
  margin-bottom: .5em;
  align-items: center;
}

.databus-content-header {
  margin-bottom: .4em;
  margin-top: .3em;
}

.dataset-header .dataset-date {
  text-align: right;
}

.bottom-date {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.license-icon {
  background-color: $primary;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-left: 0.3em;
  padding-right: 0.3em;
  display: inline-flex;
}

.publisher-info .status-message {
  font-style: italic;
  margin-top: 0.5em;
}

.publisher-info .profile-image {
  margin-bottom: 1em;
  max-width: 100%;
  width: 320px;
  height: auto;
}


.publisher-hierarchy .group-entry {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

.publisher-hierarchy .is-divider {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.publisher-hierarchy .group-artifacts {
  margin-left: 6px;
  padding: 2em;
  border-left: 1px solid #dbdbdb;
  transition-duration: 0.5s
}


.publisher-hierarchy .group-artifacts.collapsed {
  max-height: 0px;
  padding-top: 0em;
  padding-bottom: 0em;
  opacity: 0;
  overflow: hidden;
  transition-duration: 0.5s
}

.publisher-hierarchy .group-entry .group-label {
  margin-left: 0.8em;
  font-size: 1.0rem;
  text-transform: capitalize;
}

.publisher-hierarchy .artifact-entry {
  margin-left: 6px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 14px;
  border-left: 1px solid #dbdbdb;
}

.arrow {
  border: solid #aaa;
  border-width: 0 1px 1px 0;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 1px;
}

.arrow.right {
  transition: all .5s;
  transform: translateX(-3px) rotate(-45deg);
  -webkit-transform: translateX(-3px) rotate(-45deg);
}

.arrow.left {
  transition: all .5s;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transition: all .5s;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transition: all .5s;
  transform: translateY(-3px) rotate(45deg);
  -webkit-transform: translateY(-3px) rotate(45deg);
}

/* DATABUS CARD */

.databus-card {
  max-width: 300px;
}

.databus-card .header {
  display: flex;
  align-items: flex-end;
}

.databus-card .header .header-icon {
  width: 128px;
  height: 128px;
  min-width: 128px;
}

.databus-card .header .header-title {
  padding: 0.75em;
  padding-left: 1em;
}


.databus-card .header .header-actions {
  display: flex;
}

.databus-card .header .header-action {
  display: flex;
  margin-right: 2em;
}


.databus-card .header .header-action svg {
  margin-right: 0.5em;
  fill: #3273dc;
}


.databus-card .header a:hover.header-action svg {
  fill: black;
}


.databus-content {
  display: flex;
}

.databus-content-icon {
  width: 96px;
  height: 96px;
  margin-right: 1em;
}

.file-browser-filter {
  margin-bottom: 1.5em;
}

.file-browser-filter .filter-item {
  margin: .4em 0;
  position: relative;
}

.file-browser h1 {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  padding: 0 0 .5em 0;
  margin: 0 0 .75em 0 !important;
}

.file-browser-facet {
  margin-bottom: 1em;
}

.add-filter input {
  border-radius: 0px;
}

.add-filter {
  margin-top: 0.25em;
}

.file-browser-filter .add-filter-results {
  position: absolute;
  z-index: 1000;
  top: 42px;
  width: 100%;
}

.file-browser-filter .is-checkradio[type=checkbox]:checked+label::before, .is-checkradio[type=checkbox]:checked+label:before, .is-checkradio[type=radio]:checked+label::before, .is-checkradio[type=radio]:checked+label:before  {
  border: 2px solid #dbdbdb !important;
  border-radius: 0;
  border-color: $primary !important;
  background-color: white;
}

.file-browser-filter .is-checkradio[type=checkbox]:hover:not([disabled])+label::before, .is-checkradio[type=checkbox]:hover:not([disabled])+label:before, .is-checkradio[type=radio]:hover:not([disabled])+label::before, .is-checkradio[type=radio]:hover:not([disabled])+label:before {
  border-color: $primary !important; 
  background-color: white;
}

.file-browser-filter .is-checkradio[type=checkbox]+label::before, .is-checkradio[type=checkbox]+label:before {
  border-radius: 0;  
  background-color: white;
}

.file-browser-filter .is-checkradio[type=checkbox]+label::after, .is-checkradio[type=checkbox]+label:after {
  border-width: 2px !important;
  background-color: white;
}

.file-browser-filter .add-filter {
  display: flex;
  cursor: pointer;
  width: 100%;
  color: #aaa;
  position: relative;
}

.file-browser-settings {
  border: 1px solid #e3e3e3;
  padding: .8em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
}

.file-browser-settings .vis-picker .button {
  border: 1px solid #e3e3e3;
  color: #aaa;
  background-color: #fbfbfb;
}

.file-browser-settings .vis-picker .button.is-active {
  border: 1px solid #e3e3e3;
  background-color: #fff;
  color: #333;
}

.icon.has-margin-right {
  margin-right: 0.5em !important;
}

.icon .lds-ellipsis  div {
  background:white;
  width: 8px;
  height: 8px;
  top: 28px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #dbdbdb;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.search-result b {
  background-color: $highlight;
}

.dropdown.simple .dropdown-content {
  padding: 0;
  font-size: 1em;
}

.dropdown.simple .dropdown-item {
  padding: .35em .85em;
}

.nested-dropdown-content {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  min-width: 200px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.nested-dropdown:hover .nested-dropdown-trigger {
  background-color: #fafafa;
}

.loading-rect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.dropdown-item {
  font-size: 1em;
  padding: .25em .75em;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #fafafa;
}

.nested-dropdown {
  position: relative;
}

.nested-dropdown:hover .nested-dropdown-content {
  display: block;
  position: absolute;
}

.is-type-tag {
  position: absolute;
  top:0;
  right:0;
}




.tag.is-grey, .button.is-grey {
  background-color: $grey-light;
  border-color: $grey-light;
  color: $white;
}

.is-list-item {
  padding: 0.5em;
}


.is-list-item.is-active {
  background-color: $primary;
  color: $white;
}

.header-breadcrumbs  {
  color: $white;
  font-size: 1.5em;
}

.header-breadcrumbs a  {
  color: $white;
}

.open-beta {
  color: $white;
  position: absolute;
  right: 0;
  padding: .5em .75em;
  font-size: 1.25em;
  font-weight: 600;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.action-separator {
  margin-left:0.5em;
  margin-right:0.5em;
  width: 1px;
  height: 1.5em;
  background-color: $grey-light;
}

.front-page-card {
  background-color: white;
  padding: 2em;
  min-height: 200px;

}

/*
.call-to-action {
  background-color: transparent;
  color: #fff;
  height: 56px;
  border-radius: 24px;
  border-color: #fff;
  padding-left: 2em;
  padding-right: 2em;
  border-width: 2px;
  font-size: 1.2em;
  font-weight: 500;
  margin-right: .5em;
}

.call-to-action.colored {
  color: #69aaa9;
  border-color: #fff;
  background-color: #fff;
}

.call-to-action:hover {
  background-color: #fff;
  border-color: #fff;
  color: #69aaa9;
}*/

.open-beta {
  top: 0
}

.navbar {
  z-index: 1000;
  background-color: #343a40;
}

.navbar-dropdown {
  background-color: #343a40;
}

.navbar-item {
  color: white;
}

a.navbar-item:focus-within {
  background-color: inherit;
  color: white;
}

a.navbar-item {
  color: white;
}

.navbar-dropdown a.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

a.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}



.cookie-dialogue {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  z-index: 10000;
}

.cookie-dialogue h1 {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 0.75em;
}

.dropdown-icon {
  margin-left: -4px;
}

.databus-home-icon {
  display: flex;
  align-items: center;
}

.click-outside-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

small pre.version {
  background-color: initial !important;
}


.fill-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.databus-banner {
  position: relative;
}

.align-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.databus-banner h1 {
  color: white;
  font-weight: 600;
  font-size: 3em;
}

.databus-banner h2 {
  color: white;
  font-size: 1.5em;
}

.version-tag {
  color: white;
  float: right;
  position: absolute;
  padding: 0.5em;
  right: 0;
}


.frontpage-banner {
  background-image: url(../img/banner-background.png);
  text-align: left; 
  padding: 50px; 
  position: relative; 
  background-repeat: repeat;
  height: 160px;
  background-position: center; 
  background-size: 150px;
  color: white;
}

.frontpage-banner .databus-name {
  font-size: 3em; 
  font-weight: bolder; 
  margin: 0px 16px;
  line-height: 1em;
}

.databus-no-content {
  background-color: #f6f6f6;
  color: #9d9d9d;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.placeholder-medium {
  min-height: 400px;
}

.placeholder-large {
  min-height: 600px;
}


.content-variant-tag {
  color: #aaa;
  margin-left: 5px;
}

.artifact-icon {
  margin-left: 20px;
}

.content-variants-panel {
  width: 100%;
}

.content-variants-panel .content-variant {
  padding: 0.35em 0.75em;
  border: 1px solid #dbdbdb;
  margin-bottom: 4px;
  display: flex;
}

.token-progress {
  position: absolute;
  background-color: rgba(100, 255, 100, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
}

.token-error {
  position: absolute;
  background-color: rgba(255, 100, 100, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.deselect-panel {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 49;
  background-color: rgba(0, 0, 0, 0);
}

.focus-content {
  position: relative;
  z-index: 50;
}

.content-header {
  padding: 2.15rem 2rem 1.75rem 2rem;
  border-bottom: 1px solid #e1e4e8;
  background-color: #fafbfc;
}

.upload-type-container {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.upload-type-box {
  border: 1px solid #dbdbdb;
  text-align: center;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
  padding: 2em;
  cursor: pointer;
  color: #bbb;
}

.upload-type-box.is-active {
  color: #2bcbba;
  border: 1px solid #2bcbba;
  background-color: #fafbfc;
}

.upload-type-box.is-active p {
  color: #2bcbba;
}

.upload-type-box div {
  text-align: center;
}

.upload-type-box h1 {
  font-size: 1.75em;
  font-weight: 500;
  margin: 0.5em;
}

.upload-type-box p {
  font-size: 1em;
  color: #aaa;
}

.step-footer {
  display: flex;
  justify-content: flex-end;
}

.distributions-box {
  border: 1px solid #dbdbdb;
  flex-grow: 0;
  min-height: 700px;
  padding: 0.45em 0.75em;
}

.distributions-box.minimized {
  min-height: initial;
  width: 150px;
  height: 36px;
  padding: 0.3em 0.75em;
  margin-right: .75em;
}

.distributions-box.minimized h3 {
  margin-bottom: 0em;
}

.distributions-box h3 {
  color: #bbb;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.token-type-label {
  color: #bbb;
  text-transform: uppercase;
  margin-right: .5em;
}

.hint-box {
  text-align: center;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
  cursor: pointer;
  color: #bbb;
  font-size: 1.1em;

}

.hover-note {
  cursor: pointer;
  display: flex;
}

.hover-dropdown {
  display: none;
}

.hover-note:hover .hover-dropdown {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 48px;
  right: 8px;
  z-index: 10005;
  background-color: rgba(255, 255, 255, 1);
  color: #888;
  border: 1px solid #dbdbdb;
  padding: 0.75em;
  min-width: 600px;
  width: 600px;
  max-width: 600px;
  white-space: initial;
}

.hover-dropdown.has-error {
  background-color: rgba(255, 245, 245, 1) !important;
  color: red !important;
}

.content-box {
  border: 1px solid #e1e4e8;
  padding: 0.5em;
  position: relative;
  margin-bottom: 1.5em;
}

.content-box h3 {
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 1.8em;
  font-size: 1em;
  letter-spacing: 0.1em;
  flex: 1;
}

.content-box .box-content {
  padding-left: 0.6em;
  padding-bottom: 0.6em;
}

.content-box .box-header {
  margin: 0.08em 0.3em;
  display: flex;
}

.content-box .row {
  display: flex;
  margin-bottom: 1em;
}

.content-box .row:last-child {
  margin-bottom: 0em;
}

.content-box .row .row-label {
  min-width: 240px;
  padding-top: .3em;
  display: flex;
}

.placeholder {
  min-height: 600px;
  text-align: center;
  display: flex;
  align-items: center;
}

.wizard-info {
  padding-top: 2em;
  padding-bottom: 1em;
}

.hover-dropdown.content ul {
  margin-top: 0; margin-left: 1.5em;
}

.hover-note {
  margin-left: 1em;
}

.box-separator {
  height: 30px;
}

.hero-body {
  padding: 2.5em 1em;
}

databus-icon {
  display: inline-block;
}