<%- include('header') -%>

<section class="hero databus-banner">
  <div class="hero-body">
    <div class="container  has-text-left">
      <h1 class="title is-2 has-text-left">About DBpedia Databus</h1>
    </div>
  </div>
</section>
<section class="section" style="min-height: 500px;">
  <div class="container">

    <div class="content">
      <h2 class="title is-4">This page is under construction.</h2>
      <p>Information about the DBpedia Databus can be found in the <a href="https://databus.dbpedia.org/dbpedia/publication/strategy/2019.09.09/strategy_databus_initiative.pdf" target="_blank">strategy paper</a></p>
    </div>
  </div>
</section>

<!--
<section >
  <div class="hero-body">
    <div class="container has-text-left">
      <div style="display: flex; align-items: center; margin-bottom: 48px;">
        
        <svg class="is-artifact" width="64" height="64" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd"><path serif:id="shape 21" fill="#fff" d="M6,0 L1,6 l5,6 l5,-6 L6,0z"/></svg> 
        <div style="margin-left: 24px;">
          <h1 class="title is-3 is-artifact has-text-left " style="margin-bottom: 8px;">Artifact</h1>
          <div >This is a group and here is some text about groups explaining the concept of groups.</div>
        </div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 48px;">
        <svg class="is-group" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="#fff" d="M21.698 10.658l2.302 1.342-12.002 7-11.998-7 2.301-1.342 9.697 5.658 9.7-5.658zm-9.7 10.657l-9.697-5.658-2.301 1.343 11.998 7 12.002-7-2.302-1.342-9.7 5.657zm12.002-14.315l-12.002-7-11.998 7 11.998 7 12.002-7z"/></svg>
        <div style="margin-left: 24px;">
          <h1 class="title is-3 is-group has-text-left " style="margin-bottom: 8px;">Group</h1>
          <div >This is a group and here is some text about groups explaining the concept of groups.</div>
        </div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 48px;">
        <svg class="is-collection" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="#fff" d="M11.499 12.03v11.971l-10.5-5.603v-11.835l10.5 5.467zm11.501 6.368l-10.501 5.602v-11.968l10.501-5.404v11.77zm-16.889-15.186l10.609 5.524-4.719 2.428-10.473-5.453 4.583-2.499zm16.362 2.563l-4.664 2.4-10.641-5.54 4.831-2.635 10.474 5.775z"/></svg>
        <div style="margin-left: 24px;">
          <h1 class="title is-3 is-collection has-text-left " style="margin-bottom: 8px;">Collection</h1>
          <div >This is a group and here is some text about groups explaining the concept of groups.</div>
        </div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 48px;">
        <svg class="is-consumer" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="#fff" d="M19 7.001c0 3.865-3.134 7-7 7s-7-3.135-7-7c0-3.867 3.134-7.001 7-7.001s7 3.134 7 7.001zm-1.598 7.18c-1.506 1.137-3.374 1.82-5.402 1.82-2.03 0-3.899-.685-5.407-1.822-4.072 1.793-6.593 7.376-6.593 9.821h24c0-2.423-2.6-8.006-6.598-9.819z"/></svg>
        <div style="margin-left: 24px;">
          <h1 class="title is-3 is-consumer has-text-left " style="margin-bottom: 8px;">Consumer</h1>
          <div >This is a group and here is some text about groups explaining the concept of groups.</div>
        </div>
      </div>

      <div style="display: flex; align-items: center; margin-bottom: 48px;">
        <svg class="is-service" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="#fff" d="M24 13.616v-3.232l-2.869-1.02c-.198-.687-.472-1.342-.811-1.955l1.308-2.751-2.285-2.285-2.751 1.307c-.613-.339-1.269-.613-1.955-.811l-1.021-2.869h-3.232l-1.021 2.869c-.686.198-1.342.471-1.955.811l-2.751-1.308-2.285 2.285 1.308 2.752c-.339.613-.614 1.268-.811 1.955l-2.869 1.02v3.232l2.869 1.02c.197.687.472 1.342.811 1.955l-1.308 2.751 2.285 2.286 2.751-1.308c.613.339 1.269.613 1.955.811l1.021 2.869h3.232l1.021-2.869c.687-.198 1.342-.472 1.955-.811l2.751 1.308 2.285-2.286-1.308-2.751c.339-.613.613-1.268.811-1.955l2.869-1.02zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"/></svg>
        <div style="margin-left: 24px;">
          <h1 class="title is-3 is-service has-text-left " style="margin-bottom: 8px;">Service</h1>
          <div >This is a group and here is some text about groups explaining the concept of groups.</div>
        </div>
      </div>
      
      
    </div>
  </div>
</section>



<section class="section">
  <div class="container">

    <div class="content">

      <a href="https://databus.dbpedia.org/dbpedia/publication/strategy/2019.09.09/strategy_databus_initiative.pdf" target="_blank" >ASDLASDASJDH</a>

      <p>DBpedia is derived from <a href="http://www.wikipedia.org/">Wikipedia</a> and is thus distributed under the same licensing terms as Wikipedia. Hence, we dual-license DBpedia starting with release 3.4. Data comprising DBpedia release 3.4 and subsequent releases is licensed under the terms of the& <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike 3.0</a> license and the <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License">GNU Free Documentation License</a>. Data comprising DBpedia releases up to and including release 3.3 is licensed under the terms of the <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License">GNU Free Documentation License</a>.</p>

      <h2 class="title is-4">Best Practice for Attribution</h2>

      <p><span id="docs-internal-guid-96f0e656-80c7-fcba-c8ec-012f8d93797d" style="box-sizing: border-box;">Attribution</span>&nbsp;in this case means keep DBpedia URIs visible and active through at least one (preferably all) of @href, &lt;link /&gt;, or "Link:". If live links are impossible (e.g., when printed on paper), a textual blurb-based attribution is acceptable.</p>

      <p><span id="docs-internal-guid-96f0e656-80c7-fcba-c8ec-012f8d93797d" style="box-sizing: border-box;">This material is Open Knowledge.</span></p>



      Some closing remarks here
    </div>
  </div>
</section>
-->









<%- include('footer') -%>
