<% include header %>


  <script src="/min/d3.min.js"></script>

  <div ng-controller="AccountPageController">
    <style>
      .profile-picture {
        background-color: white;
        margin-bottom: 1em;
        display: flex;
      }

      .profile-picture img {
        width: 500px;
        height: auto;
      }

      .profile-banner {
        display: flex;
        width: 100%;
        align-items: flex-end;
        padding: 1em 0em;
      }

      .profile-banner .title {
        color: white;
      }
    </style>

    <!-- Banner Section-->
    <section class="hero is-medium-small databus-banner is-consumer">
      <div class="hero-body">
        <div class="container has-text-left">
          <div style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
              <path class="is-white" fill="#fff"
                d="M19 7.001c0 3.865-3.134 7-7 7s-7-3.135-7-7c0-3.867 3.134-7.001 7-7.001s7 3.134 7 7.001zm-1.598 7.18c-1.506 1.137-3.374 1.82-5.402 1.82-2.03 0-3.899-.685-5.407-1.822-4.072 1.793-6.593 7.376-6.593 9.821h24c0-2.423-2.6-8.006-6.598-9.819z" />
            </svg>
            <div style="margin-left: 24px;">
              <h1 class="title is-2 has-text-left is-marginless">{{ profileData.label }}</h1>
              <uri-breadcrumbs class="header-breadcrumbs" uri="profileData.uri"></uri-breadcrumbs>
            </div>
          </div>
        </div>
      </div>
      <div class="open-beta">Open Beta</div>

    </section>

    <!--Navbar -->

    <div class="collection-editor-header" ng-if="profileData != undefined">
      <div class="container">
        <!--About text-->

        <!--Tabs-->
        <div class="collection-editor-tabs">
          <div class="collection-editor-tab" ng-class="{ 'is-active' : tabViewModel.activeTab == 0 }"
            ng-click="goToTab('');">
            <div class="section-label">Overview</div>
          </div>
          <div class="collection-editor-tab" ng-class="{ 'is-active' : tabViewModel.activeTab == 1 }"
            ng-click="goToTab('data');">
            <div class="section-label">Data</div>
          </div>
          <div class="collection-editor-tab" ng-class="{ 'is-active' : tabViewModel.activeTab == 2 }"
            ng-click="goToTab('collections');">
            <div class="section-label">Collections</div>
          </div>
          <!--<div class="collection-editor-tab" ng-class="{ 'is-active' : tabViewModel.activeTab == 3 }"
            ng-click="tabViewModel.activeTab=3;">
            <div class="section-label">Apps & Services</div>
          </div>-->
          <div style="flex: 1"></div>
          <div ng-if="profileData.isOwn" class="collection-editor-tab"
            ng-class="{ 'is-active' : tabViewModel.activeTab == 4 }" ng-click="goToTab('settings')">
            <div class="section-label">
              <databus-icon style="margin-right:12px;" shape="'settings'" size="24">
              </databus-icon>Settings</div>
          </div>
        </div>

      </div>
    </div>

    <div class="section" ng-if="profileData == undefined" ng-controller="ProfileController"
      style="min-height: 600px; display: flex;">
      <div class="container">
        <p class="collection-editor-info-text">Unlock your account by entering a username (your publishing namespace)
          and clicking the
          button below.<br /> Choose your username carefully as you will not be able to change it later.</p>
        <br /> <br />
        <div class="collection-editor-info-text" style="justify-content: center; display: flex;">
          <div class="field has-addons">
            <div class="control">
              <input class="input" style="width: 400px;" ng-model="preferredDatabusUsername" type="text"
                placeholder="Enter a username...">
            </div>
            <div class="control">
              <a class="button is-info" ng-click="createProfile()">
                Unlock Account
              </a>
            </div>
          </div>
        </div>
        <div class="collection-editor-info-text" style="color: red;" ng-if="createAccountError">
          {{ createAccountError }}

          <ul ng-if="showAccountNameHints">
            <li>Between 4 and 15 characters</li>
            <li>Starts and ends with a lowercase letter</li>
            <li>Only lowercase letters, numbers, underscores and dashes allowed</li>
          </ul>
        </div>

      </div>
    </div>

    <style>
      .dashboard-card {
        margin-bottom: 1em;
        padding: 1em 0em;
      }

      .dashboard-card-title {
        margin-bottom: 0.75em;
        color: #aaa;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .hierarchy-card-element {
        display: flex;
        align-items: center;
      }

      .hierarchy-card-cell {
        min-width: 500px;
      }

      .upload-info li {
        padding: 1em;
      }

      .upload-info h1 {
        margin-top: 0.5em;
        margin-bottom: 0;
      }

      .columns .column {
        padding: 0.5em;
      }
    </style>

    <div class="section" style="min-height: 500px;" ng-if="profileData != undefined">

      <!-- DASHBOARD -->
      <div class="container" ng-if="tabViewModel.activeTab == 0">
        <div class="columns">
          <div class="column is-3" style="padding-right: 2em;">

            <div class="profile-picture">
              <img ng-src="{{ getImageUrl() }}"></img>
            </div>

            <div ng-if="profileData.about" class="dashboard-card">
              <div class="dashboard-card-title">About</div>
              <p>{{ profileData.about }}</p>
            </div>
          </div>
          <div class="column main" style="padding-left: 2em;">

            <div class="dashboard-card">
              <div class="dashboard-card-title">Publisher Activity</div>
              <div ng-if="activityData.isLoading" style="text-align:center">
                <div class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div ng-if="!activityData.isLoading" style="display: flex;">
                <activity-chart data="activityData.entries" height="400"></activity-chart>

                <div style="min-width: 40%;">
                  <div ng-if="recentUploads.isLoading" style="text-align:center">
                    <div class="lds-ellipsis">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                  <div ng-if="recentUploads.length > 0" class="timeline" style="padding: 1em 0.5em;">
                    <div ng-repeat="dataset in recentUploads">

                      <header class="timeline-header" ng-if="recentUploads[$index - 1] == null">
                        <span class="tag is-medium is-consumer">Now</span>
                      </header>

                      <header class="timeline-header"
                        ng-if="recentUploads[$index - 1] && recentUploads[$index - 1].year != dataset.year">
                        <span class="tag is-consumer">{{ recentUploads[$index - 1].year }}</span>
                      </header>

                      <header class="timeline-header" ng-if="recentUploads[$index - 1] && recentUploads[$index - 1].year == dataset.year
                  && recentUploads[$index - 1].month != dataset.month">
                        <span class="tag is-consumer">{{ recentUploads[$index - 1].month }}</span>
                      </header>

                      <div class="timeline-item">
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                          <p class="has-text-weight-semibold is-4">{{ dataset.title }}</p>
                          <uri-breadcrumbs class="subtitle is-6 has-text-link" uri="dataset.uri">
                          </uri-breadcrumbs>
                          <p style="margin-top: 0.5em" class="subtitle is-6">{{
                            formatDate(dataset.latestVersionDate)
                            }}</p>
                        </div>

                      </div>

                    </div>

                    
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>

      <!-- DATA -->
      <div ng-if="tabViewModel.activeTab == 1" class="container">

        <div class="field is-grouped" style="margin-bottom: 2.5em;">
          <p class="control" style="flex: 1;">
            <search search-input="dataSearchInput" settings="dataSearchSettings">
            </search>

          </p>

        </div>



        <div ng-if="dataSearchInput == ''" class="hierarchy" ng-repeat="group in publishedData.groups">

          <div style="display: flex; align-items: center; margin-top: 1em; margin-bottom: 1em;">
            <div style="width: 52px;" ng-if="group.artifacts.length == 0"></div>
            <expandable-arrow ng-if="group.artifacts.length > 0" expanded="group.isExpanded"></expandable-arrow>
            <entity-card label="group.title" uri="group.uri" type="'Group'" >
            </entity-card>
          </div>

          <div ng-if="group.isExpanded && group.artifacts.length > 0" style="border-left: 1px solid #dbdbdb; 
          margin-left: 74px; padding-left: 24px; padding-top: 16px; padding-bottom: 16px; margin-bottom: 1em;">

            <div ng-repeat="artifact in group.artifacts" >

              <div class="node">
                <entity-card label="artifact.title" uri="artifact.uri" type="'Artifact'"
                  desc="artifact.abstract">
                </entity-card>
              </div>

              <div ng-if="!$last" style="margin: 1.5em 1.5em;"></div>
            </div>
          </div>
          <div ng-if="!$last" style="margin: 1.5em 1.5em;" class="is-divider"></div>
        </div>

      
      </div>
      <!-- COLLECTIONS -->
      <div class="container" ng-if="tabViewModel.activeTab == 2">

        <div class="field is-grouped" style="margin-bottom: 2em">

          <p class="control" style="flex: 1;">
            <search search-input="collectionSearchInput" settings="collectionSearchSettings">
          </search>
          </p>
        </div>

        <div ng-if="collectionSearchInput == ''" class="hierarchy" ng-repeat="collection in collectionsData.collections">
          <div style="margin-top: 24px; margin-bottom: 24px;">
            <entity-card label="collection.title" uri="collection.uri" type="'Collection'" desc="collection.abstract">
            </entity-card>
          </div>
          <div ng-if="!$last" style="margin: 0em 1.5em;" class="is-divider"></div>
        </div>

      </div>


      <div class="container" ng-if="tabViewModel.activeTab == 4">
        <% include profile %>
      </div>

      
      </section>
    </div>
    <% include footer %>