<% include header %>

  <script src="/min/d3.min.js"></script>
  <div ng-controller="AccountPageController">
    <databus-alert></databus-alert>
    <style>
      .profile-picture {
        background-color: white;
        margin-bottom: 1em;
        display: flex;
      }

      .profile-picture img {
        width: 500px;
        height: auto;
      }

      .profile-banner {
        display: flex;
        width: 100%;
        align-items: flex-end;
        padding: 1em 0em;
      }

      .profile-banner .title {
        color: white;
      }
    </style>

    <!-- Banner Section-->
    <section class="hero is-medium-small databus-banner is-consumer">
      <div class="hero-body">
        <div class="container has-text-left">
          <div style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
              <path class="is-white" fill="#fff"
                d="M19 7.001c0 3.865-3.134 7-7 7s-7-3.135-7-7c0-3.867 3.134-7.001 7-7.001s7 3.134 7 7.001zm-1.598 7.18c-1.506 1.137-3.374 1.82-5.402 1.82-2.03 0-3.899-.685-5.407-1.822-4.072 1.793-6.593 7.376-6.593 9.821h24c0-2.423-2.6-8.006-6.598-9.819z" />
            </svg>
            <div style="margin-left: 24px;">
              <h1 class="title is-2 has-text-left is-marginless">{{ profileData.label }}</h1>
              <uri-breadcrumbs class="header-breadcrumbs" uri="profileData.uri"></uri-breadcrumbs>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Navbar -->
    <div class="collection-editor-header" ng-if="profileData != undefined">
      <div class="container">
        <!--Tabs-->
        <div class="collection-editor-tabs">
          <div class="collection-editor-tab" ng-class="{ 'is-active' : tabNavigation.activeTab == 0 }"
            ng-click="tabNavigation.navigateTo('data');">
            <div class="section-label">Data</div>
          </div>
          <div class="collection-editor-tab" ng-class="{ 'is-active' : tabNavigation.activeTab == 1 }"
            ng-click="tabNavigation.navigateTo('collections');">
            <div class="section-label">Collections</div>
          </div>
          <div style="flex: 1"></div>
          <div ng-if="profileData.isOwn" class="collection-editor-tab"
            ng-class="{ 'is-active' : tabNavigation.activeTab == 2 }" ng-click="tabNavigation.navigateTo('settings')">
            <div class="section-label">
              <databus-icon style="margin-right:12px;" shape="'settings'" size="24">
              </databus-icon>Settings
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" ng-if="profileData == undefined" ng-controller="ProfileController"
      style="min-height: 600px; display: flex;">
      <div class="container">
        <p class="collection-editor-info-text">Unlock your account by entering a username (your publishing namespace)
          and clicking the
          button below.<br /> Choose your username carefully as you will not be able to change it later.</p>
        <br /> <br />
        <div class="collection-editor-info-text" style="justify-content: center; display: flex;">
          <div class="field has-addons">
            <div class="control">
              <input class="input" style="width: 400px;" ng-model="preferredDatabusUsername" type="text"
                placeholder="Enter a username...">
            </div>
            <div class="control">
              <a class="button is-info" ng-click="createProfile()">
                Unlock Account
              </a>
            </div>
          </div>
        </div>
        <div class="collection-editor-info-text" style="color: red;" ng-if="createAccountError">
          {{ createAccountError }}
          <ul ng-if="showAccountNameHints">
            <li>Between 4 and 15 characters</li>
            <li>Starts and ends with a lowercase letter</li>
            <li>Only lowercase letters, numbers, underscores and dashes allowed</li>
          </ul>
        </div>

      </div>
    </div>

    <style>
      .dashboard-card {
        margin-bottom: 1em;
        padding: 1em 0em;
      }

      .dashboard-card-title {
        margin-bottom: 0.75em;
        color: #aaa;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .hierarchy-card-element {
        display: flex;
        align-items: center;
      }

      .hierarchy-card-cell {
        min-width: 500px;
      }

      .upload-info li {
        padding: 1em;
      }

      .upload-info h1 {
        margin-top: 0.5em;
        margin-bottom: 0;
      }

      .columns .column {
        padding: 0.5em;
      }

      .ce-collection-list-header {
        display: flex;
        margin-bottom: 1em;
      }

      .ce-collection-list-header .search-input {
        max-width: 800px;
        flex: 1;
        margin-right: .5em;
      }

      .ce-collection-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        margin-bottom: 1em;
        border-radius: 0;
        border: 1px solid #dbdbdb;
      }

      .ce-collection-list-item:not(:last-child) {
        border-bottom: 1px solid #dbdbdb;
      }

      .ce-flex-filler {
        flex: 1;
      }

      .ce-collection-list-item h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;
        margin-right: .5em;
      }

      .ce-collection-list-item .ce-tool-icons {
        display: flex;
        margin-right: 2em;
      }

      .ce-collection-list-item-header {
        align-items: center;
        margin-bottom: 1em;
        display: flex;
      }

      .ce-collection-list-item-body ul {
        display: flex;
      }

      .ce-collection-list-item-body p {
        margin-bottom: 0.5em;
      }

      .ce-collection-list-item-body li {
        margin-right: 2em;
      }

      .ce-placeholder-text {
        color: rgb(170, 170, 170);
      }

      .account-page-tab {
        min-height: 800px;
      }

      .settings-entity {
        border: 1px solid #dbdbdb;
        padding: 0.5em;
        padding-left: 1em;
        display: flex;
        margin-bottom: 1em;
        align-items: center;
        min-height: 54px;
        border-radius: 8px;
        background-color: #fafbfc;
      }
    </style>

    <div class="section" style="min-height: 500px;" ng-if="profileData != undefined">
      <!-- DATA -->
      <div ng-if="tabNavigation.activeTab == 0" class="container account-page-tab">
        <div class="columns" style="margin: 0">
          <div class="column is-3" style="padding: 0; padding-right: 3em; ">
            <div class="profile-picture">
              <img ng-src="{{ getImageUrl() }}"></img>
            </div>
            <div ng-if="profileData.about" class="dashboard-card">
              <div class="dashboard-card-title">About</div>
              <p>{{ profileData.about }}</p>
            </div>
          </div>
          <div class="column" style="padding: 0">
            <div class="field is-grouped" style="margin-bottom: 1em;">
              <p class="control" style="flex: 1;">
                <search search-input="dataSearchInput" settings="dataSearchSettings">
                </search>
              </p>
            </div>
            <div ng-if="dataSearchInput == ''" ng-repeat="group in publishedData.groups">
              <div style="display: flex; align-items: center; margin-bottom: 1em;">
                <expandable-arrow ng-if="group.artifacts.length > 0" expanded="group.isExpanded"></expandable-arrow>
                <entity-card label="group.title" uri="group.uri" type="'Group'" style="width: 100%">
                </entity-card>
              </div>
              <div ng-if="group.isExpanded && group.artifacts.length > 0"
                style="margin-left: 74px; padding-left: 24px; margin-bottom: 1em;">
                <div ng-repeat="artifact in group.artifacts" style="margin-bottom: 1em;">
                  <entity-card label="artifact.title" uri="artifact.uri" type="'Artifact'" desc="artifact.abstract">
                  </entity-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- COLLECTIONS -->
      <div class="container account-page-tab" ng-if="tabNavigation.activeTab == 1">
        <div class="ce-collection-list-header">
          <div class="search-input control has-icons-left">
            <input class="input" type="text" ng-model="collectionSearch.input" placeholder="Search collections...">
            <span class="icon is-left">
              <i class="fas fa-search"></i>
            </span>
          </div>
          <div class="control">
            <div class="dropdown" ng-class="{ 'is-active' : collectionSearch.sortVisible }">
              <div class="dropdown-trigger">
                <a class="button" aria-haspopup="true" aria-controls="dropdown-menu"
                  ng-click="collectionSearch.sortVisible=true">
                  <span>Sort By</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu"
                style="left: initial; right: 0; padding-top: 8px;">
                <div class="click-outside-mask" ng-if="collectionSearch.sortVisible"
                  ng-click=" collectionSearch.sortVisible=false"></div>
                <div class="dropdown-content">

                  <div class="dropdown-item" style="display: flex;"
                    ng-repeat="property in collectionSearch.sortProperties"
                    ng-click="collectionSearch.toggleSort(property.key)">
                    <div style="flex:1;">{{ property.label }}</div>
                    <div>
                      <databus-icon ng-if="collectionSearch.sortProperty==property.key && !collectionSearch.sortReverse"
                        shape="'sort-asc'" size="20">
                      </databus-icon>
                      <databus-icon ng-if="collectionSearch.sortProperty==property.key && collectionSearch.sortReverse"
                        shape="'sort-desc'" size="20">
                      </databus-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ce-flex-filler"></div>
          <div ng-if="profileData.isOwn" class="button is-collection" ng-click="createNewCollection()">Create New
          </div>
        </div>

        <div ng-if="profileData.isOwn">
          <div class="ce-collection-list">
            <div class="ce-collection-list-item"
              ng-repeat="collection in collectionManager.local | collectionfilter:collectionSearch.input | orderBy:collectionSearch.sortProperty:collectionSearch.sortReverse">
              <div>
                <div class="ce-collection-list-item-header">
                  <type-tag width="48" height="48" style="margin-right:12px" type="'Collection'"
                    ng-class="{ 'grey-out' : collection.isDraft || !collection.isPublished }">
                  </type-tag>
                  <div>
                    <h1>{{ collection.title }}</h1>
                    <div class="ce-placeholder-text" ng-if="!collection.uri">Local draft</div>
                    <uri-breadcrumbs ng-if="collection.uri" uri="collection.uri"></uri-breadcrumbs>
                  </div>
                </div>
                <div class="ce-collection-list-item-body">
                  <p class="ce-placeholder-text" ng-if="!collection.abstract">No abstract available</p>
                  <p>{{ collection.abstract }}</p>
                  <ul>
                    <li>
                      <collection-status is-published="collection.isPublished" is-draft="collection.isDraft"
                        has-local-changes="collection.hasLocalChanges" class="ng-isolate-scope">
                      </collection-status>
                    </li>
                    <li>
                      <div ng-if="collection.issued" style="color: #aaa;">{{
                        formatCollectionDateFromNow(collection.issued) }}</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="ce-tool-icons">
                <databus-icon ng-if="!collection.isDraft" style="margin-right: 3em;" shape="'clipboard'" size="24"
                  is-clickable="true" on-click="utils.copyToClipboard(collection.uri)"></databus-icon>
                <databus-icon style="margin-right: 3em;" shape="'copy'" size="24" is-clickable="true"
                  on-click="createCopy(collection)"></databus-icon>
                <databus-icon style="margin-right:16px;" shape="'edit'" size="24" is-clickable="true"
                  on-click="onEditCollectionClicked(collection)"></databus-icon>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!profileData.isOwn">

          <div ng-repeat="collection in collectionsData.collections  | collectionfilter:collectionSearch.input | orderBy:collectionSearch.sortProperty:collectionSearch.sortReverse">
            <div style="margin-bottom: 1em;">
              <entity-card label="collection.title" uri="collection.uri" type="'Collection'" desc="collection.abstract"
                date="formatCollectionDateFromNow(collection.issued)">
              </entity-card>
            </div>
          </div>
        </div>
      </div>


      <div class="container" ng-if="tabNavigation.activeTab == 2">
        <% include profile %>
      </div>


      </section>
    </div>
    <% include footer %>