<% include header %>
  <!--Artifact HTML-->
  <div ng-controller="ArtifactPageController">

    <databus-alert></databus-alert>
    <style>
      .resource-page-title {
        margin-bottom: .2em !important;
        margin-top: 0em !important;
      }

      .databus-banner-content {
        display: flex;
        align-items: center;
      }

      .databus-banner-text {
        margin-left: 24px;
      }

      .databus-no-content {
        background-color: #f6f6f6;
        color: #bebebe;
        font-size: 28px;
        width: 100%;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>


    <!-- Header Section-->
    <section class="hero is-medium-small databus-banner is-artifact">
      <div class="hero-body">
        <div class="container has-text-left">
          <div class="databus-banner-content">
            <svg width="64" height="64" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
              xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd">
              <path class="is-white" serif:id="shape 21" fill="#fff" d="M6,0 L1,6 l5,6 l5,-6 L6,0z" />
            </svg>
            <div class="databus-banner-text">
              <h1 class="title is-2 resource-page-title">{{ artifact.title }}</h1>
              <uri-breadcrumbs class="header-breadcrumbs" uri="artifact.uri"></uri-breadcrumbs>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--About section with version table-->
    <div class="collection-editor-header">
      <div class="container">
        <div class="content" style="margin-bottom: 2.5em">
          <!--About text-->
          <div ng-if="artifact.abstract && !artifact.description">
            <p class="section-label">
              DCT:ABSTRACT
            </p>
            <span>{{ artifact.abstract }}</span>
          </div>
          <div ng-if="artifact.description">
            <p class="section-label">
              DCT:DESCRIPTION
            </p>
            <span ng-bind-html="markdownToHtml(artifact.description)"></span>
          </div>
          <div ng-if="!artifact.description && artifact.latestVersionDescription">
            <p class="section-label">
              DCT:DESCRIPTION OF LATEST VERSION
            </p>
            <span ng-bind-html="markdownToHtml(artifact.latestVersionDescription)"></span>
          </div>
        </div>
        <div ng-if="versions == null || versions.length == 0" style="margin-bottom: 2em">
        </div>
        <div ng-if="versions != null && versions.length > 0">
          <!--Tabs-->
          <div class="collection-editor-tabs">
            <div class="collection-editor-tab" ng-class="{ 'is-active' : tabs.activeTab == 0 }"
              ng-click="tabs.activeTab=0;">
              <div class="section-label">Files</div>
            </div>
            <div class="collection-editor-tab" ng-class="{ 'is-active' : tabs.activeTab == 1 }"
              ng-click="tabs.activeTab=1;">
              <div class="section-label">Versions</div>
            </div>
            <div style="flex: 1"></div>
            <div class="collection-editor-tab align-right" ng-if="canEdit"
              ng-class="{ 'is-active' : tabs.activeTab == 2 }" ng-click="tabs.activeTab=2;">

              <div class="section-label" style="display: flex;">
                <databus-icon style="margin-right:12px;" shape="'edit'" size="24">
                </databus-icon>Edit
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container" style="min-height: 680px;">

        <div ng-if="tabs.activeTab == 2 && canEdit">

          <div class="content-box">

            <div class="box-header">
              <h3>EDIT ARTIFACT INFO</h3>
            </div>
            <div class="box-content">
              <div class="row">
                <div class="row-label optional">Title</div>
                <div style="flex: 1">
                  <input class="input" type="text" ng-model="formData.artifact.title">
                </div>
              </div>
              <div class="row">
                <div class="row-label optional">Abstract</div>
                <div style="flex: 1">
                  <div>
                    <div class="field override-checkbox" style="margin-bottom: .25em;"
                      ng-class="{ 'is-override' : formData.artifact.generateAbstract }">
                      <input id="check--generate--abstract" name="check--generate--abstract" class="is-checkradio"
                        type="checkbox" ng-model="formData.artifact.generateAbstract">
                      <label for="check--generate--abstract">
                        <span>Generate Abstract From Description</span>
                      </label>
                    </div>
                    <textarea wrap="hard" ng-disabled="formData.artifact.generateAbstract"
                      style="min-height: 120px; resize: vertical;" class="input" type="text"
                      ng-model="formData.artifact.abstract"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="row-label optional">Description</div>
                <div style="flex: 1">
                  <textarea id="description-text" wrap="hard" style="min-height: 240px; resize: vertical;" class="input"
                    type="text" ng-model="formData.artifact.description" ng-change="onDescriptionChanged()"></textarea>
                </div>
              </div>
              <div class="row" style="justify-content: flex-end">
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-consumer" ng-click="saveArtifact()">Save</button>
                  </div>
                  <div class="control">
                    <button ng-click="resetEdits()" class="button">Reset</button>
                  </div>
                </div>
              </div>
            </div>


          </div>




        </div>

        <!--Version table-->
        <div class="topic" ng-if="tabs.activeTab==1">
          <table class="table is-size-6 is-fullwidth">
            <col width="40%">
            <col width="30%">
            <col width="30%">
            <tbody>
              <tr>
                <th>Version</th>
                <th>Release Date</th>
                <th class="is-hidden-touch">License</th>
              </tr>
              <tr ng-repeat="version in versions">
                <td>
                  <a ng-href="{{ getPathname(version.version) }}">{{ version.version }}</a>
                </td>
                <td>{{ formatDate(version.date) }}</td>
                <td class="is-hidden-touch"><a href="{{ version.license }}">{{ version.license }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="topic file-browser" ng-if="tabs.activeTab==0">
          <div ng-if="versions == null || versions.length == 0">
            <div class="databus-no-content">
              <p>There are no datasets associated with this artifact!</p>
            </div>
          </div>
          <div ng-if="versions != null && versions.length > 0">
            <div class="columns" style="margin-top: 0;">
              <div class="column is-3">
                <facets-view node="artifactNode" resource-type="artifact" on-change="onFacetSettingsChanged()">
                </facets-view>
              </div>
              <div class="column">
                <file-browser node="groupNode" full-query="fileSelector.fullQuery" query="fileSelector.query"
                  config="fileSelector.config"></file-browser>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <% include footer %>