<% include header %>
  <!--Artifact HTML-->
  <div ng-controller="ArtifactPageController">

    <style>
      .resource-page-title {
        margin-bottom: .2em !important;
        margin-top: 0em !important;
      }

      .databus-banner-content {
        display: flex;
        align-items: center;
      }

      .databus-banner-text {
        margin-left: 24px;
      }

      .databus-no-content {
        background-color: #f3f3f3;
        color: #bebebe;
        font-size: 28px;
        width: 100%;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>


    <!-- Header Section-->
    <section class="hero is-medium-small databus-banner is-artifact">
      <div class="hero-body">
        <div class="container has-text-left">
          <div class="databus-banner-content">
            <svg width="64" height="64" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"
              xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd">
              <path class="is-white" serif:id="shape 21" fill="#fff" d="M6,0 L1,6 l5,6 l5,-6 L6,0z" />
            </svg>
            <div class="databus-banner-text">
              <h1 class="title is-2 resource-page-title">{{ artifact.title }}</h1>
              <uri-breadcrumbs class="header-breadcrumbs" uri="artifact.uri"></uri-breadcrumbs>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--About section with version table-->
    <div class="collection-editor-header">
      <div class="container">
        <!--About text-->
        <div id="artifact-info" class="topic">
          <p class="section-label">About</p>
          <p>{{ artifact.description }}</p>
        </div>
        <div ng-if="versions == null || versions.length == 0" style="margin-bottom: 2em">
        </div>
        <div ng-if="versions != null && versions.length > 0">
          <!--Tabs-->
          <div class="collection-editor-tabs">
            <div class="collection-editor-tab" ng-class="{ 'is-active' : tabs.activeTab == 0 }" 
              ng-click="tabs.activeTab=0;">
              <div class="section-label">Files</div>
            </div>
            <div class="collection-editor-tab" ng-class="{ 'is-active' : tabs.activeTab == 1 }" 
              ng-click="tabs.activeTab=1;">
              <div class="section-label">Versions</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container" style="min-height: 480px;">
        <!--Version table-->
        <div class="topic" ng-if="tabs.activeTab==1">
          <table class="table is-size-6 is-fullwidth">
            <col width="40%">
            <col width="30%">
            <col width="30%">
            <tbody>
              <tr>
                <th>Version</th>
                <th>Release Date</th>
                <th class="is-hidden-touch">License</th>
              </tr>
              <tr ng-repeat="version in versions">
                <td>
                  <a href="{{ version.versionUri }}">{{ version.version }}</a>
                </td>
                <td>{{ formatDate(version.date) }}</td>
                <td class="is-hidden-touch"><a href="{{ version.license }}">{{ version.license }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="topic file-browser" ng-if="tabs.activeTab==0">
          <div ng-if="versions == null || versions.length == 0">
            <div class="databus-no-content">
              <p>There are no datasets associated with this artifact!</p>
            </div>
          </div>
          <div ng-if="versions != null && versions.length > 0">
            <div class="columns" style="margin-top: 0;">
              <div class="column is-3">
                <facets-view node="artifactNode" resource-type="artifact" on-change="onFacetSettingsChanged()">
                </facets-view>
              </div>
              <div class="column">
                <file-browser node="groupNode" full-query="fileSelector.fullQuery" query="fileSelector.query"
                  config="fileSelector.config"></file-browser>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <% include footer %>