
<% include header %>

<script src="/js/utils/markdown-toc.js"></script>

<div ng-controller="BlogEntryController" ng-cloak>

  <!-- Header -->
  <section class="hero is-medium-small databus-banner is-blog">
    <div class="hero-body">
      <div class="container has-text-left">
        <div style="display: flex; align-items: center;">
          <svg width="64" height="64" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
            xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd">
            <path class="is-white" serif:id="shape 21" fill="#fff" d="M21 9.662c-2.287.194-5.197 1.038-7 1.794v-1.064c1.933-.721 4.598-1.54 7-1.745v1.015zm0 2.031c-2.287.194-5.197 1.038-7 1.794v-1.064c1.933-.721 4.598-1.54 7-1.745v1.015zm0 2.031c-2.287.194-5.197 1.038-7 1.794v-1.064c1.933-.721 4.598-1.54 7-1.745v1.015zm0 2.031c-2.287.194-5.197 1.038-7 1.794v-1.064c1.933-.721 4.598-1.54 7-1.745v1.015zm0-9.951c-2.402.204-5.068 1.024-7 1.745v1.933c1.804-.756 4.713-1.6 7-1.794v-1.884zm-18 2.843c2.402.205 5.067 1.024 7 1.745v1.064c-1.803-.756-4.713-1.6-7-1.794v-1.015zm0 2.031c2.402.205 5.067 1.024 7 1.745v1.064c-1.803-.756-4.713-1.6-7-1.794v-1.015zm0 2.031c2.402.205 5.067 1.024 7 1.745v1.064c-1.803-.756-4.713-1.6-7-1.794v-1.015zm0 2.032c2.402.205 5.067 1.024 7 1.745v1.064c-1.803-.756-4.713-1.6-7-1.794v-1.015zm0-7.054c2.287.194 5.196 1.038 7 1.794v-1.933c-1.932-.72-4.598-1.54-7-1.744v1.883zm9-2.724c-3.063-1.671-7.776-2.755-12-2.963v17c4.289.206 8.195 1.249 12 3 3.805-1.751 7.711-2.794 12-3v-17c-4.224.208-8.937 1.292-12 2.963zm-10-.791c4.264.496 6.86 1.467 9 2.545v12.702c-2.968-1.184-5.939-1.95-9-2.271v-12.976zm20 12.975c-3.061.321-6.032 1.088-9 2.271v-12.701c2.187-1.103 4.757-2.051 9-2.544v12.974z" /></svg>
          <div style="margin-left: 24px;">
            <h1 class="title is-2 is-marginless">{{ article.title }}</h1>
            <uri-breadcrumbs class="header-breadcrumbs" uri="article.uri"></uri-breadcrumbs>
          </div>
        </div>
      </div>

    </div>
    <div class="open-beta">Open Beta</div>
  </section>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <!-- Blog entry action buttons -->
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control" ng-if="isBlogger && !isEdit" >
              <button class="button is-blog" ng-click="edit()">
                <span>Edit</span>
              </button>
            </p> 
            <p class="control" ng-if="isBlogger && !isEdit && article.issued == undefined" >
              <button class="button" ng-click="publish()">
                <span>Publish</span>
              </button>
            </p>
            <p class="control" ng-if="isBlogger && !isEdit && article.issued != undefined" >
              <button class="button" ng-click="unpublish()">
                <span>Unpublish</span>
              </button>
            </p>
            <p class="control" ng-if="isEdit && isBlogger" >
              <button class="button is-blog" ng-click="save()">
                <span>Save</span>
              </button>
            </p>
            <p class="control" ng-if="isBlogger && !isEdit && article.issued == undefined" >
              <button class="button is-danger" ng-click="showDeleteModal()">
                <span>Delete</span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Delete modal to make deletion more safe -->
  <div ng-if="isBlogger" class="modal" ng-class="{ 'is-active' : deleteInfo.showModal }">
    <div class="modal-background" ng-click="deleteInfo.showModal = false" style="background-color: rgba(0, 0, 0, 0.4)"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete Blog Entry</p>
        <button ng-click="deleteInfo.showModal = false" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <p>In order to delete the blog entry please retype the blog entry id and click delete.</p>
          <div class="field">
            <div class="control">
              <input ng-model="deleteInfo.id" class="input" type="text" placeholder="Please retype the blog entry id"
                ng-class="{ 'is-danger' : hasPublishError() }">
            </div>
            <p ng-if="deleteInfo.error != null" class="help is-danger">{{ deleteInfo.error }}</p>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button ng-click="deleteBlogEntry()" class="button is-danger is-active">
          <span class="icon has-text-primary has-margin-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M21.698 10.658l2.302 1.342-12.002 7-11.998-7 2.301-1.342 9.697 5.658 9.7-5.658zm-9.7 10.657l-9.697-5.658-2.301 1.343 11.998 7 12.002-7-2.302-1.342-9.7 5.657zm12.002-14.315l-12.002-7-11.998 7 11.998 7 12.002-7z"/></svg>
          </span>
            Delete Permanently
        </button>
        <button ng-click="deleteInfo.showModal = false" class="button">Cancel</button>
      </footer>
    </div>
  </div>

  <!-- Read-only or edit view -->
  <section class="section">
    <div class="container" style="min-height: 800px;">
      <div ng-if="!isEdit" class="columns">
        <div class="column" style="margin-right: 2em;">
          <div class="content" id="content">
            <div class="hyphens description-markdown" ng-bind-html="markdownToHtml(article.content)"></div>
            <div ng-if="article.issued != undefined" style="margin-top: 2em" class="has-text-grey-light">Published {{ article.issued }}</div>
          </div>
        </div>
        <div class="column is-4 main">
          <div class="toc">
            <p class="section-label">Table Of Contents</p>
            <div id="toc"></div>
          </div>
        </div>
      </div>
      <div ng-if="isEdit && isBlogger" class="content">
        <p class="section-label">Title</p>
        <input class="input" type="text" ng-model="article.title" />
        <p class="section-label">Abstract</p>
        <textarea class="input" style="min-height: 200px;" ng-model="article.abstract" id="custom-query" multiline="true" class="textarea"></textarea>
        <p class="section-label">Content Markdown</p>
        <textarea class="input" style="min-height: 800px;" ng-model="article.content" id="custom-query" multiline="true" class="textarea"></textarea>
      </div>

    </div>

  </section>


</div>
<% include footer %>
