
<% include header %>
<div ng-controller="BlogController" ng-cloak>

  <!-- Header -->
  <section class="hero is-medium-small databus-banner is-blog">
    <div class="hero-body">
      <div class="container has-text-left">
        <div style="display: flex; align-items: center;">
          <svg width="64" height="64" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
            xmlns:serif="http://www.serif.com/" fill-rule="evenodd" clip-rule="evenodd">
            <path class="is-white" serif:id="shape 21" fill="#fff" d="M21 9.662c-2.287.194-5.197 1.038-7 1.794v-1.064c1.933-.721 4.598-1.54 7-1.745v1.015zm0 2.031c-2.287.194-5.197 1.038-7 1.794v-1.064c1.933-.721 4.598-1.54 7-1.745v1.015zm0 2.031c-2.287.194-5.197 1.038-7 1.794v-1.064c1.933-.721 4.598-1.54 7-1.745v1.015zm0 2.031c-2.287.194-5.197 1.038-7 1.794v-1.064c1.933-.721 4.598-1.54 7-1.745v1.015zm0-9.951c-2.402.204-5.068 1.024-7 1.745v1.933c1.804-.756 4.713-1.6 7-1.794v-1.884zm-18 2.843c2.402.205 5.067 1.024 7 1.745v1.064c-1.803-.756-4.713-1.6-7-1.794v-1.015zm0 2.031c2.402.205 5.067 1.024 7 1.745v1.064c-1.803-.756-4.713-1.6-7-1.794v-1.015zm0 2.031c2.402.205 5.067 1.024 7 1.745v1.064c-1.803-.756-4.713-1.6-7-1.794v-1.015zm0 2.032c2.402.205 5.067 1.024 7 1.745v1.064c-1.803-.756-4.713-1.6-7-1.794v-1.015zm0-7.054c2.287.194 5.196 1.038 7 1.794v-1.933c-1.932-.72-4.598-1.54-7-1.744v1.883zm9-2.724c-3.063-1.671-7.776-2.755-12-2.963v17c4.289.206 8.195 1.249 12 3 3.805-1.751 7.711-2.794 12-3v-17c-4.224.208-8.937 1.292-12 2.963zm-10-.791c4.264.496 6.86 1.467 9 2.545v12.702c-2.968-1.184-5.939-1.95-9-2.271v-12.976zm20 12.975c-3.061.321-6.032 1.088-9 2.271v-12.701c2.187-1.103 4.757-2.051 9-2.544v12.974z" /></svg>
          <div style="margin-left: 24px;">
            <h1 class="title is-2 is-marginless">DBpedia News & Articles</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="open-beta">Open Beta</div>
  </section>

  <!-- Collection Toolbar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <!-- Collection action buttons -->
        <div class="navbar-item">
          <div class="field is-grouped" ng-if='isBlogger'>
            <!-- Edit button -->
            <div class="control" >
              <input ng-model="blogEntry.id" class="input" type="text" placeholder="Please enter ID">
            </div>
            <div class="control" >
              <button class="button is-blog" ng-click="createEntry()">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path class="is-white" d="M7.127 22.564l-7.126 1.436 1.438-7.125 5.688 5.689zm-4.274-7.104l5.688 5.689 15.46-15.46-5.689-5.689-15.459 15.46z"/></svg>
                </span>
                <span>Create Blog Entry</span>
              </button>
            </div>

            <!-- Create new collection button -->
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--div class="collection-editor-header">
    <div class="container">
      
      <div id="artifact-info" class="topic" style="margin-bottom: 2em;">
        <p class="section-label">About</p>
        <p>This is the DBpedia Blog</p>
      </div>

      

    </div>
  </div>-->

  <section class="section">
    <div class="container" style="min-height: 800px;">
      <div class="content">
      </div>
      <p class="section-label">Articles</p>

      <div ng-if="articles == undefined || articles.length == 0">There are no articles yet.</div>
      <div ng-repeat="article in articles">
        <entity-card 
          label="article.title"
          uri="article.uri"
          desc="article.abstract"
          type="'BlogEntry'"
          date="article.issued"></entity-card>
        <div ng-if="!$last" class="is-divider"></div>
      </div>
    </div>
  </section>
</div>
<% include footer %>
