<% include header %>
  <div ng-controller="CollectionsEditorController" ng-cloak>

    <!-- Header -->
    <script src="https://unpkg.com/n3/browser/n3.min.js"></script>

    <!-- NOT LOGGED IN VIEW-->
    <div class="section" ng-if="!authenticated" style="min-height: 500px;">
      <div class="container">
        <p class="collection-editor-info-text">You need to be logged in to use the Databus Collection Editor.</p>
        <br />
        <p class="collection-editor-info-text">Don't have an account yet? Create one now!</p>
        <br /> <br />
        <div class="collection-editor-info-text">
          <button class="button is-consumer" ng-click="logMeIn()" style="width: 100px; height: 40px">
            <span class="icon has-text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path class="is-white"
                  d="M12.451 17.337l-2.451 2.663h-2v2h-2v2h-6v-5l6.865-6.949c1.08 2.424 3.095 4.336 5.586 5.286zm11.549-9.337c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-3-3c0-1.104-.896-2-2-2s-2 .896-2 2 .896 2 2 2 2-.896 2-2z" />
              </svg>
            </span>
            <span class="is-hidden-desktop-only">
              Login
            </span>
          </button>
        </div>
      </div>
    </div>

    <div class="section" ng-if="authenticated && !hasAccount"
      style="min-height: 600px; display: flex; align-items: center;">
      <div class="container">
        <p class="collection-editor-info-text">You need to create a user account in order to publish data.</p>
        <br />
        <div class="collection-editor-info-text">
          <button class="button is-secondary" ng-click="createAccount()" style="width: 200px; height: 40px">
            <span>
              Create Account
            </span>
          </button>
        </div>
      </div>
    </div>

    <!--LOGGED IN VIEW-->

    <div ng-if="authenticated && hasAccount" style="min-height: 500px;">

      <!-- LOADING VIEW -->
      <div class="section" ng-if="!collectionManager.isInitialized" style="text-align:center; margin: 2em;">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>


      <!-- LOADED VIEW -->
      <div ng-if="collectionManager.isInitialized">

        <style>
          .ce-sidebar {
            flex-basis: 20%;
            flex-grow: 0;
            min-height: 1000px;
            background-color: #343a40;
            color: white;
            background-image: url(../img/banner-background.png);
            background-repeat: repeat;
            background-size: 150px;
          }

          .ce-sidebar-header {
            padding: 16px 16px;
            font-size: 1.1em;
            background-color: #445462;
          }

          .ce-sidebar-caption {
            padding: 12px 16px;
            color: white;
            font-weight: 600;
            background-color: #445462;
          }

          .ce-sidebar-button {
            padding: 12px 36px;
            display: flex;
            cursor: pointer;
            position: relative;
            align-items: center;
          }

          .ce-sidebar-gadient {
            height: 128px;
          }

          .ce-sidebar-button:hover {
            background-color: rgba(255, 255, 255, 0.06);
          }

          .ce-sidebar-button.is-active {
            background-color: #709e70
          }

          .ce-sidebar-button.is-active:hover {
            background-color: #7caa7c
          }

          .ce-sidebar-button.is-active .ce-sidebar-button-pointer {
            width: 0px;
            height: 0px;
            border-top: 24px solid transparent;
            border-bottom: 24px solid transparent;
            border-right: 24px solid #f9fafb;
            position: absolute;
            top: 0;
            right: 0;
          }

          .ce-content-active-hint {
            background-color: rgb(233 244 231);
            padding: 1em 1.5em;
            margin-bottom: 1em;
            color: rgb(128 150 124);
            border: 1px solid rgb(202 222 199);
          }

          .ce-content-header {
            color: #68859e;
            font-size: 1.5rem;
            margin: 0;
            font-family: 'PT Sans', sans-serif;
            display: flex;
            align-items: center;
          }

          .ce-content-hint {
            color: #999;
            margin-bottom: 1em;
          }

          .ce-content-collection-entry {
            display: flex;
            align-items: center;
            border: 1px solid #dbdbdb;
            border-top: none;
            cursor: pointer;
          }

          .ce-content-collection-active-hint {
            margin: 0px 32px;
            width: 60px;
            text-align: right;
            color: rgb(142 168 137)
          }

          .ce-content-collection:last-child {
            border-bottom: 1px solid #dbdbdb;
          }

          .ce-content-collection-entry.is-active {
            background-color: rgb(233 244 231)
          }

          .ce-content-section {
            display: flex;
            border-bottom: 1px solid #dbdbdb;
            padding: .2em 0em;
            align-items: center;
            font-weight: 600;
            cursor: pointer;
          }




          .ce-action-bar {
            background-color: #4c5259;
            color: #f1f1f1;

            display: flex;
            align-items: center;
            padding: 0.25em 1.5em;

            position: relative;
            z-index: 1005;
          }

          .ce-action-bar-title {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            flex-basis: 20%;
            flex: 1;
            line-height: 1.5;
            font-size: 1.2em;
          }

          .ce-action-bar-content {
            display: flex;
            align-items: center;
            padding: 8px 0px;
          }

          .ce-action-bar-button {
            padding: 4px;
            display: flex;
            opacity: 0.9;
            cursor: pointer;
            align-items: center;
          }

          .ce-action-bar-button:hover {
            opacity: 1;
          }

          .ce-action-bar-separator {
            width: 1px;
            height: 36px;
            margin: 0px 10px;
            background-color: rgba(255, 255, 255, 0.2);
          }

          div.diagonal3:before {
            content: '';
            position: absolute;
            top: -1px;
            left: -33px;
            border-top: 32px solid #cfcfcf;
            border-left: 32px solid transparent;
            width: 0;
            z-index: 1;
          }

          div.inside:before {
            content: '';
            position: absolute;
            top: -1px;
            left: -32px;
            border-top: 31px solid #ebebeb;
            border-left: 31px solid transparent;
            width: 0;
            z-index: 2;
          }

          .ce-status-bar {
            height: 32px;
            background-color: #ebebeb;
            position: absolute;
            right: 0;
            z-index: 1000;
            width: 320px;
            border-bottom: 1px solid #cfcfcf;
            border-left: 1px solid #ebebeb;
          }
        </style>

        <div class="ce-action-bar" ng-if="session.activeTab == 0">
          <div class="ce-action-bar-title">
            Collection Editor
          </div>
          <div class="ce-action-bar-content">
            <div style="flex: 1"> </div>
            <div class="ce-action-bar-button" ng-click="createNewCollection()" style="margin-right: .5em;">
              <databus-icon style="margin-right:8px;" color="'white'" shape="'add'" size="24"></databus-icon>
              Create New Collection
            </div>
            <div class="ce-action-bar-separator"></div>
            <div class="ce-action-bar-button" ng-click="editCopy()">
              <databus-icon style="margin-right:8px;" color="'white'" shape="'copy'" size="24"></databus-icon>
              Duplicate Active Collection
            </div>

            <div class="ce-action-bar-separator"></div>
            <div class="ce-action-bar-button" ng-click="deleteCollection()">
              <databus-icon style="margin-right:8px;" color="'white'" shape="'delete'" size="24"></databus-icon>
              Delete Active Collection
            </div>
          </div>
        </div>

        <div class="ce-action-bar" ng-if="session.activeTab > 0">
          <div class="ce-action-bar-title" ng-click="goToTab('')"
            style="cursor: pointer; display: flex; align-items: center;">
            <databus-icon shape="'left-thick'" color="'#fff'" size="16" style="margin-right: .5em;"></databus-icon>
            {{ collectionManager.activeCollection.label }}
          </div>
          <div class="ce-action-bar-content">
            <div style="flex: 1"> </div>
            <div class="ce-action-bar-button" ng-click="saveCollection()">
              <databus-icon class="is-white" style="margin-right:12px;" color="'white'" shape="'upload'" size="24">
              </databus-icon>Commit Collection
            </div>
            <div class="ce-action-bar-separator" ng-if="!collectionManager.activeCollection.isDraft"></div>
            <div class="ce-action-bar-button" ng-click="discardChanges()"
              ng-if="!collectionManager.activeCollection.isDraft">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'download'" size="24">
              </databus-icon>Discard Changes
            </div>
            <div class="ce-action-bar-separator"
              ng-if="!collectionManager.activeCollection.isDraft && !collectionManager.activeCollection.isPublished">
            </div>
            <div class="ce-action-bar-button" ng-click="unHideCollection()"
              ng-if="!collectionManager.activeCollection.isDraft && !collectionManager.activeCollection.isPublished">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'eye'" size="24">
              </databus-icon>Unhide Collection
            </div>
            <div class="ce-action-bar-separator"
              ng-if="!collectionManager.activeCollection.isDraft && collectionManager.activeCollection.isPublished">
            </div>
            <div class="ce-action-bar-button" ng-click="hideCollection()"
              ng-if="!collectionManager.activeCollection.isDraft && collectionManager.activeCollection.isPublished">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'hide'" size="24">
              </databus-icon>Hide Collection
            </div>
            <div class="ce-action-bar-separator"></div>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <div class="ce-action-bar-button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>More</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu" style="right: 0; left: initial;">
                <div class="dropdown-content">
                  <a class="dropdown-item" ng-click="downloadAsJson()">
                    Download as JSON
                  </a>
                  <a href="#" class="dropdown-item" ng-click="queryToClipboard()">
                    Copy Query to Clipboard
                  </a>
                  <a ng-if="authenticated" class="dropdown-item" ng-click="createSnapshot()">
                    Create stable Snapshot
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ce-status-bar diagonal3" style="display: flex;" ng-if="session.activeTab > 0">
          <div class="inside" style="display: flex; align-items:center; padding-left: .5em;">

            <div style="color: #828385; margin-right: .5em;">Status:</div>
            <collection-status is-published="collectionManager.activeCollection.isPublished"
              is-draft="collectionManager.activeCollection.isDraft"
              has-local-changes="collectionManager.activeCollection.hasLocalChanges" class="ng-isolate-scope">
            </collection-status>
          </div>
        </div>

        <div style="display: flex; width: 100%;">
          <div class="ce-sidebar">
            <br />
            <div class="ce-sidebar-button" ng-if="session.activeTab == 0"
              ng-class="{ 'is-active' : session.activeTab == 0 }" ng-click="goToTab('')">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'collections'" size="24">
              </databus-icon>
              My Collections<div class="ce-sidebar-button-pointer"></div>
            </div>
            <div class="ce-sidebar-button" ng-if="session.activeTab > 0"
              ng-class="{ 'is-active' : session.activeTab == 1 }" ng-click="goToTab('docu')">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'edit'" size="24">
              </databus-icon>
              Edit Documentation<div class="ce-sidebar-button-pointer"></div>
            </div>

            <div class="ce-sidebar-button" ng-if="session.activeTab > 0"
              ng-class="{ 'is-active' : session.activeTab == 2 }" ng-click="goToTab('content')">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'collections-thin'" size="24">
              </databus-icon>
              Edit Content<div class="ce-sidebar-button-pointer"></div>
            </div>



            <div class="ce-sidebar-button" ng-if="session.activeTab > 0"
              ng-class="{ 'is-active' : session.activeTab == 3 }" ng-click="goToTab('preview')">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'eye'" size="24">
              </databus-icon>
              Preview<div class="ce-sidebar-button-pointer"></div>
            </div>
            <div class="ce-sidebar-button" ng-if="session.activeTab > 0"
              ng-class="{ 'is-active' : session.activeTab == 4 }" ng-click="goToTab('query')">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'help'" size="24">
              </databus-icon>
              Query<div class="ce-sidebar-button-pointer"></div>
            </div>
            <div class="ce-sidebar-button" ng-if="session.activeTab > 0"
              ng-class="{ 'is-active' : session.activeTab == 5 }" ng-click="goToTab('import')">
              <databus-icon style="margin-right:12px;" color="'white'" shape="'download'" size="24"></databus-icon>
              Import & Export<div class="ce-sidebar-button-pointer"></div>
            </div>

            <div class="ce-sidebar-gadient">

            </div>
          </div>
          <div style="width: 100%;  background-color: #f9fafb;">
            <div style="flex: 1; padding: 3.5em 3.5em;">
              <div ng-if="session.activeTab == 0">
                <div style="margin-bottom: 1em; border-top: 1px solid #dbdbdb">
                  <div ng-repeat="collection in collectionManager.local" class="ce-content-collection-entry"
                    ng-class="{ 'is-active' : collection.uuid == collectionManager.activeCollection.uuid }">
                    <div style="flex: 1; padding: 1em; display: flex;" ng-click="onCollectionClicked(collection)">
                      <span style="color: #999; margin-right: .4em" ng-if="collection.isDraft">DRAFT:</span>
                      <span style="color: #b5b5b5; margin-right: .2em; "
                        ng-if="!collection.isDraft && collection.hasLocalChanges">*</span>
                      <span style="flex: 1;">{{ collection.label }}</span>
                    </div>
                    <div class="ce-content-collection-active-hint">
                      <span ng-if="collection.uuid == collectionManager.activeCollection.uuid">ACTIVE</span>
                    </div>
                    <collection-status style="margin-right: 64px;" is-published="collection.isPublished"
                      is-draft="collection.isDraft" has-local-changes="collection.hasLocalChanges"></collection-status>
                  </div>
                </div>
              </div>
              <div ng-if="session.activeTab == 1">

                <div class="content-box">
                  <div class="box-header">
                    <h3>EDIT COLLECTION INFO</h3>
                  </div>
                  <div class="box-content">

                    <div class="row" ng-if="!collectionManager.activeCollection.isDraft">
                      <div class="row-label optional">Collection URI</div>
                      <div style="flex: 1">
                        <a ng-href="{{ collectionManager.activeCollection.uri }}">{{
                          collectionManager.activeCollection.uri
                          }}</a>
                      </div>
                    </div>

                    <div class="row" ng-if="collectionManager.activeCollection.isDraft">
                      <div class="row-label optional">Collection Identifier</div>
                      <div style="flex: 1">
                        <input type="text" class="input" ng-model="form.identifier.value" />
                        <div>Collection will be accessible at <span style="color:#3867d6">{{ baseUrl
                            }}/{{username}}/collections/{{form.identifier.value.length
                            > 0 ? form.identifier.value : '...'}}</span></div>
                        <div class="has-text-danger" ng-if="form.identifier.error">{{
                          getStatusMessage(form.identifier.error) }}</div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="row-label optional">Title</div>
                      <div style="flex: 1">
                        <input class="input" type="text" ng-model="collectionManager.activeCollection.label">
                        <div class="has-text-danger" ng-if="form.label.error">{{ getStatusMessage(form.label.error) }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="row-label optional">Abstract</div>
                      <div style="flex: 1">
                        <div>
                          <div class="field override-checkbox" style="margin-bottom: .25em;"
                            ng-class="{ 'is-override' : form.generateAbstract }">
                            <input id="check--generate--abstract" name="check--generate--abstract" class="is-checkradio"
                              type="checkbox" ng-model="form.generateAbstract">
                            <label for="check--generate--abstract">
                              <span>Generate Abstract From Description</span>
                            </label>
                          </div>
                          <textarea wrap="hard" ng-disabled="form.generateAbstract"
                            style="min-height: 120px; resize: vertical;" class="input" type="text" ng-change=""
                            ng-model="collectionManager.activeCollection.abstract"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="row-label optional">Description</div>
                      <div style="flex: 1">
                        <textarea wrap="hard" style="min-height: 240px; resize: vertical;" class="input" type="text"
                          ng-model="collectionManager.activeCollection.description"
                          ng-change="onDescriptionChanged()"></textarea>
                        <div class="has-text-danger" ng-if="form.description.error">{{
                          getStatusMessage(form.description.error) }}</div>
                      </div>
                    </div>

                  </div>


                </div>

                <!--

                <div class="ce-content-body">
                  <table class="collection-summary table is-size-6 is-fullwidth">
                    <colgroup>
                      <col width="20%">
                      <col width="80%">
                    </colgroup>
                    <tbody>
                      <tr ng-if="!collectionManager.activeCollection.isDraft">
                        <td>Collection URI</td>
                        <td>
                          <a ng-href="{{ collectionManager.activeCollection.uri }}">{{
                            collectionManager.activeCollection.uri
                            }}</a>
                        </td>
                      </tr>
                      <tr ng-if="collectionManager.activeCollection.isDraft">
                        <td>Collection Identifier</td>
                        <td>
                          <input type="text" class="input" ng-model="form.identifier.value" />
                          <div>Collection will be accessible at <span style="color:#3867d6">{{ baseUrl
                              }}/{{username}}/collections/{{form.identifier.value.length
                              > 0 ? form.identifier.value : '...'}}</span></div>
                          <div class="has-text-danger" ng-if="form.identifier.error">{{
                            getStatusMessage(form.identifier.error) }}</div>
                        </td>
                      </tr>
                      <tr>
                        <td>Label</td>
                        <td>
                          <edit-label single-line="true" text="collectionManager.activeCollection.label"
                            on-change="onActiveCollectionChanged()"></edit-label>
                          <div class="has-text-danger" ng-if="form.label.error">{{ getStatusMessage(form.label.error) }}
                          </div>
                        </td>
                      </tr>


                      <tr>
                        <td>Description (Markdown)</td>
                        <td>
                          <edit-label single-line="false" text="collectionManager.activeCollection.description"
                            on-change="onActiveCollectionChanged()"></edit-label>
                          <div class="has-text-danger" ng-if="form.description.error">{{
                            getStatusMessage(form.description.error) }}</div>
                        </td>
                      </tr>

                    </tbody>
                  </table>


                </div>-->



              </div>


              <div ng-if="session.activeTab == 2">


                <div style="margin-bottom: 5em;" class="ce-content-body">
                  <collection-hierarchy-two collection="collectionManager.activeCollection"
                    on-change="onActiveCollectionChanged()" on-add-content="onAddContent(source)">
                  </collection-hierarchy-two>
                </div>


              </div>

              <div ng-if="session.activeTab == 3">


                <div style="padding: 1em; background-color: white; border: 1px solid #dbdbdb;">
                  <collection-statistics collection="collectionManager.activeCollection">
                  </collection-statistics>
                  <br />
                  <collection-data-table collection="collectionManager.activeCollection">
                  </collection-data-table>
                </div>
              </div>

              <div ng-if="session.activeTab == 4">

                <div style="display: flex; align-items: center; margin-bottom: 1em;">

                  <p class="control">
                    <button class="button" ng-click="queryToClipboard()">
                      <databus-icon style="margin-right:12px;" color="'#333'" shape="'copy'" size="24">
                      </databus-icon>Copy Query to Clipboard
                    </button>
                  </p>
                </div>

                <div class="ce-content-hint">The SPARQL field below shows the generated query for your collection.</div>

                <div style="font-size: large; color: #da4c4c;" ng-if="collectionQuery === undefined">
                  <hr>
                  To get the collection-related query, you need to add data to this collection, first!
                </div>
                <div ng-if="collectionQuery !== undefined">
                  <yasqe-text query="collectionQuery" read-only="true"> </yasqe-text>
                </div>


              </div>

              <div ng-if="session.activeTab == 6">
                <div style="display: flex; align-items: center;">
                  <div class="ce-content-header" style="flex: 1;">Add Groups & Artifacts to "{{
                    collectionManager.activeCollection.label }}"</div>
                  <div class="button" ng-click="goToTab('edit')">
                    <databus-icon style="margin-right:12px;" color="'white'" shape="'edit'" size="24">
                    </databus-icon>Back To Editing
                  </div>
                </div>
                <div class="ce-content-hint">Enter a search term to find Groups and Artifacts. You can add the search
                  results to your active Databus Collection by clicking the <b>Add To Collection</b> button next to the
                  search result.</b>.</div>

                <collection-search on-component-added="onComponentAdded()" target-databus-url="session.targetDatabusUrl"
                  collection="collectionManager.activeCollection">
                </collection-search>

              </div>


              <div ng-if="session.activeTab == 5">

                <div style="display: flex; align-items: center; margin-bottom: 1em;">
                  <div class="ce-content-header" style="flex: 1;">Import / Export Content for "{{
                    collectionManager.activeCollection.label }}"</div>

                </div>

                <div class="ce-content-hint">You can download the JSON of a collection or import the contents of a
                  collection below.</div>

                <div style="display: flex; margin-bottom: .5em; align-items: center;">
                  <h1 style="flex: 1; font-weight: 600; font-size: 1.1em;">Export</h1>
                  <p class="control">
                    <button class="button" ng-click="downloadAsJson()">
                      <databus-icon style="margin-right:12px;" color="'#333'" shape="'download'" size="24">
                      </databus-icon>Download JSON
                    </button>
                  </p>
                </div>
                <pre>{{ collectionJson | json }}</pre>
                <br />

                <br /> <br />
                <div style="display: flex; margin-bottom: .5em; align-items: center;">
                  <h1 style="flex: 1; font-weight: 600; font-size: 1.1em;">Import</h1>

                </div>
                <textarea class="input" style="min-height: 300px; margin-bottom: 0.5em;"
                  ng-model="loadFromJsonString"></textarea>
                <p class="control">
                  <button class="button" ng-click="loadFromJson(loadFromJsonString)">
                    <databus-icon style="margin-right:12px;" color="'#333'" shape="'import'" size="24">
                    </databus-icon>Import JSON
                  </button>
                </p>
              </div>

            </div>

          </div>
        </div>



        <div ng-if="statusCode > 0 && getStatusSuccess()" class="ce-alert">

          <svg class="dashing" width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 130.2 130.2" ng-if="getStatusSuccess()">
            <circle class="path circle" fill="none" stroke="rgb(105, 144, 105)" stroke-width="5" stroke-miterlimit="10"
              cx="65.1" cy="65.1" r="62.1" />
            <polyline class="path check" fill="none" stroke="rgb(105, 144, 105)" stroke-width="5" stroke-linecap="round"
              stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
          </svg>
          <div class="field" style="margin-left:1em; color: rgb(105, 144, 105);">
            <div>{{ getStatusMessage(statusCode) }}</div>
          </div>
        </div>

        <div ng-if="statusCode > 0 && !getStatusSuccess()" class="ce-alert"
          style="background-color: #ffa1a1; border-color: #df8a8a">

          <svg class="dashing" width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 130.2 130.2" ng-if="!getStatusSuccess()">
            <circle class="path circle" fill="none" stroke="rgb(202, 71, 71)" stroke-width="5" stroke-miterlimit="10"
              cx="65.1" cy="65.1" r="62.1" />
            <line class="path line" fill="none" stroke="rgb(202, 71, 71)" stroke-width="5" stroke-linecap="round"
              stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
            <line class="path line" fill="none" stroke="rgb(202, 71, 71)" stroke-width="5" stroke-linecap="round"
              stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
          </svg>

          <div class="field" style="margin-left:1em; color: rgb(202, 71, 71)">
            <div>{{ getStatusMessage(statusCode) }}</div>
          </div>
        </div>
      </div>
    </div>

    <% include footer %>