<% include header %>

  <script src="/js/utils/markdown-toc.js"></script>
  <style>
    #toc {
      margin-bottom: 3em;
    }

    #toc ol {
      margin-top: 0em;
      margin-left: 0em;
      list-style-type: circle;
    }


    li {
      margin: 0.25em;
      margin-left: 2em;
    }
  </style>
  <section class="hero is-medium-small databus-banner is-consumer">
    <div class="hero-body">
      <div class="container has-text-left">
        <div style="display: flex; align-items: center;">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
            <path class="is-white" fill="#fff"
              d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 18.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25c.691 0 1.25.56 1.25 1.25s-.559 1.25-1.25 1.25zm1.961-5.928c-.904.975-.947 1.514-.935 2.178h-2.005c-.007-1.475.02-2.125 1.431-3.468.573-.544 1.025-.975.962-1.821-.058-.805-.73-1.226-1.365-1.226-.709 0-1.538.527-1.538 2.013h-2.01c0-2.4 1.409-3.95 3.59-3.95 1.036 0 1.942.339 2.55.955.57.578.865 1.372.854 2.298-.016 1.383-.857 2.291-1.534 3.021z" />
          </svg>
          <div style="margin-left: 24px;">
            <h1 class="title is-2 has-text-left is-marginless ng-binding">Documentation</h1>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="open-beta">Open Beta</div>
  </section>

  <section class="section" ng-controller="DocumentationController">
    <div class="container">
      <div class="content">
        <h1>Table of Contents</h1>
        <div id="toc"></div>
        <div id="content" ng-bind-html="markdownToHtml(content) ">
        </div>
      </div>
    </div>
  </section>
  <% include footer %>