
<% include header %>
<div ng-controller="DownloadController" ng-cloak>

  <!-- Header -->
  <section class="hero is-medium-small databus-banner">
    <div class="hero-body">
      <div class="container has-text-left">
        <h1 class="is-2 title is-marginless">Download</h1>

        <uri-breadcrumbs class="header-breadcrumbs" uri="collection.uri"></uri-breadcrumbs>
      </div>
    </div>
    <div class="open-beta">Open Beta</div>
  </section>
    <div class="container">
      <input ng-model="collectionURI" class="input" type="text" placeholder="Please enter a collection URI">

      <input ng-model="targetFolder" class="input" type="text" placeholder="Please enter a folder name">
      <a class="button is-primary" ng-click="download()">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M15.003 3h2.997v5h-2.997v-5zm8.997 1v20h-24v-24h20l4 4zm-19 5h14v-7h-14v7zm16 4h-18v9h18v-9z"/></svg>
        </span>
        <span>Publish</span>
      </a>
    </div>
  <section>



  </section>


</div>
<% include footer %>
