<footer class="footer has-background-dark has-text-white">
<section class="section">
  <div class="container">
  <div class="columns">
    <div class="column is-4">
      <div class="content">
    <h2 style="color:white;">DBpedia</h2>

<p><i>Global and Unified Access to Knowledge Graphs</i> </br>
© Copyright 2019&nbsp;by DBpedia. All Rights Reserved.</p>
<a class="has-text-white" href="/imprint">Imprint</a>  |  <a target="_blank" class="has-text-white" href="https://github.com/dbpedia/databus/issues?q=is%253Aissue+is%253Aopen">Report Issue</a>  |  <a target="_blank" class="has-text-white" href="http://dev.dbpedia.org/Download_Data">Sparql Endpoint</a>  |  <a target="_blank" class="has-text-white" href="https://forum.dbpedia.org">Forum</a>

  </div>
    </div>
  </div>
  </div>
</section>
</footer>


</body>
</html>
