<% include header %>


  <div ng-controller="GroupPageController">

    <style>
      .resource-page-title {
        margin-bottom: .2em !important;
        margin-top: 0em !important;
      }

      .databus-banner-content {
        display: flex;
        align-items: center;
      }

      .databus-banner-text {
        margin-left: 24px;
      }

      .databus-no-content {
        background-color: #f3f3f3;
        color: #bebebe;
        font-size: 28px;
        width: 100%;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

   
    </style>

    <section class="hero is-medium-small databus-banner is-group">
      <div class="hero-body">
        <div class="container has-text-left">
          <div class="databus-banner-content">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
              <path class="is-white" fill="#fff"
                d="M21.698 10.658l2.302 1.342-12.002 7-11.998-7 2.301-1.342 9.697 5.658 9.7-5.658zm-9.7 10.657l-9.697-5.658-2.301 1.343 11.998 7 12.002-7-2.302-1.342-9.7 5.657zm12.002-14.315l-12.002-7-11.998 7 11.998 7 12.002-7z" />
            </svg>
            <div class="databus-banner-text">
              <h1 class="resource-page-title title is-2 has-text-left">{{ group.title }}</h1>
              <uri-breadcrumbs class="header-breadcrumbs" uri="group.uri"></uri-breadcrumbs>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="collection-editor-header">
      <div class="container">
        <div class="content" style="margin-bottom: 2.5em">
          <div ng-if="group.abstract && !group.description">
            <p class="section-label">
              DCT:ABSTRACT
            </p>
            <span>{{ group.abstract }}</span>
          </div>
          <div ng-if="group.description">
            <p class="section-label">
              DCT:DESCRIPTION
            </p>
            <span ng-bind-html="markdownToHtml(group.description)"></span>
          </div>
        </div>
        <div ng-if="artifacts == null || artifacts.length == 0" style="margin-bottom: 2em">
        </div>
        <div ng-if="artifacts != null && artifacts.length > 0">
          <!--Tabs-->
          <div class="collection-editor-tabs">
            <div class="collection-editor-tab" ng-class="{ 'is-active' : tabs.activeTab == 0 }" ng-click="tabs.activeTab=0;">
              <div class="section-label">Files</div>
            </div>
            <div class="collection-editor-tab" ng-class="{ 'is-active' : tabs.activeTab == 1 }" ng-click="tabs.activeTab=1;">
              <div class="section-label">Artifacts</div>
            </div>
            <div style="flex: 1"></div>
            <div class="collection-editor-tab align-right" ng-if="canEdit" ng-class="{ 'is-active' : tabs.activeTab == 2 }" ng-click="tabs.activeTab=2;">
             
              <div class="section-label" style="display: flex;">
                <databus-icon style="margin-right:12px;" shape="'edit'" size="24">
                </databus-icon>Edit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container" style="min-height: 680px">

        <div ng-if="tabs.activeTab == 2 && canEdit">


          <div class="content-box" ng-init="group=session.formData.group">

            <div class="box-header">
              <h3>EDIT GROUP INFO</h3>
            </div>
            <div class="box-content">
              <div class="row">
                <div class="row-label optional">Title</div>
                <div style="flex: 1">
                  <input class="input" type="text" ng-model="formData.group.title">
                </div>
              </div>
              <div class="row">
                <div class="row-label optional">Abstract</div>
                <div style="flex: 1">
                  <div>
                    <div class="field override-checkbox" style="margin-bottom: .25em;"
                      ng-class="{ 'is-override' : formData.group.generateAbstract }">
                      <input id="check--generate--abstract" name="check--generate--abstract" class="is-checkradio"
                        type="checkbox" ng-model="formData.group.generateAbstract">
                      <label for="check--generate--abstract">
                        <span>Generate Abstract From Description</span>
                      </label>
                    </div>
                    <textarea wrap="hard" ng-disabled="formData.group.generateAbstract"
                      style="min-height: 120px; resize: vertical;" class="input" type="text"
                      ng-model="formData.group.abstract"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="row-label optional">Description</div>
                <div style="flex: 1">
                  <textarea wrap="hard" style="min-height: 240px; resize: vertical;" class="input" type="text"
                    ng-model="formData.group.description"></textarea>
                </div>
              </div>
              <div class="row" style="justify-content: flex-end">
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-consumer" ng-click="saveGroup()">Save</button>
                  </div>
                  <div class="control">
                    <button ng-click="resetEdits()" class="button">Reset</button>
                  </div>
                </div>
              </div>
            </div>

          
          </div>
          


          
        </div>
        <div ng-if="tabs.activeTab == 0">
          <div ng-if="!group.hasData">
            <div class="databus-no-content">
              <p>There are no datasets associated with this group!</p>
            </div>
          </div>
          <div ng-if="group.hasData">
            <div class="columns" style="margin-top: 0;">
              <div class="column is-3">
                <facets-view node="groupNode" resource-type="group" on-change="onFacetSettingsChanged()">
                </facets-view>
              </div>
              <div class="column">
                <file-browser node="groupNode" full-query="fileSelector.fullQuery" query="fileSelector.query"
                  config="fileSelector.config" on-file-query-result="onFileQueryResult"></file-browser>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="tabs.activeTab == 1">
          <div class="field" style="display: flex; line-height: 1;">
            <div class="control" style="flex:1;margin-right: 0.5em;">
              <input class="input" type="text" ng-model="$parent.searchInput" ng-change="invokeSearch();"
                placeholder="Search this group...">
            </div>
          </div>
          <br />

          <div class="dataset-name" ng-if="searchInput.length > 0" ng-repeat="result in searchResult">
            <div style="display: flex; align-items: center;">
              <entity-card style="flex: 1;" label="result.title" type="'Artifact'" uri="result.uri"
                desc="result.abstract">
              </entity-card>
            </div>
            <div ng-if="!$last" class="is-divider"></div>
          </div>

          <div ng-if="searchInput.length == 0" class="dataset-name" ng-repeat="result in artifacts">
            <div style="display: flex; align-items: center;">
              <entity-card style="flex: 1;" label="result.title" type="'Artifact'" uri="result.uri"
                desc="result.abstract">
              </entity-card>
            </div>
            <div ng-if="!$last" class="is-divider"></div>
          </div>


        </div>
      </div>
    </section>
  </div>
  <% include footer %>