<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/website.css">
  <link rel='stylesheet prefetch' href='/node_modules/bulma-timeline/dist/css/bulma-timeline.min.css'>
  <link rel='stylesheet prefetch' href='/node_modules/bulma-divider/dist/css/bulma-divider.min.css'>
  <link rel='stylesheet prefetch' href='/node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css'>
  <link href='/node_modules/yasgui-yasqe/dist/yasqe.min.css' rel='stylesheet' type='text/css' />
  <link href='/node_modules/codemirror/lib/codemirror.css' rel='stylesheet' type='text/css' />

  <link href="/fonts/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="/fonts/fontawesome/css/solid.min.css" rel="stylesheet">

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/angular/angular.min.js"></script>
  <script src="/node_modules/markdown-it/dist/markdown-it.js"></script>
  <script src='/node_modules/codemirror/lib/codemirror.js'></script>
  <script src='/node_modules/moment/min/moment.min.js'></script>
  <script src='/node_modules/@triply/yasqe/build/yasqe.min.js'></script>

  <script src="/dist/main.js"></script>

</head>

<body ng-app="databusApplication" ng-cloak>
<%- include('variables') -%>
<%- include('nav') -%>