<%- include('header') -%>

<section class="hero is-medium-small databus-banner">
  <div class="hero-body">
    <div class="container  has-text-left">
      <h1 class="title is-2 has-text-left">Imprint</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">

    <div class="content">

      <h2 class="title is-4">License</h2>

      <p>DBpedia is derived from <a href="http://www.wikipedia.org/">Wikipedia</a> and is thus distributed under the same licensing terms as Wikipedia. Hence, we dual-license DBpedia starting with release 3.4. Data comprising DBpedia release 3.4 and subsequent releases is licensed under the terms of the& <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike 3.0</a> license and the <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License">GNU Free Documentation License</a>. Data comprising DBpedia releases up to and including release 3.3 is licensed under the terms of the <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_the_GNU_Free_Documentation_License">GNU Free Documentation License</a>.</p>

      <h2 class="title is-4">Best Practice for Attribution</h2>

      <p><span id="docs-internal-guid-96f0e656-80c7-fcba-c8ec-012f8d93797d" style="box-sizing: border-box;">Attribution</span>&nbsp;in this case means keep DBpedia URIs visible and active through at least one (preferably all) of @href, &lt;link /&gt;, or "Link:". If live links are impossible (e.g., when printed on paper), a textual blurb-based attribution is acceptable.</p>

      <p><span id="docs-internal-guid-96f0e656-80c7-fcba-c8ec-012f8d93797d" style="box-sizing: border-box;">This material is Open Knowledge.</span></p>


      <h1 class="title is-4">Legal notice</h1>

      <p>DBpedia Association affiliated with</p>

      <p>Institut für Angewandte Informatik e. V. (InfAI)</p>

      <p>Goerdelerring 9<br>
        04109 Leipzig</p>

        <p>Telefon: +49 341 229037 0<br>
          Telefax: +49 341 229037 99<br>
          E-Mail:&nbsp;<a href="mailto:info@infai.org">info@infai.org</a></p>

          <p>Vertretungsberechtigter Vorstand:<br>
            Prof. Dr. Bogdan Franczyk (1. Vorsitzender)<br>
            Prof. Dr. Gerhard Heyer (2. Vorsitzender)</p>

            <p>Geschäftsführung:<br>
              Andreas Heinecke, Dr. Roland Fassauer</p>

              <p>Registereintrag:<br>
                Registergericht: Amtsgericht Leipzig<br>
                Registernummer: VR 4342</p>

                <p>Umsatzsteuer-ID:<br>
                  Umsatzsteuer-Identifikationsnummer nach §27a Umsatzsteuergesetz:<br>
                  DE274344504</p>

                  <h3 class="title is-4">Hinweis gemäß Online-Streitbeilegungs-Verordnung</h3>

                  <p>Nach geltendem Recht sind wir verpflichtet, Verbraucher auf die Existenz der Europäischen Online-Streitbeilegungs-Plattform hinzuweisen, die für die Beilegung von Streitigkeiten genutzt werden kann, ohne dass ein Gericht eingeschaltet werden muss. Für die Einrichtung der Plattform ist die Europäische Kommission zuständig. Die Europäische Online-Streitbeilegungs-Plattform ist hier zu finden:&nbsp;<a href="http://ec.europa.eu/odr">http://ec.europa.eu/odr</a>. Unsere E-Mail lautet:&nbsp;<a href="mailto:info@infai.org">info@infai.org</a></p>

                  <h3 class="title is-4">Hinweis gemäß Verbraucherstreitbeilegungsgesetz (VSBG)</h3>

                  <p>Wir sind nicht bereit und verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

                  <h3 class="title is-4">Verantwortlicher für journalistisch-redaktionelle Inhalte gem. § 55 II RstV:</h3>

                  <p>Institut für Angewandte Informatik e. V. (InfAI)</p>

                  <p>Goerdelerring 9<br>
                    04109 Leipzig</p>

                    <p>Telefon: +49 341 229037 0<br>
                      Telefax: +49 341 229037 99<br>
                      E-Mail:&nbsp;<a href="mailto:info@infai.org">info@infai.org</a></p>

                      <p>Vertretungsberechtigter Vorstand:<br>
                        Prof. Dr. Bogdan Franczyk (1. Vorsitzender)<br>
                        Prof. Dr. Gerhard Heyer (2. Vorsitzender)</p>

                        <p>Geschäftsführung:<br>
                          Andreas Heinecke, Dr. Roland Fassauer</p>

                          <p>Registereintrag:<br>
                            Registergericht: Amtsgericht Leipzig<br>
                            Registernummer: VR 4342</p>

                            <p>Umsatzsteuer-ID:<br>
                              Umsatzsteuer-Identifikationsnummer nach §27a Umsatzsteuergesetz:<br>
                              DE274344504</p>
                            </div>
                          </div>
                        </section>










                            <%- include('footer') -%>
