<%- include('header') -%>

  <script src="/min/d3.min.js"></script>

  <div ng-controller="FrontPageController">

    <%- include('banner') -%>

      <!-- Frontpage call to action buttons -->
      <section class="section call-to-action">
        <div class="align-content-center">
          <!-- Manage account button -->
          <div class="frontpage-box-frame" ng-if="auth.authenticated">
            <div class="frontpage-box left" ng-click="goToPage('/app/account')">
              <databus-icon color="'white'" shape="'user'" size="48"></databus-icon>
              <div class="content">
                <h1>Manage your Account</h1>
                <div class="abstract">Publish data, create data collections and manage your account</div>
              </div>
            </div>
          </div>
          <!-- Login and register button -->
          <div class="frontpage-box-frame" ng-if="!auth.authenticated">
            <div class="frontpage-box left" ng-click="login()">
              <databus-icon color="'white'" shape="'key'" size="48"></databus-icon>
              <div class="content">
                <h1>Login or Register</h1>
                <div class="abstract">Publish data, create data collections and manage your account</div>
              </div>
            </div>
          </div>
          <!-- Generate metadata center button -->
          <div class="frontpage-box-frame">
            <div class="frontpage-box center" ng-click="goToPage('/app/publish-wizard')">
              <databus-icon color="'white'" shape="'version'" size="48"></databus-icon>
              <div class="content">
                <h1>Register Data</h1>
                <div class="abstract">Generate RDF metadata for your files with the metadata wizard</div>
              </div>
            </div>
          </div>
          <!-- API right button -->
          <div class="frontpage-box-frame">
            <div class="frontpage-box" ng-click="goToPage('api')"> 
              <databus-icon shape="'gears'" color="'white'" size="48"></databus-icon>
              <div class="content">
                <h1>API</h1>
                <div class="abstract">Automate your data pipelines with the
                  Databus API</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section front">
        <div class="container">
          <div class="columns">
            <div class="column is-4 stats" style="padding-right: 3em;">
              <p class="section-label">Recent Activity</p>
              <div ng-if="activityChartData.isLoading" style="text-align:center">
                <div class="loading-rect placeholder-400" style="min-height: 400px;">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>

              <activity-chart style="display: flex; margin-bottom: 3.4em;" ng-if="!activityChartData.isLoading"
                data="activityChartData.entries" height="400">
              </activity-chart>

              <p class="section-label" ng-if="!uploadRankingData.isLoading && uploadRankingData.data.length > 0">Most
                Active Users</p>

              <div style="text-align:center" ng-if="uploadRankingData.isLoading">
                <div class="loading-rect placeholder-medium">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
              <div ng-if="!uploadRankingData.isLoading && uploadRankingData.data.length > 0">
                <uploader-ranking data="uploadRankingData.data"></uploader-ranking>
              </div>
            </div>

            <div class="column">

              <p ng-if="!recentUploadsData.isLoading && recentUploadsData.data.length > 0" class="section-label">NEW
                Datasets</p>
              <div ng-repeat="dataset in recentUploadsData.data" style="margin-bottom: 1em;">
                <entity-card style="flex: 1; " type="'Version'" uri="dataset.version" label="dataset.title"
                  desc="dataset.abstract" date="utils.formatDate(dataset.date)">
                </entity-card>
              </div>
            </div>
          </div>
        </div>
  </div>
  </section>
  </div>
  <%- include('footer') -%>