<nav ng-controller="HeaderController" id="navbar" class="databus-navbar">
  <div class="databus-navbar-fixed">

    <div class="databus-navbar-container">
      <a class="databus-home-icon" href="/">
        <% if(databus.iconUrl !=null && databus.iconUrl.length> 0) { %>
          <!-- ORG ICON -->
          <img class="org-icon" src="<%= databus.iconUrl %>" />
          <div class="org-separator"></div>
          <div class="org-subtitle">databus</div>

          <% } else { %>
            <!-- DATABUS ICON -->
            <databus-icon size="25" color="white" shape="'databus'"></databus-icon>
            <% } %>
      </a>

      <div class="databus-navbar-content">
        <div class="databus-navbar-item fill">
          <nav-search class="nav-search" search-input="searchQuery" class="searchinput"
            settings="searchSettings"></nav-search>
        </div>

        <div class="databus-navbar-item end">
          <a class="databus-navbar-item link" target="_blank" href="https://dbpedia.gitbook.io/databus">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24 ">
                <path xmlns="http://www.w3.org/2000/svg"
                  d="M14 0v10l2-1.518 2 1.518v-10h4v24h-17c-1.657 0-3-1.343-3-3v-18c0-1.657 1.343-3 3-3h9zm6 20h-14.505c-1.375 0-1.375 2 0 2h14.505v-2z"
                  fill="#fff" />
              </svg>
            </span>
            <span>
              Gitbook
            </span>
          </a>
          <a class="databus-navbar-item link" href="/sparql">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="44 0 372 420">
                <path xmlns="http://www.w3.org/2000/svg"
                  d="M383.476,267.343c-2.544-1.346-5.14-2.493-7.743-3.516l1.863-0.15c0,0-16.608-7.354-18.057-60.722  c-1.438-53.372,15.828-62.478,15.828-62.478l-2.48,0.109c13.045-6.69,24.265-17.267,31.669-31.216  c19.295-36.291,5.488-81.362-30.81-100.657C337.436-10.563,292.374,3.207,273.09,39.53c-7.927,14.899-10.178,31.273-7.677,46.733  l-0.851-1.306c0,0,4.373,19.365-41.032,47.55c-45.397,28.2-65.877,14.159-65.877,14.159l1.302,1.925  c-1.298-0.803-2.544-1.624-3.901-2.333c-36.306-19.294-81.38-5.509-100.667,30.804c-19.281,36.309-5.489,81.365,30.813,100.668  c27.064,14.364,58.974,10.36,81.461-7.655l-0.487,0.946c0,0,16.531-13.599,64.16,11.973c37.601,20.178,43.184,39.956,43.899,47.383  c-0.983,27.57,13.388,54.618,39.389,68.433c36.301,19.299,81.374,5.498,100.657-30.804  C433.571,331.704,419.786,286.624,383.476,267.343z M299.542,277.128c-6.018,2.129-23.203,4.487-59.389-14.921  c-39.187-21.04-45.005-38.615-45.855-43.891c0.557-6.401,0.202-12.791-0.891-19.02l0.239,0.359c0,0-3.189-17.096,41.65-44.943  c40.133-24.908,58.376-19.955,61.771-18.653c2.185,1.485,4.45,2.867,6.825,4.131c4.518,2.398,9.174,4.283,13.888,5.672  c5.52,5.257,15.678,20.178,16.733,59.413c1.078,39.535-10.533,54.779-16.865,60.168C311.122,268.399,305.022,272.34,299.542,277.128  z"
                  fill="#fff" />
              </svg>
            </span>
            <span>
              SPARQL
            </span>
          </a>
          <a class="databus-navbar-item link" href="/api" target="_blank">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path xmlns="http://www.w3.org/2000/svg"
                  d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 22c-5.514 0-10-4.486-10-10s4.486-10 10-10 10 4.486 10 10-4.486 10-10 10zm0-18.8c-4.853 0-8.8 3.947-8.8 8.8s3.947 8.8 8.8 8.8 8.8-3.947 8.8-8.8-3.947-8.8-8.8-8.8zm0 15.05c-.689 0-1.25-.56-1.25-1.25s.561-1.25 1.25-1.25c.691 0 1.25.56 1.25 1.25s-.559 1.25-1.25 1.25zm1.961-5.928c-.904.975-.947 1.514-.935 2.178h-2.005c-.007-1.475.02-2.125 1.432-3.468.572-.544 1.024-.975.962-1.821-.058-.805-.73-1.226-1.364-1.226-.709 0-1.538.527-1.538 2.013h-2.011c0-2.4 1.41-3.95 3.59-3.95 1.036 0 1.942.339 2.551.955.57.578.865 1.372.854 2.298-.018 1.383-.859 2.291-1.536 3.021z"
                  fill="#fff" />
              </svg>
            </span>
            <span>
              API
            </span>
          </a>

          <div ng-if="!auth.authenticated" class="navbar-item">
            <button class="button is-consumer is-icon-white is-active" ng-click="login()">
              <databus-icon shape="'key'" color="'white'" size="20"></databus-icon>
              <span>
                Login
              </span>
            </button>
          </div>

          <div class="click-outside-mask" ng-if="isAccountMenuActive" ng-click="hideAccountMenu()"></div>
          <div ng-if="auth.authenticated" ng-class="{ 'is-active' : isAccountMenuActive }"
            class="databus-navbar-item has-dropdown" ng-click="showAccountMenu()">
            <div>{{ getAccountName() }}</div>
            <div class="navbar-account-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 -2 24 24"
                style="border-radius: 22px; margin: 2px">
                <path class="is-white" fill="#333"
                  d="M19 7.001c0 3.865-3.134 7-7 7s-7-3.135-7-7c0-3.867 3.134-7.001 7-7.001s7 3.134 7 7.001zm-1.598 7.18c-1.506 1.137-3.374 1.82-5.402 1.82-2.03 0-3.899-.685-5.407-1.822-4.072 1.793-6.593 7.376-6.593 9.821h24c0-2.423-2.6-8.006-6.598-9.819z">
                </path>
              </svg>
            </div>
            <svg class="databus-navbar-dropdown-arrow" xmlns="http://www.w3.org/2000/svg" width="12" height="12"
              viewBox="0 0 24 24">
              <path fill="white" d="M12 21l-12-18h24z" />
            </svg>
            <div class="databus-navbar-dropdown is-right">

              <a class="navbar-item" href="/app/user">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path xmlns="http://www.w3.org/2000/svg"
                      d=" M19 7.001c0 3.865-3.134 7-7 7s-7-3.135-7-7c0-3.867 3.134-7.001 7-7.001s7 3.134 7 7.001zm-1.598 7.18c-1.506 1.137-3.374 1.82-5.402 1.82-2.03 0-3.899-.685-5.407-1.822-4.072 1.793-6.593 7.376-6.593 9.821h24c0-2.423-2.6-8.006-6.598-9.819z"
                      fill="#fff" />
                  </svg>
                </span>
                <span>
                  My Accounts
                </span>
              </a>

              <a class="navbar-item" href="/app/publish-wizard">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path xmlns="http://www.w3.org/2000/svg"
                      d="M 12,0 0.99999997,11.999022 12,23.999999 15.166016,20.546592 A 4.0000001,4.0003251 0 0 1 13,16.99943 a 4.0000001,4.0003251 0 0 1 4,-4.000327 4.0000001,4.0003251 0 0 1 3.378906,1.859527 l 2.621093,-2.859608 z"
                      fill="#fff" />
                  </svg>
                </span>
                <span>
                  Publish Data
                </span>
              </a>
              <a ng-if="accountName" class="navbar-item" ng-href="/{{ accountName }}#collections"
                ng-click="hideAccountMenu()">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path xmlns="http://www.w3.org/2000/svg"
                      d="M11.499 12.03v11.971l-10.5-5.603v-11.835l10.5 5.467zm11.501 6.368l-10.501 5.602v-11.968l10.501-5.404v11.77zm-16.889-15.186l10.609 5.524-4.719 2.428-10.473-5.453 4.583-2.499zm16.362 2.563l-4.664 2.4-10.641-5.54 4.831-2.635 10.474 5.775z"
                      fill="#fff" />
                  </svg>
                </span>
                <span>
                  Collections
                </span>
              </a>
              <a ng-if="accountName" class="navbar-item" ng-href="/{{ accountName }}#settings"
                ng-click="hideAccountMenu()">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path xmlns="http://www.w3.org/2000/svg"
                      d="M24 13.616v-3.232l-2.869-1.02c-.198-.687-.472-1.342-.811-1.955l1.308-2.751-2.285-2.285-2.751 1.307c-.613-.339-1.269-.613-1.955-.811l-1.021-2.869h-3.232l-1.021 2.869c-.686.198-1.342.471-1.955.811l-2.751-1.308-2.285 2.285 1.308 2.752c-.339.613-.614 1.268-.811 1.955l-2.869 1.02v3.232l2.869 1.02c.197.687.472 1.342.811 1.955l-1.308 2.751 2.285 2.286 2.751-1.308c.613.339 1.269.613 1.955.811l1.021 2.869h3.232l1.021-2.869c.687-.198 1.342-.472 1.955-.811l2.751 1.308 2.285-2.286-1.308-2.751c.339-.613.613-1.268.811-1.955l2.869-1.02zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"
                      fill="#fff" />
                  </svg>
                </span>
                <span>
                  Settings
                </span>
              </a>

              <hr class="navbar-divider">

              <a class="navbar-item" ng-click="hideAccountMenu()" href="/sparql" target="_blank">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="44 0 372 420">
                    <path xmlns="http://www.w3.org/2000/svg"
                      d="M383.476,267.343c-2.544-1.346-5.14-2.493-7.743-3.516l1.863-0.15c0,0-16.608-7.354-18.057-60.722  c-1.438-53.372,15.828-62.478,15.828-62.478l-2.48,0.109c13.045-6.69,24.265-17.267,31.669-31.216  c19.295-36.291,5.488-81.362-30.81-100.657C337.436-10.563,292.374,3.207,273.09,39.53c-7.927,14.899-10.178,31.273-7.677,46.733  l-0.851-1.306c0,0,4.373,19.365-41.032,47.55c-45.397,28.2-65.877,14.159-65.877,14.159l1.302,1.925  c-1.298-0.803-2.544-1.624-3.901-2.333c-36.306-19.294-81.38-5.509-100.667,30.804c-19.281,36.309-5.489,81.365,30.813,100.668  c27.064,14.364,58.974,10.36,81.461-7.655l-0.487,0.946c0,0,16.531-13.599,64.16,11.973c37.601,20.178,43.184,39.956,43.899,47.383  c-0.983,27.57,13.388,54.618,39.389,68.433c36.301,19.299,81.374,5.498,100.657-30.804  C433.571,331.704,419.786,286.624,383.476,267.343z M299.542,277.128c-6.018,2.129-23.203,4.487-59.389-14.921  c-39.187-21.04-45.005-38.615-45.855-43.891c0.557-6.401,0.202-12.791-0.891-19.02l0.239,0.359c0,0-3.189-17.096,41.65-44.943  c40.133-24.908,58.376-19.955,61.771-18.653c2.185,1.485,4.45,2.867,6.825,4.131c4.518,2.398,9.174,4.283,13.888,5.672  c5.52,5.257,15.678,20.178,16.733,59.413c1.078,39.535-10.533,54.779-16.865,60.168C311.122,268.399,305.022,272.34,299.542,277.128  z"
                      fill="#fff" />
                  </svg>
                </span>
                <span>
                  SPARQL Endpoint
                </span>
              </a>

              <a class="navbar-item" ng-click="hideAccountMenu()" href="/api" target="_blank">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path xmlns="http://www.w3.org/2000/svg"
                      d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 22c-5.514 0-10-4.486-10-10s4.486-10 10-10 10 4.486 10 10-4.486 10-10 10zm0-18.8c-4.853 0-8.8 3.947-8.8 8.8s3.947 8.8 8.8 8.8 8.8-3.947 8.8-8.8-3.947-8.8-8.8-8.8zm0 15.05c-.689 0-1.25-.56-1.25-1.25s.561-1.25 1.25-1.25c.691 0 1.25.56 1.25 1.25s-.559 1.25-1.25 1.25zm1.961-5.928c-.904.975-.947 1.514-.935 2.178h-2.005c-.007-1.475.02-2.125 1.432-3.468.572-.544 1.024-.975.962-1.821-.058-.805-.73-1.226-1.364-1.226-.709 0-1.538.527-1.538 2.013h-2.011c0-2.4 1.41-3.95 3.59-3.95 1.036 0 1.942.339 2.551.955.57.578.865 1.372.854 2.298-.018 1.383-.859 2.291-1.536 3.021z"
                      fill="#fff" />
                  </svg>
                </span>
                <span>
                  API Documentation
                </span>
              </a>
              <a class="navbar-item" ng-click="hideAccountMenu()"
                href="https://dbpedia.gitbook.io/databus/overview/readme" target="_blank">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24 ">
                    <path xmlns="http://www.w3.org/2000/svg"
                      d="M14 0v10l2-1.518 2 1.518v-10h4v24h-17c-1.657 0-3-1.343-3-3v-18c0-1.657 1.343-3 3-3h9zm6 20h-14.505c-1.375 0-1.375 2 0 2h14.505v-2z"
                      fill="#fff" />
                  </svg>
                </span>
                <span>
                  Databus Gitbook
                </span>
              </a>

              <a class="navbar-item" ng-click="hideAccountMenu()" href="https://github.com/dbpedia/databus/issues"
                target="_blank">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path style="fill: white;"
                      d="M7.074 1.408c0-.778.641-1.408 1.431-1.408.942 0 1.626.883 1.38 1.776-.093.336-.042.695.138.995.401.664 1.084 1.073 1.977 1.078.88-.004 1.572-.408 1.977-1.078.181-.299.23-.658.139-.995-.247-.892.435-1.776 1.379-1.776.79 0 1.431.63 1.431 1.408 0 .675-.482 1.234-1.117 1.375-.322.071-.6.269-.77.548-.613 1.017.193 1.917.931 2.823-1.211.562-2.525.846-3.97.846-1.468 0-2.771-.277-3.975-.84.748-.92 1.555-1.803.935-2.83-.168-.279-.446-.477-.768-.548-.636-.14-1.118-.699-1.118-1.374zm3.926 7.531c-1.709-.135-3.271-.599-4.703-1.435-.217.359-.421.738-.601 1.146-.227.514-.646.552-.941.437l-2.295-.89c-.542-.21-1.153.051-1.367.584-.213.533.053 1.136.594 1.346l2.231.866c.496.192.854.694.773 1.274-.106.758-.683 1.111-1.235 1.111h-2.402c-.582 0-1.054.464-1.054 1.037s.472 1.037 1.054 1.037h2.387c.573 0 1.159.372 1.265 1.057.112.728-.228 1.229-.751 1.462l-2.42 1.078c-.53.236-.766.851-.526 1.373s.865.753 1.395.518l2.561-1.14c.307-.137.688-.106.901.259.922 1.587 2.674 3.361 5.134 3.941v-15.061zm9.559 6.513h2.387c.583 0 1.055-.464 1.055-1.037s-.472-1.037-1.055-1.037h-2.402c-.574 0-1.137-.393-1.227-1.052-.092-.677.286-1.147.766-1.333l2.23-.866c.541-.21.808-.813.594-1.346-.213-.533-.825-.795-1.367-.584l-2.294.891c-.329.127-.734.036-.926-.401-.185-.423-.396-.816-.62-1.188-1.433.829-3.008 1.3-4.699 1.439v15.062c2.406-.567 4.134-2.284 5.072-3.837.262-.432.629-.514.964-.364l2.561 1.14c.528.236 1.154.005 1.395-.518.239-.522.005-1.137-.526-1.373l-2.42-1.078c-.494-.221-.867-.738-.764-1.383.128-.803.717-1.135 1.276-1.135z" />
                  </svg>
                </span>
                <span>Report Issue</span>
              </a>



              <hr class="navbar-divider">

              <a class="navbar-item" ng-click="logout()">
                <span class="icon has-text-info dropdown-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path style="fill: white;" d="M16 9v-4l8 7-8 7v-4h-8v-6h8zm-16-7v20h14v-2h-12v-16h12v-2h-14z" />
                  </svg>
                </span>
                <span>Logout</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cookie dialogue -->
  <div ng-if="showCookieDialogue" class="cookie-dialogue">
    <h1>We use cookies</h1>
    <div style="margin-bottom: 1em;">
      By using our site you agree to our use of cookies to deliver a better site
      experience.
    </div>
    <button class="button is-primary" ng-click="giveCookieConsent()">
      <span>Got it</span>
    </button>
  </div>

</nav>