<div ng-controller="ProfileController">
  <databus-alert></databus-alert>
  <div>

    <div class="databus-settings-box-header">
      <h3>EDIT PROFILE</h3>
    </div>
    <div class="databus-settings-box">
      <div class="box-content">
        <div class="row">
          <div class="row-label">Name</div>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Name" ng-model="editData.label">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="row-label">Profile Picture URL</div>
          <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Profile Picture URL" ng-model="editData.imageUrl">
            <span class="icon is-small is-left">
              <i class="fas fa-image"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="row-label">About</div>
          <div class="control has-icons-left has-icons-right">
            <textarea class="input" type="text" placeholder="About" style="min-height: 10em;"
              ng-model="editData.about"></textarea>
            <span class="icon is-small is-left">
              <i class="fas fa-question"></i>
            </span>
          </div>
        </div>
        <!--div class="row">
          <div class="row-label">Featured Content URLs</div>
          <div class="control">
            <textarea class="input" type="text" placeholder="Featured Content" style="min-height: 10em;"
              ng-model="editData.featuredContent"></textarea>
          </div>
          <div class="databus-settings-info">
            Post Databus resource URIs here to show them prominently on your account page. Resource URIs must be
            separated by newlines.
          </div>
        </div-->
        <div class="row">
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-consumer" ng-click="saveProfile()">Save</button>
            </div>
            <div class="control">
              <button ng-click="resetEdits()" class="button">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="databus-settings-box-header">
      <h3>API KEYS</h3>
    </div>
    <div class="databus-settings-box">
      <div class="box-content">
        <div class="row">

          <div class="row-label">Usage Instructions</div>
          <div>
            <div class="databus-settings-info" style="margin-bottom: 0.5em">You can access the Databus API by sending an
              API key along with your http request. Send your API key as a
              <b>x-api-key</b> header
            </div>
            <pre>curl -H 'x-api-key: YOUR_API_KEY' -X PUT -H "Content-Type: application/json" -d 'YOUR_DATA' API_URL</pre>
          </div>

        </div>
        <div class="row">
          <div class="row-label">Create API Key</div>

          <div class="field has-addons" style="margin-bottom: 0;">
            <p class="control" style="margin-bottom: 0;">
              <input class="input" placeholder="Enter key name..." style="min-width: 500px;" input="searchInput"
                ng-model="createApiKeyName" ng-change="onCreateApiKeyNameChanged()" filters="searchFilters">
            </p>
            <p class="control">
              <a ng-click="addApiKey()" ng-disabled="createApiKeyError || !createApiKeyName" class="button is-consumer">
                Create
              </a>
            </p>
          </div>
          <span ng-if="createApiKeyError" class="help is-danger">{{ createApiKeyError }}</span>
          <div class="databus-settings-info">Enter a name for your API key and click <i>Create</i> to create a new API
            key.</div>



        </div>
        <div class="row">
          <div class="row-label">Active API Keys</div>
          <div ng-if="apiKeys == null || apiKeys.length == 0" class="databus-settings-info">You haven't created any API
            keys yet.</div>
          <div ng-repeat="key in apiKeys">
            <div class="settings-entity">
              <div><b>{{ key.keyname }}: </b>{{ key.apikey }}</div>
              <svg style="margin-left: 0.5em; cursor: pointer;" ng-click="utils.copyToClipboard(key.apikey)" width="24"
                height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path fill="#ccc" d="M17 7h6v16h-16v-6h-6v-16h16v6zm5 1h-14v14h14v-14zm-6-1v-5h-14v14h5v-9h9z" />
              </svg>
              <div style="flex: 1;"></div>
              <a ng-click="removeApiKey(key)" class="button is-error">
                Delete
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="databus-settings-box-header">
    <h3>MODS</h3>
  </div>
  <div class="databus-settings-box">
    <div class="box-content">
      <div class="row">
        <div class="row-label">Mod Enpoints</div>
        <div class="field has-addons" style="margin-bottom: 0;">
          <p class="control" style="margin-bottom: 0;">
            <input class="input" placeholder="Enter Mod Endpoint URI..." style="min-width: 500px;" input="searchInput"
              ng-model="createApiKeyName" ng-change="onCreateApiKeyNameChanged()" filters="searchFilters">
          </p>
          <p class="control">
            <a ng-click="addApiKey()" ng-disabled="createApiKeyError || !createApiKeyName" class="button is-consumer">
              Add
            </a>
          </p>
        </div>
        <div ng-if="apiKeys == null || apiKeys.length == 0" class="databus-settings-info">You haven't created any API
          keys yet.</div>
      </div>

      <div class="row">
        <div class="row-label">Search Extensions</div>
        <div class="field has-addons" style="margin-bottom: 0;">
          <div class="control" style="margin-bottom: 0;">
            <input class="input" placeholder="Enter Search Endpoint URI..." style="min-width: 500px;"
              ng-model="modsSettings.searchExtensionURI" ng-change="onSearchExtensionURIChanged()">
          </div>
          <div class="control">
            <div class="dropdown" ng-class="{ 'is-active' : modsSettings.adapterDropdownVisible }">
              <div class="dropdown-trigger">
                <a class="button" aria-haspopup="true" aria-controls="dropdown-menu"
                  ng-click="modsSettings.adapterDropdownVisible=true">
                  <span>{{ modsSettings.searchExtensionAdapter.label }}</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu"
                style="left: initial; right: 0; padding-top: 8px;">
                <div class="click-outside-mask" ng-if="modsSettings.adapterDropdownVisible"
                  ng-click=" modsSettings.adapterDropdownVisible=false"></div>
                <div class="dropdown-content">

                  <div class="dropdown-item" style="display: flex;" ng-repeat="adapter in adapters"
                    ng-click="modsSettings.searchExtensionAdapter = adapter;">
                    <div style="flex:1;">{{ adapter.label }}</div>
                    <div>
                      <databus-icon ng-if="modsSettings.searchExtensionAdapter.name == adapter.name" shape="'check'"
                        size="20">
                      </databus-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="control">
            <a ng-click="addSearchExtension()" ng-disabled="!utils.isValidHttpsUrl(modsSettings.searchExtensionURI)"
              class="button is-consumer">
              Add
            </a>
          </p>
        </div>
        <div class="databus-settings-info">A search extension will incorporate external search systems into your Databus
          search. Choose from a list of available search adapters and provide a search endpoint URI.</div>
        
        <div style="margin-top: 0.5em">
          <div ng-repeat="extension in profileData.searchExtensions" class="settings-entity">
            <div style="display: flex; align-items: center; width: 100%;">
            <div style="margin-right: .5em">{{ extension.endpointUri }}</div>
            <div style="flex: 1; color: #aaa">[{{ extension.adapterName }}]</div>
            <div ng-click="removeSearchExtension(extension.endpointUri)" class="button is-error">
              Remove
            </div>
          </div>
        </div>

      </div>
      </div>

    </div>
  </div>-->

  <div class="databus-settings-box-header">
    <h3>WEBID</h3>
  </div>
  <div class="databus-settings-box">
    <div class="box-content">
      <div class="row">
        <div class="row-label">Internal WebId Document</div>

        <div class="settings-entity">
          <div><a ng-href="{{personUri}}">{{ personUri }}</a></div>
          <svg style="margin-left: 0.5em; cursor: pointer;" ng-click="utils.copyToClipboard(personUri)" width="24"
            height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
            <path fill="#ccc" d="M17 7h6v16h-16v-6h-6v-16h16v6zm5 1h-14v14h14v-14zm-6-1v-5h-14v14h5v-9h9z" />
          </svg>
          <div style="flex: 1;"></div>

        </div>

        <div class="databus-settings-info"><b>IMPORTANT NOTE:</b> Do not use this WebId document outside the scope of
          this Databus. It is not compatible
          with WebId authentication and should only be used as a publisher identifier for this Databus instance.
        </div>
      </div>


      <div class="row">
        <div class="row-label">Link External WebId</div>



        <div class="field has-addons" style="margin-bottom: 1.5em;">

          <div class="control has-icons-left">
            <input class="input" type="text" style="min-width: 500px;" placeholder="WebId URI" ng-model="addWebIdUri">
            <span class="icon is-small is-left">
              <i class="fas fa-id-card"></i>
            </span>
          </div>
          <p class="control">
            <a ng-click="connectWebid()" class="button is-consumer">
              Connect
            </a>
          </p>
        </div>
        <div style="color:red; margin-top: -20px">{{ addWebIdError }}</div>
        <div class="databus-settings-info">Enter the WebId URI you want to connect to this account and click
          <i>Connect</i> to connect your WebId to this account. Your WebId documents needs to contain a backlink to
          this account using the property <b>foaf:account</b>.
        </div>
        <br />
        <b>Example for a backlink in a WebId document:</b>
        <pre>&#60;#this&#62; a foaf:Person ;
    foaf:name "Jan Forberg";
    foaf:account &#60;https://databus.dbpedia.org/janfo&#62;;</pre>
      </div>

      <div class="row">
        <div class="row-label">Linked External WebIds</div>

        <div ng-if="profileData.webIds == null || profileData.webIds.length == 0" class="databus-settings-info">You
          haven't linked any external WebIds yet.</div>

        <div ng-repeat="webIdEntry in profileData.webIds">

          <div class="settings-entity">
            <div><a ng-href="{{webIdEntry}}">{{ webIdEntry }}</a></div>
            <svg style="margin-left: 0.5em; cursor: pointer;" ng-click="utils.copyToClipboard(webIdEntry)" width="24"
              height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path fill="#ccc" d="M17 7h6v16h-16v-6h-6v-16h16v6zm5 1h-14v14h14v-14zm-6-1v-5h-14v14h5v-9h9z" />
            </svg>
            <div style="flex: 1;"></div>
            <a ng-click="removeWebId(webIdEntry)" class="button is-error">
              Remove
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>