<% include header %>
  <div ng-controller="PublishWizardController" ng-cloak>


    <script src="/js/components/table-editor/table-editor.js"></script>
    <script src="/node_modules/bulma-steps/dist/js/bulma-steps.min.js"></script>
    <script src="/node_modules/stream-file/dist/stream-file.min.js"></script>
    <script src="/node_modules/js-sha256/build/sha256.min.js"></script>
    <script src="https://databus.dbpedia.org/auth/js/keycloak.js"></script>

    <link rel="stylesheet" href="/node_modules/bulma-steps/dist/css/bulma-steps.min.css" type="text/css" />

    <script type="text/ng-template" id="file.html">
      <div class="upload-token distribution">
        <div class="token-header">
          <expandable-arrow expanded="fileGroup.expanded"></expandable-arrow>
          <div style="margin-left: 6px">{{fileGroup.name}}</div>
          <div ng-if="!fileGroup.expanded" class="content-variant-tag" 
            ng-repeat="variant in fileGroup.contentVariants">{{ variant }}
          </div>
          <div style="flex:1; display:flex; justify-content: flex-end; margin-right: 12px;">
            <databus-icon shape="'delete'" on-click="removeFile(fileGroup)" size="24"></databus-icon>
          </div>
        </div>
        <div ng-if="fileGroup.expanded" class="token-extension content" >
          <ul ng-repeat="file in fileGroup.files" style="margin-top: 0.1em;">
            <li><b>Format</b> {{ file.formatExtension }} / <b>Compression</b> {{ file.compression }}</li>
          </ul>
        </div>
      </div>
    </script>

    <style>
      .upload-token {
        margin-top: 4px;
        background-color: #f9f9f9;
      }

      .upload-token .token-header {
        padding: 5px;
        display: flex;
        align-items: center;
        position: relative;
      }

      .token-header .token-dropdown {
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 100;
        background-color: white;
        border: 1px solid #dbdbdb;
      }

      .upload-token .token-header .icons {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 12px;
      }

      .upload-token.group {
        border-left: 4px solid #496272;
      }

      .upload-token.artifact {
        margin-left: 16px;
        border-left: 4px solid #7ba0bb;
      }

      .upload-token.distribution {
        border-left: 4px solid #bbb;
      }

      .upload-token .token-extension {
        margin-top: 0;
        padding: 5px;
        border-top: solid 1px #dbdbdb
      }

      .expandable-arrow {
        padding: 4px 8px;
      }

      .upload-token.dataset {
        background-color: #f3f3f3;
      }

      .included .upload-token {
        background-color: #fafbfc;
      }

      .upload-token.preview {
        opacity: 0.5;
      }

      .included .upload-token.dataset {
        background-color: #ccddcc;
      }

      .content-variant-tag {
        color: #aaa;
        margin-left: 5px;
      }

      .artifact-icon {
        margin-left: 20px;
      }

      .content-variants-panel {
        width: 100%;
      }

      .content-variants-panel .content-variant {
        padding: 0.35em 0.75em;
        border: 1px solid #dbdbdb;
        margin-bottom: 4px;
        display: flex;
      }

      .token-progress {
        position: absolute;
        background-color: rgba(100, 255, 100, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
      }

      .token-error {
        position: absolute;
        background-color: rgba(255, 100, 100, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }


      .deselect-panel {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 49;
        background-color: rgba(0, 0, 0, 0);
      }

      .focus-content {
        position: relative;
        z-index: 50;
      }

      .content-header {
        padding: 2.15rem 2rem 1.75rem 2rem;
        border-bottom: 1px solid #e1e4e8;
        background-color: #fafbfc;
      }

      .upload-type-container {
        display: flex;
        justify-content: center;
        padding: 2em;
      }

      .upload-type-box {
        border: 1px solid #dbdbdb;
        text-align: center;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1em;
        padding: 2em;
        cursor: pointer;
        color: #bbb;
      }

      .upload-type-box.is-active {
        color: #2bcbba;
        border: 1px solid #2bcbba;
        background-color: #fafbfc;
      }

      .upload-type-box.is-active p {
        color: #2bcbba;
      }

      .upload-type-box div {
        text-align: center;
      }

      .upload-type-box h1 {
        font-size: 1.75em;
        font-weight: 500;
        margin: 0.5em;
      }

      .upload-type-box p {
        font-size: 1em;
        color: #aaa;
      }

      .step-footer {
        display: flex;
        justify-content: flex-end;
      }

      .distributions-box {
        border: 1px solid #dbdbdb;
        flex-grow: 0;
        min-height: 700px;
        padding: 0.45em 0.75em;
      }

      .distributions-box.minimized {
        min-height: initial;
        width: 150px;
        height: 36px;
        padding: 0.3em 0.75em;
        margin-right: .75em;
      }

      .distributions-box.minimized h3 {
        margin-bottom: 0em;
      }

      .distributions-box h3 {
        color: #bbb;
        text-transform: uppercase;
        margin-bottom: 1em;
      }

      .token-type-label {
        color: #bbb;
        text-transform: uppercase;
        margin-right: .5em;
      }

      .hint-box {
        text-align: center;
        min-height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2em;
        cursor: pointer;
        color: #bbb;
        font-size: 1.1em;

      }

      .hover-note {
        cursor: pointer;
        display: flex;
      }

      .hover-dropdown {
        display: none;
      }

      .hover-note:hover .hover-dropdown {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: block;
        position: absolute;
        top: 48px;
        right: 8px;
        z-index: 10005;
        background-color: rgba(255, 255, 255, 1);
        color: #888;
        border: 1px solid #dbdbdb;
        padding: 0.75em;
        min-width: 600px;
        width: 600px;
        max-width: 600px;
        white-space: initial;
      }

      .hover-dropdown.has-error {
        background-color: rgba(255, 245, 245, 1) !important;
        color: red !important;
      }

      .content-box {
        border: 1px solid #e1e4e8;
        padding: 0.5em;
        position: relative;
        margin-bottom: 1.5em;
      }

      .content-box h3 {
        color: #bbb;
        text-transform: uppercase;
        margin-bottom: 1em;
        flex: 1;
      }

      .content-box .box-header {

        margin: 0.08em 0.3em;
        display: flex;
      }

      .content-box .row {
        display: flex;
        padding: .0em.5em;
        margin-bottom: 0.75em;
      }

      .content-box .row .row-label {
        min-width: 240px;
        padding-top: .3em;
        display: flex;
      }

      .placeholder {
        min-height: 600px;
        text-align: center;
        display: flex;
        align-items: center;
      }

      .wizard-info {
        padding-top: 2em;
        padding-bottom: 1em;
      }
    </style>




    <!-- TODO: FIX THIS!-->
    <div class="section placeholder" ng-if="!authenticated">
      <div class="container">
        <p class="collection-editor-info-text">You need to be logged in to publish data.</p>
        <br />
        <p class="collection-editor-info-text">Don't have an account yet? Create one now!</p>
        <br /> <br />
        <div class="collection-editor-info-text">
          <button class="button is-consumer" ng-click="logMeIn()" style="width: 100px; height: 40px">
            <span class="icon has-text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path class="is-white"
                  d="M12.451 17.337l-2.451 2.663h-2v2h-2v2h-6v-5l6.865-6.949c1.08 2.424 3.095 4.336 5.586 5.286zm11.549-9.337c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-3-3c0-1.104-.896-2-2-2s-2 .896-2 2 .896 2 2 2 2-.896 2-2z" />
              </svg>
            </span>
            <span>
              Login
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="section placeholder" ng-if="authenticated && !hasAccount">
      <div class="container">
        <p class="collection-editor-info-text">You need to create a user account in order to publish data.</p>
        <br />
        <div class="collection-editor-info-text">
          <button class="button is-secondary" ng-click="createAccount()" style="width: 200px; height: 40px">
            <span>
              Create Account
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Loading Bubbles -->
    <section class="section placeholder" ng-if="authenticated && hasAccount && !isWizardReady">
      <div class="container">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </section>

    <!-- WIZARD -->
    <section ng-if="authenticated && hasAccount && isWizardReady">
      <div class="container">

        <div ng-if="isWizardReady">

          <!-- INFO -->
          <div class="wizard-info content">
            <h1 class="title">Publish Wizard</h1>
            <p>This form will help you set up a DataId. A DataId is a metadata document containing
              important information about your files. This metadata document will make your data more understandable and
              reusable for you and other users.</p>
            <p>Please fill out the form below and follow the instructions in the infoboxes. You can read
              the infoboxes by hovering the info icons. Also make sure to fix all errors (denoted by a red explamation
              mark). You can read the error description by hovering the red error icons.</p>
          </div>

          <!-- GROUP BOX-->
          <div class="content-box" ng-init="group=session.data.group">
            <div class="box-header">
              <h3>GROUP INFO</h3>
              <div class="hover-note">
                <svg ng-if="group.errors.length > 0" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                  fill-rule="evenodd" clip-rule="evenodd">
                  <path fill="red"
                    d="M24 23h-24l12-22 12 22zm-22.315-1h20.63l-10.315-18.912-10.315 18.912zm10.315-2c.466 0 .845-.378.845-.845 0-.466-.379-.844-.845-.844-.466 0-.845.378-.845.844 0 .467.379.845.845.845zm.5-11v8h-1v-8h1z" />
                </svg>
                <div class="hover-dropdown has-error content">
                  <ul style="margin-top: 0; margin-left: 1.5em;">
                    <li ng-repeat="error in group.errors">
                      {{ errorMessages[error] }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="hover-note">
                <databus-icon shape="'info'" class='artifact-icon' on-click="changeFilePanel(false);" size="24">
                </databus-icon>
                <div class="hover-dropdown content">
                  <ul style="margin-top: 0; margin-left: 1.5em;">
                    <li ng-repeat="hint in hints.group">{{ hint }}</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="box-content">
              <div class="row">
                <div class="row-label">Create New Group</div>
                <div class="field override-checkbox" ng-class="{ 'is-override' : group.createNew }">
                  <input id="check--createnewgroup" name="check--createnewgroup" class="is-checkradio" type="checkbox"
                    ng-model="group.createNew" ng-change="setCreateNewGroup(group.createNew);">
                  <label for="check--createnewgroup">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="row" ng-if="!group.createNew">
                <div class="row-label">Name</div>
                <div style="flex: 1">
                  <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{ group.name }}</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content">

                        <div class="dropdown-item" style="cursor: pointer;" ng-repeat="grp in accountData.groups"
                          ng-click="selectGroup(grp)">
                          {{ grp.name }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="group.createNew">
                <div class="row-label">Name</div>
                <div style="flex: 1">
                  <input class="input" type="text" ng-model="group.name">
                  <span ng-if="hasError(group.errors, 'err_invalid_group_name')" class="help is-danger">{{
                    errorMessages['err_invalid_group_name'] }}</span>
                  <span ng-if="hasError(group.warnings, 'warning_group_exists')" style="color: #3d8d83" class="help">{{
                    errorMessages['warning_group_exists'] }}</span>
                </div>
              </div>
              <div class="row" ng-if="group.createNew">
                <div class="row-label optional">Title</div>
                <div style="flex: 1">
                  <input class="input" type="text" ng-model="group.title">
                </div>
              </div>
              <div class="row" ng-if="group.createNew">
                <div class="row-label optional">Abstract</div>
                <div style="flex: 1">
                  <div>
                    <div class="field override-checkbox" style="margin-bottom: .25em;"
                      ng-class="{ 'is-override' : group.generateAbstract }">
                      <input id="check--generate--abstract" name="check--generate--abstract" class="is-checkradio"
                        type="checkbox" ng-model="group.generateAbstract">
                      <label for="check--generate--abstract">
                        <span>Generate Abstract From Description</span>
                      </label>
                    </div>
                    <textarea wrap="hard" ng-disabled="group.generateAbstract"
                      style="min-height: 120px; resize: vertical;" class="input" type="text"
                      ng-model="group.abstract"></textarea>
                  </div>
                </div>
              </div>
              <div class="row" ng-if="group.createNew">
                <div class="row-label optional">Description</div>
                <div style="flex: 1">
                  <textarea wrap="hard" style="min-height: 240px; resize: vertical;" class="input" type="text"
                    ng-model="group.description"></textarea>
                </div>
              </div>
              <div class="row" ng-if="group.createNew">
                <div class="row-label">Create Without Version</div>
                <div class="field override-checkbox" ng-class="{ 'is-override' : session.data.group.publishGroupOnly }">
                  <input id="check--createwithoutversion" name="check--createwithoutversion" class="is-checkradio"
                    type="checkbox" ng-model="session.data.group.publishGroupOnly">
                  <label for="check--createwithoutversion">
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div ng-if="!session.data.group.publishGroupOnly">

            <!-- ARTIFACT BOX-->
            <div class="content-box" ng-init="artifact=session.data.artifact">
              <div class="box-header">
                <h3>ARTIFACT INFO</h3>
                <div class="hover-note">
                  <svg ng-if="artifact.errors.length > 0" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                    fill-rule="evenodd" clip-rule="evenodd">
                    <path fill="red"
                      d="M24 23h-24l12-22 12 22zm-22.315-1h20.63l-10.315-18.912-10.315 18.912zm10.315-2c.466 0 .845-.378.845-.845 0-.466-.379-.844-.845-.844-.466 0-.845.378-.845.844 0 .467.379.845.845.845zm.5-11v8h-1v-8h1z" />
                  </svg>
                  <div class="hover-dropdown has-error content">
                    <ul style="margin-top: 0; margin-left: 1.5em;">
                      <li ng-repeat="error in artifact.errors">
                        {{ errorMessages[error] }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="hover-note">
                  <databus-icon shape="'info'" class='artifact-icon' on-click="changeFilePanel(false);" size="24">
                  </databus-icon>
                  <div class="hover-dropdown content">
                    <ul style="margin-top: 0; margin-left: 1.5em;">
                      <li ng-repeat="hint in hints.artifact">{{ hint }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="box-content">
                <div class="box-content">
                  <div class="row">
                    <div class="row-label">Create New Artifact</div>
                    <div class="field override-checkbox" ng-class="{ 'is-override' : artifact.createNew && !group.createNew
                          && session.accountGroup.artifacts.length != 0 }">
                      <input id="check--createnewartifact" name="check--createnewartifact" class="is-checkradio"
                        type="checkbox" ng-model="artifact.createNew"
                        ng-change="setCreateNewArtifact(artifact.createNew);"
                        ng-disabled="group.createNew || session.accountGroup.artifacts.length == 0">
                      <label for="check--createnewartifact">
                        <span></span>
                      </label>
                    </div>
                  </div>
                  <div class="row" ng-if="!artifact.createNew">
                    <div class="row-label">Name</div>
                    <div style="flex: 1">
                      <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>{{ artifact.name }}</span>
                            <span class="icon is-small">
                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                          <div class="dropdown-content">

                            <div class="dropdown-item" style="cursor: pointer;"
                              ng-repeat="art in session.accountGroup.artifacts" ng-click="selectArtifact(art)">
                              {{ art.name }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" ng-if="artifact.createNew">
                    <div class="row-label">Name</div>
                    <div style="flex: 1">
                      <input class="input" type="text" ng-model="artifact.name">
                      <span ng-if="hasError(artifact.errors, 'err_invalid_artifact_name')" class="help is-danger">{{
                        errorMessages['err_invalid_artifact_name'] }}</span>
                      <span ng-if="hasError(artifact.warnings, 'warning_artifact_exists')" style="color: #3d8d83"
                        class="help">{{
                        errorMessages['warning_artifact_exists'] }}</span>
                    </div>
                  </div>
                  <div class="row" ng-if="artifact.createNew">
                    <div class="row-label optional">Title</div>
                    <div style="flex: 1">
                      <input class="input" type="text" ng-model="artifact.title">
                      <span ng-if="hasError(artifact.errors, 'err_invalid_artifact_label')" class="help is-danger">{{
                        errorMessages['err_invalid_artifact_label'] }}</span>

                    </div>
                  </div>
                  <!-- ARTIFACT ABSTRACT -->
                  <div class="row" ng-if="artifact.createNew">
                    <div class="row-label optional">Abstract</div>
                    <div style="flex: 1">
                      <div>
                        <div class="field override-checkbox" style="margin-bottom: .25em;"
                          ng-class="{ 'is-override' : artifact.generateAbstract }">
                          <input id="check--generate--abstract--artifact" name="check--generate--abstract"
                            class="is-checkradio" type="checkbox" ng-model="artifact.generateAbstract">
                          <label for="check--generate--abstract--artifact">
                            <span>Generate Abstract From Description</span>
                          </label>
                        </div>
                        <textarea wrap="hard" ng-disabled="artifact.generateAbstract"
                          style="min-height: 120px; resize: vertical;" class="input" type="text"
                          ng-model="artifact.abstract"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- ARTIFACT DESCRIPTION -->
                  <div class="row" ng-if="artifact.createNew">
                    <div class="row-label optional">Description</div>
                    <div style="flex: 1">
                      <textarea wrap="hard" style="min-height: 240px; resize: vertical;" class="input" type="text"
                        ng-model="artifact.description"></textarea>
                      <span ng-if="hasError(artifact.errors, 'err_invalid_artifact_description')"
                        class="help is-danger">{{
                        errorMessages['err_invalid_group_description'] }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- VERSION BOX-->
            <div class="content-box" ng-init="version=session.data.version">

              <div class="box-header">
                <h3>VERSION INFO</h3>
                <div class="hover-note">
                  <svg ng-if="version.errors.length > 0" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                    fill-rule="evenodd" clip-rule="evenodd">
                    <path fill="red"
                      d="M24 23h-24l12-22 12 22zm-22.315-1h20.63l-10.315-18.912-10.315 18.912zm10.315-2c.466 0 .845-.378.845-.845 0-.466-.379-.844-.845-.844-.466 0-.845.378-.845.844 0 .467.379.845.845.845zm.5-11v8h-1v-8h1z" />
                  </svg>
                  <div class="hover-dropdown has-error content">
                    <ul style="margin-top: 0; margin-left: 1.5em;">
                      <li ng-repeat="error in version.errors">
                        {{ errorMessages[error] }}
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="hover-note">
                  <databus-icon shape="'info'" class='artifact-icon' size="24">
                  </databus-icon>
                  <div class="hover-dropdown content">
                    <ul style="margin-top: 0; margin-left: 1.5em;">
                      <li ng-repeat="hint in hints.version">{{ hint }}</li>
                    </ul>
                  </div>
                </div>
              </div>


              <!-- VERSION NAME -->
              <div class="row">
                <div class="row-label">Name</div>
                <div style="width: 100%;">
                  <div class="field has-addons" style="width: 100%; margin-bottom: 0;">
                    <input class="control input" type="text" ng-model="version.name">
                    <div class="control">
                      <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                          <a class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Presets</span>
                            <span class="icon is-small">
                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                          </a>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                          <div class="dropdown-content">
                            <a class="dropdown-item" ng-click="session.data.createVersionName(0)">
                              Date YYYY-MM-DD
                            </a>
                            <a class="dropdown-item" ng-click="session.data.createVersionName(1)">
                              Date YYYY-MM-DDTHH
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <span ng-if="hasError(version.errors, 'err_invalid_version_name')" class="help is-danger">{{
                    errorMessages['err_invalid_version_name'] }}</span>
                </div>
              </div>

              <!-- VERSION TITLE -->
              <div class="row">
                <div class="row-label">Title</div>
                <div style="flex: 1">
                  <div>
                    <div class="field override-checkbox" style="margin-bottom: .25em;"
                      ng-class="{ 'is-override' : version.useArtifactTitle }">
                      <input id="check--use--artifact--title" name="check--generate--abstract" class="is-checkradio"
                        type="checkbox" ng-model="version.useArtifactTitle">
                      <label for="check--use--artifact--title">
                        <span>Use Artifact Title</span>
                      </label>
                    </div>
                    <input ng-disabled="version.useArtifactTitle" class="input" type="text" ng-model="version.title">
                    <span ng-if="hasError(version.errors, 'err_invalid_version_title')" class="help is-danger">{{
                      errorMessages['err_invalid_version_title'] }}</span>
                  </div>
                </div>
              </div>
              <!-- VERSION ABSTRACT -->
              <div class="row">
                <div class="row-label">Abstract</div>
                <div style="flex: 1">
                  <div>
                    <div class="field override-checkbox" style="margin-bottom: .25em;"
                      ng-class="{ 'is-override' : version.generateAbstract }">
                      <input id="check--generate--abstract--version" name="check--generate--abstract"
                        class="is-checkradio" type="checkbox" ng-model="version.generateAbstract">
                      <label for="check--generate--abstract--version">
                        <span>Generate Abstract From Description</span>
                      </label>
                    </div>
                    <textarea wrap="hard" ng-disabled="version.generateAbstract"
                      style="min-height: 120px; resize: vertical;" class="input" type="text"
                      ng-model="version.abstract"></textarea>
                    <span ng-if="hasError(version.errors, 'err_invalid_version_abstract')" class="help is-danger">{{
                      errorMessages['err_invalid_version_abstract'] }}</span>
                  </div>
                </div>
              </div>
              <!-- VERSION DESCRIPTION -->
              <div class="row">
                <div class="row-label">Description</div>
                <div style="flex: 1">
                  <textarea wrap="hard" style="min-height: 180px; resize: vertical" class="input" type="text"
                    ng-model="version.description"></textarea>
                  <span ng-if="hasError(version.errors, 'err_invalid_version_description')" class="help is-danger">{{
                    errorMessages['err_invalid_version_description'] }}</span>
                </div>
              </div>
            </div>


            <!-- LICENSE BOX-->
            <div class="content-box" ng-init="version=session.data.version">

              <div class="box-header">
                <h3>LICENSE INFO</h3>
                <div class="hover-note">
                  <svg ng-if="version.errors.length > 0" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                    fill-rule="evenodd" clip-rule="evenodd">
                    <path fill="red"
                      d="M24 23h-24l12-22 12 22zm-22.315-1h20.63l-10.315-18.912-10.315 18.912zm10.315-2c.466 0 .845-.378.845-.845 0-.466-.379-.844-.845-.844-.466 0-.845.378-.845.844 0 .467.379.845.845.845zm.5-11v8h-1v-8h1z" />
                  </svg>
                  <div class="hover-dropdown has-error content">
                    <ul style="margin-top: 0; margin-left: 1.5em;">
                      <li ng-repeat="error in version.errors">
                        {{ errorMessages[error] }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="hover-note">
                  <databus-icon shape="'info'" class='artifact-icon' size="24">
                  </databus-icon>
                  <div class="hover-dropdown content">
                    <ul style="margin-top: 0; margin-left: 1.5em;">
                      <li ng-repeat="hint in hints.version">{{ hint }}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- LICENSE URI -->
              <div class="row">
                <div class="row-label">License URI</div>
                <div style="flex: 1">
                  <div style="width: 100%;">
                    <div class="field has-addons" style="width: 100%; margin-bottom: 0;">
                      <input class="control input" type="text" ng-model="version.license">
                      <div class="control">
                        <div class="dropdown is-hoverable" style="position: relative;">
                          <div class="dropdown-trigger">
                            <a class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                              <span>Select License</span>
                              <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </a>
                          </div>
                          <div class="dropdown-menu" id="dropdown-menu" role="menu" style="right: 0; left: initial;">
                            <div class="dropdown-content" style="min-width: 500px; padding: 4px;">
                              <input placeholder="Search for a license" class="input" ng-model="licenseQuery"
                                ng-change="filterLicenses(licenseQuery)" />
                              <div ng-repeat="license in filteredLicenseList | limitTo: 25"
                                style="padding: 0.5em 0.25em;" ng-click="version.license=license.id.value">
                                {{ license.title.value }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <span ng-if="hasError(version.errors, 'err_invalid_version_license')" class="help is-danger">{{
                      errorMessages['err_invalid_version_license'] }}</span>
                  </div>
                </div>
              </div>


              <!-- LICENSE ATTRIBUTION -->
              <div class="row">
                <div class="" style="min-width: 240px">Attribution</div>
                <div style="flex: 1">
                  <textarea wrap="hard" style="min-height: 180px; resize: vertical" class="input" type="text"
                    ng-model="version.attribution"></textarea>
                </div>
              </div>

                <!-- DERIVED FROM -->
                <div class="row">
                  <div class="" style="min-width: 240px">Derived From</div>
                  <div style="flex: 1">
                    <textarea wrap="hard" style="min-height: 180px; resize: vertical" class="input" type="text"
                      ng-model="version.wasDerivedFrom"></textarea>
                  </div>
                </div>
            </div>



            <div class="content-box">

              <div class="box-header">
                <h3>Files</h3>
                <div class="hover-note">

                  <databus-icon shape="'info'" class='artifact-icon' on-click="changeFilePanel(false);" size="24">
                  </databus-icon>
                  <div class="hover-dropdown content"
                    style="transform: translateX(-315px) translateY(35px); top: initial; right: initial;">
                    <ul style="margin-top: 0; margin-left: 1.5em;">
                      <li ng-repeat="hint in hints.files">{{ hint }}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="row-label">Add Files</div>
                <div class="content-box" style="flex: 1; padding: 1em; margin-bottom: 0.5em;">
                  <div class="field has-addons">
                    <div class="control" style="width: 100%;">
                      <input ng-model="session.fetchFilesInput" class="input" type="text"
                        placeholder="Enter a resource page URL">
                    </div>
                    <div class="control">
                      <a class="button" ng-click="fetchFiles(session.fetchFilesInput)">
                        Fetch URLs
                      </a>
                    </div>
                  </div>
                  <div class="is-divider" data-content="OR" style="margin: 18px 0;"></div>
                  <div>
                    <div class="control" style="width: 100%; margin-bottom: 0.5em;">
                      <textarea ng-model="session.addFileInput" style="min-height: 160px; resize: vertical;"
                        class="input" type="text-area" placeholder="Enter file URLs (seperated by newline)">
                        </textarea>
                    </div>
                    <div class="control">
                      <a class="button" ng-click="addFiles(session.addFileInput)">
                        Add URLs
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="row-label">
                  <div>Content Variants</div>
                  <div class="hover-note">
                    <databus-icon shape="'info'" class='artifact-icon' on-click="changeFilePanel(false);" size="24">
                    </databus-icon>
                    <div class="hover-dropdown content"
                      style="transform: translateX(-120px) translateY(35px); top: initial; right: initial;">
                      <ul style="margin-top: 0; margin-left: 1.5em;">
                        <li ng-repeat="hint in hints.variants">{{ hint }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="content-variants-panel">
                  <div style="border: 1px solid #dbdbdb;
                  margin-bottom: 1em;" ng-repeat="variant in version.contentVariants">
                    <div>
                      <div style="border-bottom: 1px solid #dbdbdb; padding: .2em .5em; background-color: #f6f6f6;">{{
                        variant.label }}</div>

                      <div style="display: flex; align-items: center; padding: .5em;">
                        <div style="flex: 1; display: flex; align-items: center;">
                          <div class="field has-addons" style="margin: 0;">
                            <div class="control">
                              <input class="input" style="min-width: 300px;" ng-model="variant.fillRegex" type="text"
                                placeholder="Enter a Regex (.* for file name)">
                            </div>
                            <div class="control">
                              <div class="button" ng-click="session.data.fill(variant)">
                                Fill
                              </div>
                            </div>
                            <div class="control">
                              <div class="button" ng-click="session.data.fillByRegex(variant)">
                                Fill By Regex
                              </div>
                            </div>

                          </div>
                          <input style="margin: .5em;" ng-model="variant.toLower" class="checkbox" type="checkbox"
                            name="to lowercase">
                          <label for="scales">To Lowercase</label>

                          <input style="margin: .5em;" ng-model="variant.pruneWhitespaces" class="checkbox"
                            type="checkbox" name="prune">
                          <label for="scales">Remove Whitespaces</label>

                          <input style="margin: .5em;" ng-model="variant.overwrite" class="checkbox" type="checkbox"
                            name="prune">
                          <label for="scales">Overwrite</label>
                        </div>

                        <databus-icon shape="'delete'" style="margin-right: .4em;" class='artifact-icon'
                          on-click="session.data.removeContentVariant(variant)" size="24"></databus-icon>
                      </div>
                    </div>
                  </div>

                  <div class="field has-addons">
                    <div class="control" style="width: 100%;">
                      <input ng-model="session.contentVariantInput" class="input" type="text"
                        placeholder="Enter a content variant tag">
                    </div>
                    <div class="control">
                      <a class="button"
                        ng-click="session.data.addContentVariant(session.contentVariantInput); session.contentVariantInput = '';">
                        Add Content Variant
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <br />
              <div>
                <table-editor ng-if="objSize(version.files) > 0" model="version"
                  analysis-processes="session.shasumClient.processes" on-analyze-file="analyzeFile(file)"
                  on-remove-file="removeFile(file)">
                </table-editor>


                <div ng-if="loadRequestCount == 0 && objSize(version.files) == 0" style="margin: -0.5em; background-color: #f6f6f6; margin-top: .5em;
                border-top: solid 1px #dbdbdb;">
                  <div class="hint-box">
                    <div>Add files by entering a file URL or resource page URL in the <b>input fields above</b>
                      and clicking the respective button.</div>
                  </div>
                </div>

              </div>

              <div ng-if="loadRequestCount > 0" style="background-color: #f6f6f6;
               margin: -0.5em; margin-top: .5em;
                border-top: solid 1px #dbdbdb;">
                <div class="loading-rect">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>


            </div>


            <!-- ARTIFACT INFO BOX-->
            <div class="content-box" ng-init="artifact=session.data.artifact">
              <div class="box-header">
                <h3>SIGNATURE</h3>
              </div>


              <div class="box-content">
                <div class="row">
                  <div style="min-width: 240px">Publisher</div>
                  <div style="width: 100%;">
                    <div class="field">
                      <div class="control">
                        <div class="dropdown is-hoverable">
                          <div class="dropdown-trigger">
                            <button style="justify-content: space-between; min-width: 400px;" class="button"
                              aria-haspopup="true" aria-controls="dropdown-menu4">
                              <span>{{ session.data.signature.selectedPublisherUri}}</span>
                              <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </button>
                          </div>
                          <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                              <a ng-click="onSelectPublisher(uri)" class="dropdown-item"
                                ng-repeat="uri in session.data.signature.publisherUris">
                                {{ uri }}
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div style="min-width: 240px">Signature</div>
                  <div style="width: 100%;">
                    <div class="field">
                      <div class="control">
                        <label class="checkbox">
                          <input type="checkbox" ng-disabled="session.data.signature.autoGenerateSignatureLocked"
                            ng-model="session.data.signature.autoGenerateSignature">
                          Auto-generate Signature
                        </label>
                      </div>
                      <div class="control" ng-if="!session.data.signature.autoGenerateSignature">
                        <pre style="margin-bottom: 8px; margin-top: 8px;">{{ session.data.signature.tractate}}</pre>
                        <div style="display: flex; margin-bottom: 8px;">
                          <div style="margin-right: 8px;" class="button" ng-click="createTractate(result.versionUpdate)"
                            ng-disabled="creatingTracate">Create
                            Tractate</div>
                          <div ng-click="copyTracateToClipboard()" class="button">Copy to Clipboard</div>
                        </div>
                        <textarea ng-model="session.data.signature.userSignature" class="textarea"
                          style="resize: vertical" placeholder="Signature"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>



          <div class="content-box" ng-init="artifact=session.data.artifact">
            <div class="box-header">
              <h3>Publish</h3>
            </div>

            <div class="box-content">

              <div class="row">

                <div class="row-label">Group Metadata</div>
                <pre ng-if="result.isReadyForUpload"
                  style="width: 100%;">{{ result.groupUpdate["@graph"] | json }}</pre>
                <pre ng-if="!result.isReadyForUpload" style="width: 100%;">
                  Fix all errors to preview the metadata
                </pre>
              </div>
              <div class="row">

                <div class="row-label">Artifact Metadata</div>
                <pre ng-if="result.isReadyForUpload"
                  style="width: 100%;">{{ result.artifactUpdate["@graph"] | json }}</pre>
                <pre ng-if="!result.isReadyForUpload" style="width: 100%;">
                  Fix all errors to preview the metadata
                </pre>
              </div>
              <div class="row">
                <div class="row-label">Version Metadata</div>

                <pre ng-if="result.isReadyForUpload"
                  style="width: 100%;">{{ result.versionUpdate["@graph"] | json }}</pre>
                <pre ng-if="!result.isReadyForUpload" style="width: 100%;">
                  Fix all errors to preview the DataId
                </pre>
              </div>

              <div class="row">

                <div class="row-label">Full Body</div>
                <pre ng-if="result.isReadyForUpload && session.showContext"
                  style="width: 100%; position: relative;"><div ng-click="session.showContext = false" style="position: absolute; padding: 10px 20px; cursor:pointer; top: 8px; right: 8px; border: 1px solid #dbdbdb;">Hide</div>{{ result.updateData | json }}</pre>
                <pre ng-if="result.isReadyForUpload && !session.showContext"
                  style="width: 100%; position: relative;"><div ng-click="session.showContext = true" style="position: absolute; padding: 10px 20px; cursor:pointer; top: 8px; right: 8px; border: 1px solid #dbdbdb;">Show</div>...</pre>



                <pre ng-if="!result.isReadyForUpload" style="width: 100%;">
                  Fix all errors to preview the DataId
                </pre>
              </div>

              <div class="row">

                <p class="control" style="width: 100%; margin-top: 1em;">
                  <button style="width: 100%; height: 3em;" ng-class=" { 'is-loading' : session.isPublishing }"
                    ng-disabled="!result.isReadyForUpload" class="button is-primary" ng-click="publish()">
                    <span>Publish</span>
                  </button>
                </p>
              </div>


            </div>


          </div>

          <div class="content-box" ng-init="artifact=session.data.artifact">
            <div class="box-header">
              <h3>Result</h3>
            </div>

            <div class="box-content">
              <div class="row">


                <div style="width: 100%; font-family: monospace; padding: 1.5em; background-color: #f5f5f5;">

                  <p ng-repeat="entry in result.publishLog">

                    <span ng-if="entry.hasError" style="color:red">{{ entry.message }}</span>
                    <span ng-if="!entry.hasError">{{ entry.message }}</span>
                  </p>
                </div>


              </div>
              <div class="row">

                <p class="control" style="width: 100%; margin-top: 1em;">
                  <button style="width: 100%; height: 3em;" class="button" ng-click="createNewSession()">
                    <span>Reset Form</span>
                  </button>
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

  </div>
  <% include footer %>