<% include header %>
  <div ng-controller="VersionPageController">

    <style>

.resource-header-section:first-child {
  margin-top: 1.5em;
}
      .resource-header-section {
        margin-bottom: 3em;
      }
    </style>

    <databus-alert></databus-alert>
    <section class="hero is-medium-small databus-banner is-version">
      <div class="hero-body">
        <div class="container has-text-left">
          <div style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24">
              <path class="is-white" fill="#fff"
                d="M 12,0 0.99999997,11.999022 12,23.999999 15.166016,20.546592 A 4.0000001,4.0003251 0 0 1 13,16.99943 a 4.0000001,4.0003251 0 0 1 4,-4.000327 4.0000001,4.0003251 0 0 1 3.378906,1.859527 l 2.621093,-2.859608 z" />
            </svg>
            <div style="margin-left: 24px;">
              <h1 class="title is-2 has-text-left is-marginless">{{ version.title }} {{version.name}}
              </h1>
              <uri-breadcrumbs class="header-breadcrumbs" uri="version.uri"></uri-breadcrumbs>
            </div>
          </div>
        </div>
      </div>
      <div class="open-beta">Open Beta</div>
    </section>

    <div class="collection-editor-header">
      <div class="container">
        <div class="content" style="margin-bottom: 3em">

          <div ng-if="version.abstract && !version.description" class="resource-header-section">
            <p class="section-label">
              DCT:ABSTRACT
            </p>
            <span>{{ version.abstract }}</span>
          </div>

          <div ng-if="version.description"  class="resource-header-section">
            <p class="section-label">
              DCT:DESCRIPTION
            </p>
            <span ng-bind-html="markdownToHtml(version.description)"></span>
          </div>

          <div  class="resource-header-section">

            <p class="section-label">
              Version Info
            </p>
            <div class="columns">
              <div class="column">
                <table class="table is-size-6 is-fullwidth">
                  <col width="20%">
                  <col width="80%">
                  <tbody>
                    <tr ng-if="actions != null">
                      <td>Actions</td>
                      <td>
                        <div style="display:flex; align-items:center">
                          <div ng-if="actions.codeReference"><a ng-href="{{ actions.codeReference }}"
                              target="_blank">View
                              Code</a></div>
                          <div class="action-separator"></div>
                          <div ng-if="actions.issueTracker"><a ng-href="{{ actions.issueTracker }}"
                              target="_blank">Report
                              errors</a></div>
                          <div class="action-separator"></div>
                          <div ng-if="actions.documentationLocation"><a ng-href="{{ actions.documentationLocation }}"
                              target="_blank">Edit documentation</a></div>
                          <div class="action-separator"></div>
                          <div ng-if="actions.feedbackChannel"><a ng-href="{{ actions.feedbackChannel }}"
                              target="_blank">Discuss data</a></div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Issued Date</td>
                      <td>{{ formatDate(version.issued) }}</td>
                    </tr>
                    <tr>
                      <td>License</td>
                      <td><a class="hyphens" ng-href="{{ version.license }}">{{ version.license }}</a></td>
                    </tr>
                    <tr ng-if="version.attribution">
                      <td>Attribution</td>
                      <td>{{ version.attribution }}</td>
                    </tr>
                    <tr ng-if="version.wasDerivedFrom">
                      <td>Was Derived From</td>
                      <td><a class="hyphens" ng-href="{{ version.wasDerivedFrom }}">{{ version.wasDerivedFrom }}</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>



        
          
        </div>

        <!--Tabs-->
        <div class="collection-editor-tabs">
          <div class="collection-editor-tab" ng-class="{ 'is-active' : tabs.activeTab == 0 }"
            ng-click="tabs.activeTab=0;">
            <div class="section-label">Files</div>
          </div>
          <div class="collection-editor-tab" ng-class="{ 'is-active' : tabs.activeTab == 1 }"
            ng-click="tabs.activeTab=1;">
            <div class="section-label">Mods</div>
          </div>
          <div style="flex: 1"></div>
          <div class="collection-editor-tab align-right" ng-if="canEdit"
            ng-class="{ 'is-active' : tabs.activeTab == 2 }" ng-click="tabs.activeTab=2;">

            <div class="section-label" style="display: flex;">
              <databus-icon style="margin-right:12px;" shape="'edit'" size="24">
              </databus-icon>Edit
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="section" style="min-height: 700px">

      <div class="container">

        <div ng-if="tabs.activeTab == 2 && canEdit">
          <div class="content-box">
            <div class="box-header">
              <h3>EDIT VERSION INFO</h3>
            </div>
            <div class="box-content">
              <div class="row">
                <div class="row-label optional">Title</div>
                <div style="flex: 1">
                  <input class="input" type="text" ng-model="formData.version.title">
                </div>
              </div>
              <div class="row">
                <div class="row-label optional">Abstract</div>
                <div style="flex: 1">
                  <div>
                    <div class="field override-checkbox" style="margin-bottom: .25em;"
                      ng-class="{ 'is-override' : formData.version.generateAbstract }">
                      <input id="check--generate--abstract" name="check--generate--abstract" class="is-checkradio"
                        type="checkbox" ng-model="formData.version.generateAbstract">
                      <label for="check--generate--abstract">
                        <span>Generate Abstract From Description</span>
                      </label>
                    </div>
                    <textarea wrap="hard" ng-disabled="formData.version.generateAbstract"
                      style="min-height: 120px; resize: vertical;" class="input" type="text"
                      ng-model="formData.version.abstract"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="row-label optional">Description</div>
                <div style="flex: 1">
                  <textarea wrap="hard" style="min-height: 240px; resize: vertical;" class="input" type="text"
                    ng-model="formData.version.description" ng-change="onDescriptionChanged()"></textarea>
                </div>
              </div>
               <!-- LICENSE URI -->
               <div class="row">
                <div class="row-label">License URI</div>
                <div style="flex: 1">
                  <div style="width: 100%;">
                    <div class="field has-addons" style="width: 100%; margin-bottom: 0;">
                      <input class="control input" type="text" ng-model="formData.version.license">
                      <div class="control">
                        <div class="dropdown is-hoverable" style="position: relative;">
                          <div class="dropdown-trigger">
                            <a class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                              <span>Select License</span>
                              <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                              </span>
                            </a>
                          </div>
                          <div class="dropdown-menu" id="dropdown-menu" role="menu" style="right: 0; left: initial;">
                            <div class="dropdown-content" style="min-width: 500px; padding: 4px;">
                              <input placeholder="Search for a license" class="input" ng-model="licenseQuery"
                                ng-change="filterLicenses(licenseQuery)" />
                              <div ng-repeat="license in filteredLicenseList | limitTo: 25"
                                style="padding: 0.5em 0.25em;" ng-click="formData.version.license=license.id.value">
                                {{ license.title.value }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <span ng-if="hasError(version.errors, 'err_invalid_version_license')" class="help is-danger">{{
                      texts.errors['err_invalid_version_license'] }}</span>
                  </div>
                </div>
              </div>


              <!-- LICENSE ATTRIBUTION -->
              <div class="row">
                <div class="" style="min-width: 240px">Attribution</div>
                <div style="flex: 1">
                  <textarea wrap="hard" style="min-height: 180px; resize: vertical" class="input" type="text"
                    ng-model="formData.version.attribution"></textarea>
                </div>
              </div>

              <!-- DERIVED FROM -->
              <div class="row">
                <div class="" style="min-width: 240px">Derived From</div>
                <div style="flex: 1">
                  <textarea wrap="hard" style="min-height: 180px; resize: vertical" class="input" type="text"
                    ng-model="formData.version.wasDerivedFrom"></textarea>
                </div>
              </div>

              <div class="row" style="justify-content: flex-end">
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-consumer" ng-click="saveVersion()">Save</button>
                  </div>
                  <div class="control">
                    <button ng-click="resetEdits()" class="button">Reset</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>

        <div ng-if="tabs.activeTab == 1">

          Learn <a target="_blank" href=https://github.com/dbpedia/databus-mods />how to create a new mod.</a>
          <br />
          <br />
          <table ng-if="!modsCollapsed" class="table is-fullwidth" style="margin-bottom:.5em;">
            <tr>
              <th>File</th>
              <th>Mods</th>
            </tr>
            <tr ng-repeat="mod in modsData  | limitTo:modsMaxAmount">
              <td><a ng-href="{{ mod.file }}" target="_blank2">{{ formatModFile(mod.file) }}</a></td>
              <td ng-bind-html="formatMods(mod.results)"></td>
            </tr>
          </table>
          <div ng-if="modsMaxAmount == modsAmountMinimized" style="text-align:center; color:#999; cursor:pointer;"
            ng-click="showAllMods()">
            <div style="border:1px solid #dbdbdb; padding: 0.2em">Show All</div>
          </div>
          <div ng-if="modsMaxAmount > modsAmountMinimized" style="text-align:center; color:#999; cursor:pointer;"
            ng-click="hideAllMods()">
            <div style="border:1px solid #dbdbdb; padding: 0.2em">Hide All</div>
          </div>

        </div>

        <div class="file-browser" ng-if="tabs.activeTab == 0">
          <div class="columns">
            <div class="column is-3">
              <facets-view node="artifactNode" resource-type="version" on-change="onFacetSettingsChanged()">
              </facets-view>
            </div>
            <div class="column">
              <file-browser full-query="fileSelector.fullQuery" query="fileSelector.query" config="fileSelector.config">
              </file-browser>
            </div>
          </div>
          <div id="add-to-collection-modal" class="modal" ng-class="{ 'is-active' : collectionModalVisible }">
            <div class="modal-background" ng-click="hideCollectionModal()" style="background-color: rgba(0, 0, 0, 0.4)">
            </div>
            <div class="modal-card" style="max-width: 80%; width:initial">
              <header class="modal-card-head">
                <p class="modal-card-title">Add Query to Collection</p>
                <button ng-click="hideCollectionModal()" class="delete" aria-label="close"></button>
              </header>
              <section class="modal-card-body">

                <div class="title is-6">Version Query</div>
                <yasqe-text query="addToCollectionQuery"></yasqe-text>

                <div>
                  <br />
                  <br />
                  <div class="title is-6">Add to Collection</div>
                  <div style="max-height:200px; overflow-y:scroll;">
                    <div ng-click="collectionManager.setActive(collection.id)"
                      ng-class="{ 'is-active' : collection.id == collectionManager.activeCollection.id }"
                      ng-repeat="collection in collectionManager.collections" href="#"
                      class="is-list-item is-clickable">
                      {{ collection.label }} ({{ formatId(collection.id) }})
                    </div>
                  </div>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button ng-click="addQueryToCollection()" class="button is-primary is-active">
                  <span class="icon has-text-primary has-margin-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                      <path
                        d="M21.698 10.658l2.302 1.342-12.002 7-11.998-7 2.301-1.342 9.697 5.658 9.7-5.658zm-9.7 10.657l-9.697-5.658-2.301 1.343 11.998 7 12.002-7-2.302-1.342-9.7 5.657zm12.002-14.315l-12.002-7-11.998 7 11.998 7 12.002-7z" />
                    </svg>
                  </span>
                  Add to Collection
                </button>
                <button ng-click="hideCollectionModal()" class="button">Cancel</button>
              </footer>
            </div>
          </div>


        </div>
    </section>

  </div>
  <% include footer %>