<div ng-if="$ctrl.groupedFiles == null" style="text-align:center">
  <div class="loading-rect">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>


<table ng-if="$ctrl.groupedFiles != null" class="table is-bordered is-striped is-fullwidth"
  style="table-layout: fixed;">
  <col width="35%">
  <col width="15%">
  <col width="13%">
  <col width="7%">
  <col width="30%">
  <tr style="cursor:pointer;">
    <th>Dataset</th>
    <th>Downloads</th>
    <th>Variant</th>
    <th>Format</th>
    <th>License</th>
  </tr>

  <tr ng-if="$ctrl.files.length == 0">
    <td colspan="5"><i style="color: #999">None</i></td>
  </tr>
  <tr ng-repeat-start="version in $ctrl.groupedFiles" style="position:relative;">
  </tr>

  <tr style="position:relative;" ng-repeat-start="distribution in version.distributions">

    <td ng-if="$first" rowspan="{{ $ctrl.getRowspan(version) }}">
      <span ng-if="$first">{{version.title}} (<a target="_blank" ng-href="{{version.uri}}">{{
          $ctrl.uriToName(version.uri) }}</a>)</span></td-->
    <td>

      <div style="display: flex; justify-content: space-between; align-items: center;">

        <div style="display: flex; justify-content: flex-end; align-items: center;">
          {{ $ctrl.formatUploadSize(distribution.size) }}
          <a ng-href="{{ $ctrl.createRelativeUri(distribution.file) }}" target="_blank">
            <svg style="margin-left:1em;margin-bottom:-.4em;" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
              fill-rule="evenodd" clip-rule="evenodd">
              <path
                d="M6 16h-5v6h22v-6h-5v-1h6v8h-24v-8h6v1zm14 2c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1zm-7.5-17v14.884l4.736-5.724.764.645-5.979 7.195-6.021-7.205.765-.644 4.735 5.732v-14.883h1z" />
            </svg>
          </a>
        </div>
      </div>
    </td>

    <td>{{ distribution.variant }}</td>
    <td>{{ distribution.format }}</td>
    <td><a ng-href="{{ version.license }}">{{version.license}}</a></td>

  </tr>
  <tr ng-repeat-end>
  </tr>

  <tr ng-repeat-end></tr>
</table>