<div class="entity-card">
  <div class="entity-card-header">
    <img class="entity-card-icon" ng-if="$ctrl.imageUrl" ng-src="{{ $ctrl.imageUrl }}" />
    <type-tag width="48" height="48" style="margin-right:12px" ng-if="$ctrl.type" type="$ctrl.type"></type-tag>
    <div class="dataset-name">
      <a ng-href="{{ $ctrl.uri }}">
        <p id="const" class="title search-result" ng-bind-html="$ctrl.formatResult($ctrl.label)"></p>
      </a>
      <div ng-if="$ctrl.uri" class="subtitle is-6 has-text-link">
        <uri-breadcrumbs absolute="$ctrl.absolute" uri="$ctrl.uri"></uri-breadcrumbs>
      </div>
    </div>
  </div>
  <div class="entity-card-content" ng-if="$ctrl.desc">
    <div class="content">
      <div class="hyphens search-result" ng-bind-html="$ctrl.formatResult($ctrl.desc)"></div>
    </div>
  </div>
  <div class="entity-card-footer" ng-if="$ctrl.date">
    <div>{{ $ctrl.date }}</div>
  </div>
</div>
