<style>
  .ce-content-group {
    padding: 0;
    border: 1px solid #dbdbdb;
    background-color: white;

    margin-left: 8em;
    margin-top: 16px;
  }

  .ce-content-source {
    padding: 0;
    margin-top: 16px;
    margin-left: 4em;
    border: 1px solid #dbdbdb;
    background-color: white;
  }

  .ce-content-collection {
    padding: 0;
    border: 1px solid #dbdbdb;
    background-color: white;
  }

  .ce-content-source-header {
    padding: .5em;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .ce-content-source-body {
    padding: 1em;
    border-top: 1px solid #dbdbdb;
  }

  .ce-content-source-footer {

    padding: .75em;
    border-top: 1px solid #dbdbdb;
  }

  .ce-content-collection-header {
    padding: .5em;
    display: flex;
    align-items: center;
  }


  .ce-content-group-header {
    padding: .5em;
    display: flex;
    align-items: center;
    cursor: pointer;
  }



  .ce-content-artifact {
    padding: 0;
    border: 1px solid #dbdbdb;
    background-color: white;
    margin-left: 12em;
    margin-top: 16px;
    position: relative;
  }

  .ce-content-files-header {
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
  }

  .ce-content-file {
    padding: 0;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    background-color: white;
    margin-left: 16em;
    margin-top: 1em;
  }

  .ce-content-filter-dropdown-button.is-facet {
    background-color: #f6f6f6;
    border: 1px solid #dbdbdb;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
  }

  .ce-content-filter-dropdown-button .dropdown-trigger button {
    border-radius: 0 !important;
  }

  .ce-content-filter-dropdown-button.is-facet databus-icon {
    margin-right: 0.5em;
  }

  .ce-content-filter-dropdown-button.is-delete {
    border: 1px solid #dbdbdb;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
    width: 36px;
    border-left: none;
    justify-content: center;
    fill: #a7a7a7;

    border-radius: 0px 4px 4px 0px;
  }

  .ce-content-filter-dropdown-button.is-delete:hover {
    background-color: #f6f6f6;
  }

  .ce-artifact-tree-line {
    width: 32px;
    margin-left: -33px;
    margin-top: -18px;
    height: 48px;
    position: absolute;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-right: 0;
  }

  .file-row:first-child .ce-file-tree-line {
    margin-top: -18px;
    height: 40px;
  }

  .ce-file-tree-line {
    width: 32px;
    margin-left: -33px;
    margin-top: -26px;
    height: 49px;
    position: absolute;
    border: 1px solid #dbdbdb;
    border-top: none;
    border-right: 0;
  }

  .ce-file-to-artifact-tree-line {
    width: 96px;
    margin-left: -97px;
    height: 48px;
    position: absolute;
    border-left: 1px solid #dbdbdb;
  }

  .ce-artifact-to-artifact-tree-line {
    width: 32px;
    margin-left: -33px;
    top: 16px;
    bottom: -18px;
    position: absolute;
    border-left: 1px solid #dbdbdb;
  }

  .mini-filter-view {
    display: flex;
    height: 30px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    margin-left: .5em;
  }

  .mini-filter-view div:first-child {
    background-color: #f6f6f6;
    padding: .1em .35em;
    color: #aaa;
    border-right: 1px solid #dbdbdb;
    height: 30px;
  }

  .mini-filter-view div:last-child {
    background-color: white;
    padding: .1em .35em;
    height: 30px;
  }


  .ce-content-group-body {
    border-top: 1px solid #dbdbdb;
  }

  .ce-content-body-section {
    padding: 1em;
    border-bottom: 1px solid #dbdbdb;
  }

  .ce-content-body-section:last-child {
    border-bottom: none;
  }

  .ce-content-body-section.footer {
    background-color: #f6f6f6;
  }

  .ce-line-button {
    z-index: 5;
    position: absolute;
    border: 1px solid #dbdbdb;
    left: 22px;
    top: 20px;
    width: 21px;
    height: 21px;
    padding-left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fafb;
    cursor: pointer;
  }
</style>

<div class="ce-content-collection">

  <div class=" ce-content-collection-header">
    <type-tag width="48" height="48" style="margin-right:18px" type="'Collection'"></type-tag>
    <div style="flex: 1;">{{ $ctrl.collection.label }}</div>

    <div class="field has-addons" style="margin-right: .5em">
      <p class="control">
        <input class="input" placeholder="Enter Databus Resource URI..." style="min-width: 400px;" input="searchInput"
          ng-model="$ctrl.databusUriToAdd" filters="searchFilters">
      </p>
      <p class="control">
        <a ng-click="$ctrl.onAddResource($ctrl.databusUriToAdd)" class="button is-version">
          Add Resource
        </a>
      </p>

    </div>

  </div>
</div>

<div style="position:relative;" ng-repeat-start="sourceNode in $ctrl.root.childNodes track by sourceNode.uri"
  ng-init="sourceView = $ctrl.view.sources[sourceNode.uri]">

  <div class="ce-content-source">

    <div class="ce-artifact-tree-line">
    </div>

    <div ng-if="sourceNode.childNodes.length > 0">
      <div class="ce-line-button" ng-if="sourceView.collapsed" ng-click="$ctrl.toggleCollapsed(sourceNode, sourceView)">
        <databus-icon style="display: flex;" shape="'add'" size="16"></databus-icon>
      </div>
      <div class="ce-line-button" ng-if="!sourceView.collapsed"
        ng-click="$ctrl.toggleCollapsed(sourceNode, sourceView)">
        <databus-icon style="display: flex;" shape="'remove'" size="16"></databus-icon>
      </div>
    </div>

    <div ng-if="!$ctrl.isLastChild($ctrl.root, sourceNode)" class="ce-artifact-to-artifact-tree-line"></div>

    <div class=" ce-content-source-header" ng-click="$ctrl.toggleExpand(sourceView)">
      <type-tag width="48" height="48" style="margin-right:18px" type="'Databus'"></type-tag>
      <div style="flex: 1;">{{ sourceNode.uri }}</div>

      <databus-icon style="margin-right:16px; cursor: pointer;" ng-if="!sourceView.expanded" shape="'max'" size="24">
      </databus-icon>
      <databus-icon style="margin-right:16px; cursor: pointer;" ng-if="sourceView.expanded" shape="'min'" size="24">
      </databus-icon>

    </div>

    <div class="ce-content-source-body" ng-if="sourceView.expanded">
      <div>
        <div style="display: flex; margin-bottom: 0.5em; ">
          <b style="margin-right: 0.75em;">Add Content:</b>
          <div class="control">
            <label class="radio" for="{{ 'artifacts-' + sourceNode.uri }}">
              <input type="radio" id="{{ 'artifacts-' + sourceNode.uri }}" name="{{ 'artifacts-' + sourceNode.uri }}"
                ng-model="sourceView.addMode" value="artifact" name="answer">
              Groups & Artifacts
            </label>
            <label class="radio" for="{{ 'artifacts-' + sourceNode.uri }}">
              <input ng-model="sourceView.addMode" id="{{ 'custom-' + sourceNode.uri }}"
                name="{{ 'custom-' + sourceNode.uri }}" value="custom" type="radio" name="'custom'">
              Custom SPARQL Query
            </label>
          </div>
        </div>

        <div ng-if="sourceView.addMode == 'artifact'">
          <div style="display: flex;">
            <div class="field" style="display: flex; line-height: 1; margin-bottom: 0; width: 100%;">
              <div class="control has-icons-left has-icons-right" style="flex:1;">
                <input class="input" type="text" ng-model="sourceView.search"
                  ng-change="$ctrl.searchNode(sourceNode, sourceView)" ng-keydown="$ctrl.handleKey($event, sourceView)"
                  placeholder="Search Databus for resources to add...">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </div>
            </div>
          </div>


          <!-- Add search bubbles -->
          <div ng-if="sourceView.isSearching"
            style="width: 100%; display: flex; justify-content: center; margin-top: 10px">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div style="margin-top: 1.1em" ng-if="sourceView.search != '' && sourceView.searchResults.length > 0">

            <div ng-repeat="result in sourceView.searchResults">
              <div style="display: flex; align-items: center; margin-bottom: 1em;">
                <div style=" margin-right: .5em;">
                  <div class="is-clickable button" ng-click="$ctrl.addToCollection(sourceNode, sourceView, result)"
                    ng-class="{ 'is-collection' : result.inCollection }" style="width: 48px; height: 48px;">
                    <span ng-if="result.inCollection" class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span ng-if="!result.inCollection" class="icon is-small">
                      <i class="fas fa-plus"></i>
                    </span>

                  </div>
                </div>

                <entity-card style="flex: 1;" label="result.label[0].highlight" type="result.typeName[0].value"
                  uri="result.id[0].value" absolute="true"  desc="result.comment[0].highlight">
                </entity-card>

              </div>

            </div>
          </div>
        </div>

        <div ng-if="sourceView.addMode == 'custom'">

          <input style="margin-bottom: 0.5em" class="input" ng-model="sourceView.customQueryLabel" />
          <yasqe-text query="sourceView.customQueryInput"></yasqe-text>
          <button style="margin-top: 0.5em" class="button" ng-click="$ctrl.addCustomNode(sourceNode, sourceView.customQueryLabel,
            sourceView.customQueryDescription, sourceView.customQueryInput)">Add</button>
        </div>



      </div>


    </div>
    <div class="ce-content-body-section footer" ng-if="sourceView.expanded" style="border-top: 1px solid #dbdbdb;">
      <div style="display: flex;" ng-if="!$ctrl.readonly">
        <div style="flex: 1"></div>
        <button class="button is-danger is-outlined" ng-click="$ctrl.removeNode(sourceNode)">
          Remove Databus
        </button>
      </div>
    </div>

  </div>

  <div ng-if="!sourceView.collapsed" style="position: relative;"
    ng-repeat-start="groupNode in sourceNode.childNodes track by groupNode.uri"
    ng-init="groupView = $ctrl.view.groups[groupNode.uri]">

    <div class="ce-content-group">

      <div class="ce-artifact-tree-line">
      </div>

      <div ng-if="groupNode.childNodes.length > 0 || groupNode.files.length > 0">
        <div class="ce-line-button" style="left:86px" ng-if="groupView.collapsed"
          ng-click="$ctrl.toggleCollapsed(groupNode, groupView)">
          <databus-icon style="display: flex;" shape="'add'" size="16"></databus-icon>
        </div>
        <div class="ce-line-button" style="left:86px" ng-if="!groupView.collapsed"
          ng-click="$ctrl.toggleCollapsed(groupNode, groupView)">
          <databus-icon style="display: flex;" shape="'remove'" size="16"></databus-icon>
        </div>
      </div>


      <div ng-if="!$ctrl.isLastChild(sourceNode, groupNode)" class="ce-artifact-to-artifact-tree-line"></div>

      <div class=" ce-content-group-header" ng-click="$ctrl.toggleExpand(groupView)">
        <type-tag ng-if="$ctrl.isValidHttpUrl(groupNode.uri)" width="48" height="48" style="margin-right:18px"
          type="'Group'"></type-tag>
        <type-tag ng-if="!$ctrl.isValidHttpUrl(groupNode.uri)" width="48" height="48" style="margin-right:18px"
          type="'Sparql'"></type-tag>

        <span>
          <a ng-href="{{ $ctrl.utils.navigateUp(groupNode.uri) }}" target="_blank">{{
            $ctrl.utils.uriToResourceName($ctrl.utils.navigateUp(groupNode.uri)) }}</a>
          <span> » </span>
          <a ng-href="{{ groupNode.uri }}" target="_blank">{{ $ctrl.utils.uriToResourceName(groupNode.uri) }}</a>
        </span>

        <div
          ng-if="$ctrl.isValidHttpUrl(groupNode.uri) && $ctrl.objSize(groupNode.facetSettings) > 0 && !groupView.expanded"
          style="display: flex; align-items: center; margin-left: 0.5em;">

          <div ng-if="!groupView.facets"
            style="display: flex; justify-content: center; height: 32px; margin-top: -28px;">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>


          <div ng-if="groupView.facets" style="display: flex;" ng-repeat="(uri, setting) in groupNode.facetSettings">
            <div ng-if="setting.length > 0" class="mini-filter-view">
              <div>{{ groupView.facets[uri].label}}</div>
              <div ng-bind-html="$ctrl.list(setting)"></div>



            </div>
          </div>
        </div>
        <div style="flex: 1;"></div>
        <databus-icon style="margin-right:16px; cursor: pointer;" ng-if="!groupView.expanded" shape="'max'" size="24">
        </databus-icon>
        <databus-icon style="margin-right:16px; cursor: pointer;" ng-if="groupView.expanded" shape="'min'" size="24">
        </databus-icon>
      </div>

      <div class="ce-content-group-body" ng-if="groupView.expanded && !$ctrl.isValidHttpUrl(groupNode.uri)">
        <input style="margin-bottom: 0.5em" class="input" ng-model="groupNode.uri" />
        <yasqe-text query="groupNode.property"></yasqe-text>
      </div>

      <div class="ce-content-group-body" ng-if="groupView.expanded && $ctrl.isValidHttpUrl(groupNode.uri)">

        <div class="ce-content-body-section">

          <div ng-if="!groupView.facets">

            <div style="display: flex; justify-content: center; ">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>

          <div ng-if="groupView.facets">
            <p style="margin-bottom: 0.5em;"><b>Add Filters:</b></p>
            <div style="display: flex; margin-bottom: 1em;">
              <autofill-dropdown style="margin-right: 0.5em;" placeholder="Enter facet..."
                input="groupView.addFilterFacetInput" on-change="$ctrl.onAddFilterFacetInputChanged(groupView)"
                values="$ctrl.getFacetLabels(groupView)">
              </autofill-dropdown>

              <multiselect-dropdown style="margin-right: 0.5em; min-width: 350px" placeholder="Select values..."
                input="groupView.addFilterValue" is-disabled="groupView.addFilterFacet == null"
                values="groupView.facets[groupView.addFilterFacet].values">
              </multiselect-dropdown>
              <div class="button is-primary"
                ng-disabled="groupView.addFilterFacet == null || groupView.addFilterValue == null"
                ng-click="$ctrl.addFilter(groupNode, groupView.addFilterFacet, groupView.addFilterValue, true)">
                <databus-icon style="margin-right:8px;" color="'white'" shape="'add-button'" size="12"></databus-icon>
                Add
              </div>
            </div>


            <div ng-if="$ctrl.objSize(groupNode.facetSettings) > 0">

              <p style="margin-bottom: 0.5em;"><b>Active Filters:</b></p>
              <div>
                <div ng-repeat="(uri, setting) in groupNode.facetSettings"
                  style="margin-right: 1em; margin-bottom: .75em; display: flex;">

                  <div class="field has-addons" style="min-width: 60%;">
                    <div class="ce-content-filter-dropdown-button is-facet">
                      <databus-icon shape="'check'" size="18" color="'#2bcbba'"></databus-icon>
                      <span>{{ groupView.facets[uri].label}}</span>
                    </div>

                    <multiselect-dropdown class="ce-content-filter-dropdown-button" style="flex-grow: 1"
                      placeholder="Select values..." input="setting" values="groupView.facets[uri].values"
                      on-change="$ctrl.onActiveFilterChanged(groupNode)">
                    </multiselect-dropdown>


                    <div class="ce-content-filter-dropdown-button is-delete"
                      ng-click="$ctrl.removeFilter(groupNode, uri)">
                      <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg"
                        fill-rule="evenodd" clip-rule="evenodd">
                        <path
                          d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z" />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="ce-content-body-section">
          <p style="margin-bottom: 0.5em;"><b>Add Artifacts:</b></p>

          <div style="display: flex;">
            <div class="field" style="display: flex; line-height: 1; margin-bottom: 0; width: 100%;">
              <div class="control has-icons-left has-icons-right" style="flex:1;">
                <input class="input" type="text" ng-model="groupView.search"
                  ng-change="$ctrl.searchNode(groupNode, groupView)" ng-keydown="$ctrl.handleKey($event, groupView)"
                  placeholder="Search this group for artifacts to add...">
                <span class="icon is-small is-left">
                  <i class="fas fa-search"></i>
                </span>
              </div>
            </div>
          </div>

          <!-- Add search bubbles -->
          <div ng-if="groupView.isSearching"
            style="width: 100%; display: flex; justify-content: center; margin-top: 10px">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div style="margin-top: 1.1em" ng-if="groupView.search != '' && groupView.searchResults.length > 0">

            <div ng-repeat="result in groupView.searchResults">
              <div style="display: flex; align-items: center; margin-bottom: 1em;">
                <div style=" margin-right: .5em;">
                  <div class="is-clickable button" ng-click="$ctrl.addToCollection(groupNode, groupView, result)"
                    ng-class="{ 'is-collection' : result.inCollection }" style="width: 48px; height: 48px;">
                    <span ng-if="result.inCollection" class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span ng-if="!result.inCollection" class="icon is-small">
                      <i class="fas fa-plus"></i>
                    </span>

                  </div>
                </div>

                <entity-card style="flex: 1;" label="result.label[0].highlight" type="result.typeName[0].value"
                  uri="result.id[0].value" absolute="true" desc="result.comment[0].highlight">
                </entity-card>

              </div>

            </div>
          </div>

        </div>

        <div class="ce-content-body-section footer">
          <div style="display: flex;" ng-if="!$ctrl.readonly">
            <div style="flex: 1"></div>
            <button ng-if="$ctrl.isValidHttpUrl(groupNode.uri)" class="button is-danger is-outlined"
              ng-click="$ctrl.removeNode(groupNode)">
              Remove Group
            </button>
            <button ng-if="!$ctrl.isValidHttpUrl(groupNode.uri)" class="button is-danger is-outlined"
              ng-click="$ctrl.removeNode(groupNode)">
              Remove Custom Query
            </button>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!groupView.collapsed">
      <div class="ce-content-artifact" ng-repeat-start="artifactNode in groupNode.childNodes track by artifactNode.uri"
        ng-init="artifactView = $ctrl.view.artifacts[artifactNode.uri]">

        <div class="ce-artifact-tree-line"></div>

        <div ng-if="artifactNode.files.length > 0">
          <div class="ce-line-button" style="left: -43px;" ng-if="artifactView.collapsed"
            ng-click="$ctrl.toggleCollapsed(artifactNode, artifactView)">
            <databus-icon style="display: flex;" shape="'add'" size="16"></databus-icon>
          </div>
          <div class="ce-line-button" style="left: -43px;" ng-if="!artifactView.collapsed"
            ng-click="$ctrl.toggleCollapsed(artifactNode, artifactView)">
            <databus-icon style="display: flex;" shape="'remove'" size="16"></databus-icon>
          </div>
        </div>


        <div ng-if="!$ctrl.isLastChild(groupNode, artifactNode)" class="ce-artifact-to-artifact-tree-line"></div>
        <div class=" ce-content-group-header" ng-click="$ctrl.toggleExpand(artifactView)">
          <type-tag width="48" height="48" style="margin-right:18px" type="'Artifact'"></type-tag>

          <a ng-href="{{ artifactNode.uri }}" target="_blank">{{ $ctrl.utils.uriToResourceName(artifactNode.uri) }}</a>

          <div ng-if="$ctrl.objSize(artifactNode.facetSettings) > 0 && !artifactView.expanded"
            style="display: flex; align-items: center; margin-left: 0.5em;">

            <div ng-if="!artifactView.facets"
              style="display: flex; justify-content: center; height: 32px; margin-top: -28px;">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>

            <div ng-if="artifactView.facets" style="display: flex;">


              <div ng-if="setting.length > 0" class="mini-filter-view">
                <div>{{ groupView.facets[uri].label}}</div>
                <div>
                  <span ng-repeat="value in setting">
                    <span ng-if="value.value == ''" style="color: #a3a3a3;">
                      <i>None</i>
                    </span>
                    <span ng-if="value.value != ''">
                      {{ value.value == '$latest' ? 'Latest Version' : value.value }}
                    </span>
                    <span ng-if="!$last">,</span>
                  </span>
                </div>
              </div>
              <div ng-repeat="(uri, setting) in artifactNode.facetSettings">
                <div ng-if="setting.length > 0" class="mini-filter-view">
                  <div>{{ artifactView.facets[uri].label}}</div>
                  <div>
                    <span ng-repeat="value in setting">

                      <span ng-if="value.checked">
                        <span ng-if="value.value == ''" style="color: #a3a3a3;">
                          <i>None</i>
                        </span>
                        <span ng-if="value.value != ''">
                          {{ value.value == '$latest' ? 'Latest Version' : value.value }}
                        </span>
                      </span>
                      <span ng-if="!value.checked">
                        <del>
                          <span ng-if="value.value == ''" style="color: #a3a3a3;">
                            <i>None</i>
                          </span>
                          <span ng-if="value.value != ''">
                            {{ value.value }}
                          </span>
                        </del>
                      </span>
                      <span ng-if="!$last">,</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="flex: 1;"></div>
          <databus-icon style="margin-right:16px;" ng-if="!artifactView.expanded" shape="'max'" size="24">
          </databus-icon>
          <databus-icon style="margin-right:16px;" ng-if="artifactView.expanded" shape="'min'" size="24"></databus-icon>
        </div>

        <div class="ce-content-group-body " ng-if="artifactView.expanded">

          <div class="ce-content-body-section">

            <div ng-if="!artifactView.facets">

              <div style="display: flex; justify-content: center; ">
                <div class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>

            <div ng-if="artifactView.facets">


              <p style="margin-bottom: 0.5em;"><b>Add Filters:</b></p>
              <div style="display: flex; margin-bottom: 1em;">
                <autofill-dropdown style="margin-right: 0.5em;" placeholder="Enter facet..."
                  input="artifactView.addFilterFacetInput" on-change="$ctrl.onAddFilterFacetInputChanged(artifactView)"
                  values="$ctrl.getFacetLabels(artifactView)">
                </autofill-dropdown>

                <multiselect-dropdown style="margin-right: 0.5em; min-width: 350px" placeholder="Select values..."
                  input="artifactView.addFilterValue" values="artifactView.facets[artifactView.addFilterFacet].values">
                </multiselect-dropdown>


                <div class="button is-primary"
                  ng-disabled="artifactView.addFilterFacet == null || artifactView.addFilterValue == null || artifactView.addFilterValue.length == 0"
                  ng-click="$ctrl.addFilter(artifactNode, artifactView.addFilterFacet, artifactView.addFilterValue, true)">
                  <databus-icon style="margin-right:8px;" color="'white'" shape="'add-button'" size="12">
                  </databus-icon>
                  Add
                </div>
              </div>

              <div ng-if="$ctrl.objSize(groupNode.facetSettings) + $ctrl.objSize(artifactNode.facetSettings) > 0">



                <p style="margin-bottom: 0.5em;"><b>Active Filters:</b></p>

                <div ng-repeat="uri in $ctrl.getAllFilters(artifactNode, groupNode)"
                  style="margin-right: 1em; margin-bottom: .75em; display: flex;">

                  <div class="field has-addons" style="min-width: 60%;">
                    <div class="ce-content-filter-dropdown-button is-facet">
                      <databus-icon shape="'check'" size="18" color="'#2bcbba'"></databus-icon>
                      <span>{{ artifactView.facets[uri].label}}</span><span style="margin-left: 4px"
                        ng-if='groupNode.facetSettings[uri] != undefined'>
                        (from parent)</span>
                    </div>

                    <multiselect-dropdown class="ce-content-filter-dropdown-button" style="flex-grow: 1"
                      placeholder="Select values..." parent-input="groupNode.facetSettings[uri]"
                      input="artifactNode.facetSettings[uri]" values="artifactView.facets[uri].values"
                      on-change="$ctrl.onActiveFilterChanged(artifactNode)">
                    </multiselect-dropdown>



                    <div class="ce-content-filter-dropdown-button is-delete" ng-if="artifactNode.facetSettings[uri]"
                      ng-click="$ctrl.removeFilter(artifactNode, uri)">
                      <svg viewBox="0 0 24 24" width="18" height="18" xmlns="http://www.w3.org/2000/svg"
                        fill-rule="evenodd" clip-rule="evenodd">
                        <path
                          d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z" />
                      </svg>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
          <div class="ce-content-body-section footer">
            <div style="display: flex;">
              <div style="flex: 1"></div>
              <button class="button is-danger is-outlined" ng-click="$ctrl.removeNode(artifactNode)">
                Remove Artifact
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="ce-content-file"
        ng-if="artifactNode.files && artifactNode.files.length > 0 && !artifactView.collapsed">
        <div ng-repeat="file in artifactNode.files" class="file-row">
          <div class="ce-file-tree-line"></div>
          <div ng-if="!$ctrl.isLastChild(groupNode, artifactNode)" class="ce-file-to-artifact-tree-line"></div>
          <div class="ce-content-files-header">
            <a ng-href="{{ file.file }}" target="_blank" style="flex:1; margin-left: 16px;">{{
              $ctrl.utils.uriToName(file.file) }}</a>
            <div style="margin-right: 16px;">{{ $ctrl.formatFileSize(file.size) }}</div>
          </div>
        </div>
      </div>
      <div ng-repeat-end style="margin-bottom: 1em;"></div>
    </div>
    <div class="ce-content-file" ng-if="!groupView.collapsed && groupNode.files && groupNode.files.length > 0">
      <div ng-repeat="file in groupNode.files" class="file-row">
        <div class="ce-file-tree-line"></div>
        <div class="ce-content-files-header">
          <a ng-href="{{ file.file }}" target="_blank" style="flex:1; margin-left: 16px;">{{
            $ctrl.utils.uriToName(file.file) }}</a>
          <div style="margin-right: 16px;">{{ $ctrl.formatFileSize(file.size) }}</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-repeat-end style="margin-bottom: 1em;"></div>
</div>

<div ng-repeat-end style="margin-bottom: 1em;"></div>