<div>

  <div class="placeholder-large databus-no-content" ng-if="$ctrl.isLoading">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div ng-if="!$ctrl.isLoading">

    <div class="file-browser-settings">
      <div style="display: flex">
        <div class="field has-addons vis-picker" style="margin: 0">
          <div class="control">
            <div class="button" ng-click="$ctrl.activeTab = 0" ng-class="{ 'is-active' : $ctrl.activeTab == 0 }">
              Table
            </div>
          </div>
          <div class="control">
            <div class="button" ng-click="$ctrl.activeTab = 1" ng-class="{ 'is-active' : $ctrl.activeTab == 1 }">
              List
            </div>
          </div>
          <div class="control">
            <div class="button" ng-click="$ctrl.activeTab = 2" ng-class="{ 'is-active' : $ctrl.activeTab == 2 }">
              Query
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex; align-items: center;">
        <div ng-if="!$ctrl.isLoading" style="margin-right: 1em;">{{ $ctrl.numFiles }} file(s) / {{
          $ctrl.totalSize }}</div>
        <collection-editor-widget ng-if="$ctrl.config.authenticated" selection='$ctrl.node'></collection-editor-widget>
      </div>
    </div>

    <!-- Table view tab ng-style="{ 'width' : column.width }" -->
    <div ng-if="$ctrl.activeTab == 0">
      <table class="table is-fullwidth" >
        <tr style="cursor:pointer;">
          <th ng-repeat='column in $ctrl.config.columns' 
            ng-click="$ctrl.sortBy(column.field + '.value')">{{ column.label }}</th>
          <th ng-click="$ctrl.sortBy('size.numericalValue')" style="text-align: right;">Download</th>
        </tr>
        <tr style="position:relative;"
          ng-repeat-start="binding in $ctrl.queryResult.bindings | limitTo:$ctrl.tableLimit | orderBy:$ctrl.sortProperty:$ctrl.sortReverse">

          <td ng-repeat='column in $ctrl.config.columns' style="cursor:pointer;"
            ng-click="binding.epxanded = !binding.epxanded">
            <div ng-if="$first" style="margin-right:1em;  cursor:pointer;"
              ng-class="{ right : !binding.epxanded, down : binding.epxanded }" class="arrow"></div>{{
            $ctrl.getCellValues(binding, column); }}
          </td>
          <td style="text-align: right;">
            {{ $ctrl.formatUploadSize(binding.size.numericalValue) }}
            <a target="_blank" href="{{ $ctrl.createRelativeUri(binding.file.value) }}"><svg
                style="margin-left:1em;margin-bottom:-.4em;" width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                fill-rule="evenodd" clip-rule="evenodd">
                <path
                  d="M6 16h-5v6h22v-6h-5v-1h6v8h-24v-8h6v1zm14 2c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1zm-7.5-17v14.884l4.736-5.724.764.645-5.979 7.195-6.021-7.205.765-.644 4.735 5.732v-14.883h1z" />
              </svg></a>
          </td>
        </tr>
        <tr ng-repeat-end ng-if="binding.epxanded">
          <td ng-attr-colspan="{{ $ctrl.config.columns.length + 1 }}" style="padding:0; max-width: 0px;">
            <div>
              <pre ng-if="binding.preview.value != null">{{ binding.preview.value }}</pre>
              <pre ng-if="binding.preview.value == null">Preview could not be loaded</pre>
            </div>
          </td>
        </tr>
      </table>
      <div style="text-align:center; color:#999; cursor:pointer;" ng-click="$ctrl.tableLimit=null">
        <div style="border:1px solid #dbdbdb; padding: 0.2em"
          ng-if="$ctrl.tableLimit!=null && $ctrl.queryResult.bindings.length > $ctrl.tableLimit">Show All</div>
      </div>
    </div>

    <div class="distribution-list" ng-if="$ctrl.activeTab == 1">
      <textarea class="textarea" rows="40">{{ $ctrl.queryResult.uriList }}</textarea>
    </div>

    <div class="distribution-query" ng-if="$ctrl.activeTab == 2">
      <div class="disabled-yasqe">
        <yasqe-text query="$ctrl.fileQuery" auto-size="true"></yasqe-text>
      </div>
    </div>

  </div>
</div>