<div class="dataset-header">
  <div class="dataset-name" style="">
    <a href="{{ $ctrl.artifact.artifactUri }}">
      <p id="const" class="title is-6">{{ $ctrl.artifact.label }}</p>
    </a>
    <div class="subtitle is-6 has-text-link">
      <uri-breadcrumbs uri="$ctrl.artifact.artifactUri"></uri-breadcrumbs>
    </div>
  </div>
</div>
<div class="dataset-content">
  <div class="content">
    <div ng-if="!small" class="hyphens">{{ $ctrl.artifact.desc }}</div>
    <div class="bottom-date">
      <div class="has-text-grey-light">{{ $ctrl.artifact.date }}</div>
      <a ng-if="!small" target="_blank" href="{{ $ctrl.artifact.license }}">
        <div ng-bind-html="artifact.licenseTag"></div>
      </a>
    </div>
  </div>
</div>
