<div style='display: flex; align-items: center;'>

  <div class="field has-addons" style="margin: 0">

    <div class="control" style="display: flex;
    align-items: center;
    border: 1px solid #e3e3e3;
    color: #aaa;
    border-radius: 4px 0px 0px 4px;
    padding: 0 .5em;">

      <databus-icon shape="'collections'" size="20"></databus-icon>
    </div>

    <div class="dropdown simple">
      <div class="dropdown-trigger">
        <button style="display: flex; justify-content: space-between; border-radius: 0 4px 4px 0;" ng-click=""
          class="button">

          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" style="right: 0; left: initial;" role="menu">
        <div class="dropdown-content">

          <div class="nested-dropdown">
            <div class="dropdown-item nested-dropdown-trigger">
              <span class="icon is-small" style="margin: 0;">
                <i class="fas fa-angle-left" aria-hidden="true"></i>
              </span>
              Add to Collection
            </div>

            <div class="nested-dropdown-content">

              <div ng-click="$ctrl.addSelectionToCollection(collection.uuid)" class="dropdown-item"
                ng-repeat="collection in $ctrl.collectionManager.local" class="dropdown-item">
                {{ collection.label == '' ? "Untitled Collection" : collection.label }}
              </div>

            </div>

          </div>



        </div>

      </div>
    </div>
  </div>

  <!--div class="control">
      <button ng-click="$ctrl.addSelectionToCollection()"  style="width: 38px">
        
      <databus-icon size="20" color="'#fff'" shape="'add'"></databus-icon>
      </button>
    </div-->


</div>

<div style="flex-grow: 1;"></div>

<!--p class="control" style="margin-left: 0.5em;">
    <button ng-click="$ctrl.goToEditor()" class="button" style="width: 38px">
      <databus-icon size="22" shape="'edit'"></databus-icon>
    </button>
  </p-->



</div>