<div ng-if="$ctrl.isLoading" style="text-align:center">
  <div class="loading-rect" style="min-height: 244px;">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>

<div ng-if="!$ctrl.isLoading">

  <div>
    <table class="table is-fullwidth">
      <col width="30%">
      <col width="70%">
      <tr>
        <td>Label</td>
        <td>{{ $ctrl.collection.label }}</td>
      </tr>
      <tr>
        <td>URI</td>
        <td ng-if="$ctrl.collection.uri"><a ng-href="{{$ctrl.collection.uri}}">{{ $ctrl.collection.uri }}</a></td>
        <td ng-if="!$ctrl.collection.uri"><i style="color: #999">Not published yet</i></td>
      </tr>
      <tr>
        <td>Files</td>
        <td ng-if="$ctrl.statistics == null">0</td>
        <td ng-if="$ctrl.statistics != null">{{ $ctrl.statistics.fileCount }}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td> {{ $ctrl.formatUploadSize($ctrl.statistics.size) }}</td>
      </tr>
      <tr>
        <td>License(s)</td>
        <td>
          <div ng-if="$ctrl.statistics == null || $ctrl.statistics.licenses.length == 0">
            <i style="color: #999">None</i>
          </div>
          <div ng-repeat="license in $ctrl.statistics.licenses">
            <a ng-href="{{license}}">{{ license }}</a>
          </div>
        </td>
      </tr>
    </table>
    <div style="margin-top:40px;" class="content description-markdown">
      <div ng-bind-html="$ctrl.markdownToHtml($ctrl.collection.description)"></div>
    </div>
  </div>
</div>